<template>
    <div
      ref="myChart"
      style="
      width:100%;height:100%;
        background-color: #ffffff;
        margin-top: 40px;
        border-radius: 10px;
        flex: 1;
      "
    ></div>
</template>

<script>
import echarts from "echarts";
export default {
  name: "CityChart",
  props: {
    yData: {
      type: Array,
      // required: true,
      default: () => [],
    },
    xData: {
      type: Array,
      // required: true,
      default: () => [],
    },
    extraOption: {
      type: Object,
      default: () => ({}),
    },
    title:{
      type:String,
      default(){
        return ""
      }
    }
  },
  data() {
    return {
      chart: null,
      dataZoom_end:100,
      min1:0,
      max1:0,
      min:100,
      max:100,
      myChart:null
    };
  },
  watch:{
     yData:{
      handler(newval){
        // console.log(newval,Math.max(...newval),Math.min(...newval),'pppppppppppppppppppppppppppppp');
        let min = Math.min(...newval)
        let max = Math.max(...newval)
        // console.log(max,min,"23423333333333")
        if(min == max&&max<0){
            this.max = 0 
            this.min = min
          }else if(min == max&&max>0){
            this.min = 0
            this.max = Math.ceil(max/5)*5
          }else{
            // console.log(max,min,"=============")
            this.max = Math.ceil(max/5)*5
            this.min = Math.ceil(min/5)*5
            // if(Math.abs(max/5)<1||Math.abs(min/5)/5<1){
            //   this.max=10
            //   this.min=-10
            // }
            if(max==0){
              this.max=0
              this.min= min<-50?Math.ceil(min/5)*5:-50
            }
            if(min==0){
              this.max=max>50?Math.ceil(max/5)*5:50
              this.min=0
            }
           
            // console.log(this.max,this.min,"this.minthis.minthis.min")
          }
          if(newval.length==0||(min==0&&max==0)){
            this.min=0
            this.max=100
          }
        let len = newval
        if(len.length >12 ){
          // console.log(12 / len.length,len.length, "12/len.length");
            this.dataZoom_end = (12/len.length)*100-2;
        }else{
            this.dataZoom_end = 100;
        }
        // console.log(this.xData, "xData");
        // console.log( this.dataZoom_end,"####################");
        this.cityDraw();
      },
      deep: true,
      // immediate:true
    },
    xData: {
      handler(newval) {
        // console.log(newval, "xData");
          if(newval.length<11){
          this.xData.push("")
        }
        this.cityDraw();
      },
      // immediate:true
    },
  },
  mounted() {
    this.cityDraw();
  },
  methods: {
    cityDraw() {
      let that = this
      if(this.myChart){
        // console.log(333333333)
        this.myChart.clear()
      }
      this.myChart = echarts.init(this.$refs.myChart);
      let showDataZoom = this.dataZoom_end == 100 ? false : true;
      var option = {
        title: [
          {
            text: this.title,
            left: "35",
            textStyle: {
              color: "#000",
              fontSize: "14",
              fontWight:"normal"
            },
          },
          {
            textStyle: {
              fontSize: 14,
            },
            left: "center",
            top: "88%",
          },
        ],
        tooltip: {
          trigger: "axis", //坐标轴触发，主要在柱状图，折线图等会使用类目轴的图表中使用。
          axisPointer: {
            type: "none",
          },
          formatter: function (param, b, c, d) {
          //  console.log(param)
           if(param[0].value==""){
             return ""
           }else{
             return param[0].value + "%"
           }
            ;
          },
        },
        legend: {
          show:false
        },
        grid: {
          left:80,
          right:25
        },
        xAxis: [
          {
            type: "category",
            axisTick: {
              //坐标轴刻度相关设置。
              show: false,
            },
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            data: this.xData,
            lineStyle: {
              width: 2,
              color: "red",
            },
            
          },
        ],
        dataZoom: [
          {
            // type: 'inside',
            realtime: true,
            start: 0,
            show: showDataZoom,
            height: 8,
            bottom:0,
            handleSize: "50%",
            zoomLock: true,
            showDetail: false,
            backgroundColor: "#fff",
            end: this.dataZoom_end,
            fillerColor: "#C1C1C1",
            dataBackground: {
              areaStyle: {
                color: "#fff",
              },
              lineStyle: {
                color: "#fff",
              },
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            nameLocation: "center",
            max:that.max,
            min:that.min,
            splitNumber: 5,
            interval:(that.max-that.min)/5,
            axisLabel: {
              show: true,
              interval: "auto",
              formatter:"{value}%",
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: "rgba(210, 222, 255, 0.47)",
              },
            },
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
          },
        ],

        series: [
          {
            // name: '利润',
            type: "bar",
            barWidth: 16,
            itemStyle: {
              barBorderRadius: [30, 30, 30, 30],
              color:function(params){
                if(params.value<0)return "#127CDD"
                return "#02863F"
              },
            },
            label: {
              //图形上的文本标签，可用于说明图形的一些数据信息，比如值，名称等
              normal: {
                //正常情况

                show: false, //是否显示标签

                position: "inside", //标签的位置。

                distance: 5, //距离图形元素的距离。当 position 为字符描述值（如 'top'、'insideRight'）时候有效。default: 5

                rotate: 0, //标签旋转。从 -90 度到 90 度。正值是逆时针。
              },
            },
            data: this.yData,
          },
        ],
      };

      // 使用刚指定的配置项和数据显示图表。

      this.myChart.setOption(option);

      this.myChart.on("brushSelected", renderBrushed);

      function renderBrushed(params) {
        var brushed = [];
        var brushComponent = params.batch[0];

        for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {
          var rawIndices = brushComponent.selected[sIdx].dataIndex;
          brushed.push("[Series " + sIdx + "] " + rawIndices.join(", "));
        }

        this.myChart.setOption({
          title: {
            backgroundColor: "#333",
            text: "SELECTED DATA INDICES: \n" + brushed.join("\n"),
            bottom: 0,
            right: 0,
            width: 100,
            textStyle: {
              fontSize: 12,
              color: "#fff",
            },
          },
        });
      }
      this.myChart.setOption(option); // 设置图表属性
    },
  },
};
</script>

<style>
</style>