<template>
  <div
    ref="reportChart"
    style="width:100%;height:100%;
        background-color: #ffffff;
        border-radius: 10px;
        flex: 1;
      "
  ></div>
</template>

<script>
import echarts from "echarts";
export default {
  name: "ReportChart",
  props: {
    maxValue:{
      type:Number,
      default(){
        return 100
      }
    },
    yData: {
      type: Object,
      // required: true,
      default(){
        return {
          jg:[],
          jx:[],
          sj:[]
        }
      },
    },
    xData:{
      type:Array,
      default(){
        return []
      },
    },
    extraOption: {
      type: Object,
      default: () => ({}),
    },
    unit:{
      type:String,
      default(){
        return "件"
      }
    }
  },
  data() {
    return {
      chart: null,
      dataZoom_end:100,
      max:100,
      min:0
    };
  },
  watch:{
    yData:{
      handler(newval){
        // console.log(newval,"cccccccccc")
        // let jx = newval.jx,jg = newval.jg,sj = newval.sj;
        // // console.log(jx,jg,sj,"555555")
        // // let min = Math.min(...jx,...jg,...sj)
        // let max = Math.max(...jx,...jg,...sj)
        //   // console.log(max,"7777777777777")
        //   this.max = Math.ceil(max/5)*5
            
        //   if(jx.length==0&&jg.length==0&&sj.length==0){
        //     this.min=0
        //     this.max=100
        //   }
         let len = newval
        if(len.length >12 ){
            this.dataZoom_end = (12/len.length)*100-2;
        }else{
            this.dataZoom_end = 100;
        }
        this.reportDraw()
      },
      deep:true
    },
    xData:{
      handler(newval){
        // console.log(newval,"xData---xData")
        if(newval.length<11){
          this.xData.push("")
        }
        this.reportDraw()
      }
    }
  },
  mounted(){
      this.reportDraw()
  },
  methods:{
     reportDraw() {
      let reportChart = echarts.init(this.$refs.reportChart);
      let showDataZoom = this.dataZoom_end == 100 ? false : true;
   var option = {
        title:{},
        tooltip: {
          trigger: "axis",
          // axisPointer: {
          //   type: "none",
          // },
        },
        grid: {
          left: 80,
          right:20
        },
        color:['#5EB1FF','#386A3C','#C836ED'],
        legend: {
          // data: ["offtake 预测基线", "预测修正结果","实际 offtake"],
          show:false,
           data: [
            {
              name:"预测基线",
              textStyle: {
                fontSize: 12,
                fontWeight: "bolder",
                // color:'#5EB1FF'
              },
              icon: "rect",
            },
            {
              name:"预测修正结果",
              textStyle: {
                fontSize: 12,
                fontWeight: "bolder",
              },
              icon: "rect",
            },
            {
              name:"实际销量",
              textStyle: {
                fontSize: 12,
                fontWeight: "bolder",
              },
              icon: "rect",
            },
          ],
          itemHeight: 2,
          right: 10,
        },
        dataZoom: [
          {
            // type: 'inside',
            realtime: true,
            start: 0,
            show: showDataZoom,
            height: 8,
            bottom:0,
            handleSize: "50%",
            zoomLock: true,
            showDetail: false,
            backgroundColor: "#fff",
            end: this.dataZoom_end,
            fillerColor: "#C1C1C1",
            dataBackground: {
              areaStyle: {
                color: "#fff",
              },
              lineStyle: {
                color: "#fff",
              },
            },
          },
        ],
        xAxis: [
          {
            type: "category",
            boundaryGap:true,
            splitLine: {
              show: false,
            },
            axisLabel: {
              color: "black",
            },
            lineStyle: {
              color: "pink",
            },
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            data:this.xData,
          },
          {
            type: "category",
             splitLine: {
                  show: false,
                },
              axisLine: {
                show: false
              },
              axisTick: {
                show: false
              },
          },
        ],
        yAxis: [
          {
            type: "value",
            scale: true,
            name:this.unit,
            max:this.maxValue,
            min:0,
            nameTextStyle: {
              padding: [0, 40, 0, 0],
            },
            splitNumber: 5,
            splitLine: {
              show: true,
              lineStyle: {
                color: "rgba(210, 222, 255, 0.47)",
              },
            },
            interval:this.maxValue/5,
            boundaryGap: [0.2, 0.2],
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
          },
        ],
        series: [
              {
            name: "预测基线",
            type: "line",
            // itemStyle : { 
            //   normal : { 
            //   // color:'#275F82', //改变折线点的颜色
            //   lineStyle:{ 
            //   color:'#386A3C' //改变折线颜色
            //    } 
            //   } 
            // },
            symbolSize: 8,
            smooth: true,
            data: this.yData.jx,
             lineStyle:{
              color:'#5EB1FF'
            }
          },
  
          {
            name: "预测调整结果",
            type: "line",
            smooth: true,
            symbolSize: 8,
            data: this.yData.jg,
            lineStyle:{
              color:'#386A3C'
            }
          },
          {
            name: "实际销量",
            type: "line",
            symbolSize: 8,
            smooth: true,
            data: this.yData.sj,
            lineStyle:{
              color:'#C836ED'
            }
          },
        ],
      };
      reportChart.setOption(option); // 设置图表属性
    },
  },
};
</script>

<style>
</style>