<template>
  <div style="height:56.8px;background:#fff;border-radius:10px;display:flex;justify-content: space-around;align-items: center;">
      <Lselect
      selStyle="width:65px"
      placeholder="平台"
      :treeData="plat"
      @clearHandler="filtrate"
      @selectVal="filtrate"
      class="Lselect1"
      :showVal="true"
      :checkedArr="['京东自营']"
    ></Lselect>
    <Lselect
      selStyle="width:65px"
      placeholder="品类"
      :treeData="categoryList"
      :initSelectData="initSelectData['categoryList']"
      :selectClassName="selectClassNames[['categoryList']]"
      :checkedArr="allArr['categoryList']"
      @selectVal="filtrate"
      @clearHandler="filtrate"
      :showVal="true"
      class="Lselect"
    ></Lselect>
    <Lselect
      selStyle="width:65px"
      placeholder="品牌"
      :treeData="brandList"
      :initSelectData="initSelectData['brandList']"
      :selectClassName="selectClassNames[['brandList']]"
      :checkedArr="allArr['brandList']"
      @clearHandler="filtrate"
      @selectVal="filtrate"
      class="Lselect"
      :showVal="true"
    ></Lselect>
    <Lselect
      selStyle="width:80px"
      placeholder="子品牌"
      :treeData="subBrandList"
      :initSelectData="initSelectData['subBrandList']"
      :selectClassName="selectClassNames[['subBrandList']]"
      :checkedArr="allArr['subBrandList']"
      @clearHandler="filtrate"
      @selectVal="filtrate"
      class="Lselect"
      :showVal="true"
    ></Lselect>
    <Lselect
      selStyle="width:67px"
      placeholder="规格"
      :treeData="specsList"
      :initSelectData="initSelectData['specsList']"
      :selectClassName="selectClassNames[['specsList']]"
      :checkedArr="allArr['specsList']"
      @selectVal="filtrate"
      @clearHandler="filtrate"
      class="Lselect"
      :showVal="true"
    ></Lselect>
    <Lselect
      selStyle="width:66px"
      placeholder="SKU"
      :treeData="skuList"
        :initSelectData="initSelectData['skuList']"
      :selectClassName="selectClassNames[['skuList']]"
      :checkedArr="allArr['skuList']"
      @selectVal="filtrate"
      @clearHandler="filtrate"
      class="Lselect"
      :showVal="true"
    ></Lselect>
    <Lselect
      selStyle="width:65px"
      placeholder="城市"
      :treeData="cityList"
      :initSelectData="initSelectData['cityList']"
      :selectClassName="selectClassNames[['cityList']]"
      :checkedArr="allArr['cityList']"
      @clearHandler="filtrate"
      @selectVal="filtrate"
      content="京东全国性仓库"
      class="Lselect"
      :showVal="true"
    ></Lselect>
    <el-select popper-class="popperClass" class="Dates5" size="mini" style="width: 80px;" @change="selectChange" v-model="topDate1" placeholder="统计周期">
      <el-option label="月" :value="0" key="0"> </el-option>
      <el-option label="季度" :value="2" key="2"> </el-option>
    </el-select>
    <el-date-picker class="adate" type="monthrange" value-format="yyyy-MM" v-model="forms.dateRange" @change="dateChangeHandler" v-if="topDate1=='0'" start-placeholder="开始日期" range-separator="~" end-placeholder="结束日期" prefix-icon="dates" :clearable="false" style="width: 193px;height: 28px;line-height: 25px;"></el-date-picker>
    <quarter placeholder="开始季度    ~    结束季度" style="width:193px" :defaultValue="defaultValue" @change="dateChangeHandler($event,'季度')" v-if="topDate1=='2'"></quarter>
    <el-select popper-class="popperClass" size="mini" style="width: 132px;" v-model="banSpan" @change="emitEvent" placeholder="配置版本标签">
      <el-option v-for="(item,index) in labelList" :key="index" :label="item" :value="item"></el-option>
    </el-select>
  </div>
</template>

<script>
import Lselect from "@/components/common/lselect";
import Quarter from "@/components/common/quarter";
export default {
  name:'Select',
    props:{
        //默认全选
        allArr:{
            type: Array,
            default() {
                return [];
            }
        },
        //初始化数据
        initSelectData:{
            type: Object,
            default() {
                return {};
          }
        },
        //品类
        categoryList:{
            type: Array,
            default() {
            return [];
         }
       },
        brandList:{
            type: Array,
            default() {
            return [];
         }
       },
       subBrandList:{
            type: Array,
            default() {
            return [];
         }
       },
       specsList:{
            type: Array,
            default() {
            return [];
         }
       },
      //  sku
       skuList:{
        type: Array,
        default() {
          return [];
        }
       },
      //  城市
       cityList:{
          type: Array,
          default() {
            return [];
          }
       },
      //  标签
       labelList:{
          type: Array,
          default() {
            return [];
          }
       }
    },
  components: {
    Lselect,
    Quarter,
  },
  data() {
    return {
      dateStart: "",
      dateEnd: "",
      forms: {
        dateRange: [],
      },
      value1:"",
      defaultValue: "",
      daterange: "monthrange",
      topDate1: 0,
      labelPosition: "left",
      specsList1: [],
      brandList1: [],
      categoryList1: [],
      skuList1: [],
      cityList1: [],
      plat: ["京东自营"],
      stat: ["月", "日"],
      subBrandList1: [],
      specsListClass: "selectBefore",
      brandListClass: "selectBefore",
      categoryListClass: "selectBefore",
      skuListClass: "selectBefore",
      cityListClass: "selectBefore",
      subBrandListClass: "selectBefore",
      treeData: [{}],
      banSpan: "",
    };
  },
  computed: {
    params() {
      let option = {
        plat: 0,
        stat: this.topDate1,
        categoryList: this.categoryList1, //品类列表
        brandList: this.brandList1, //品牌列表
        subBrandList: this.subBrandList1, //子品牌列表
        skuList: this.skuList1, //sku列表
        cityList: this.cityList1, //城市列表
        specsList: this.specsList1, //规格
        start: this.dateStart, //开始时间
        end: this.dateEnd, //结束时间
        label: this.banSpan,
      };
      let list = {};
      for (let i in option) {
        if (
          (option[i] && option[i].length != 0) ||
          typeof option[i] == "number"
        ) {
          list[i] = option[i];
        }
      }
      return list;
    },
    selectClassNames() {
      let param0 = {
        categoryList: this.categoryListClass,
        brandList: this.brandListClass,
        subBrandList: this.subBrandListClass,
        skuList: this.skuListClass,
        cityList: this.cityListClass,
        specsList: this.specsListClass,
      };
      return param0;
    },
  },
  mounted(){
    this.temSess = sessionStorage.getItem("inforList")? JSON.parse(sessionStorage.getItem("inforList")): "";
    if (this.temSess != "") {
      this.topDate1 = this.temSess['stat'];
      if (this.temSess['start'] && this.temSess['stat'] == 0) {
        this.forms.dateRange = [
          new Date(this.temSess['start']),
          new Date(this.temSess['end']),
        ];
      }
      if (this.temSess['start'] && this.temSess['stat'] == 2) {
        let str =this.temSess['start'].replace("Q", "").split("-").join("年") + "季度";
        let end =this.temSess['end'].replace("Q", "").split("-").join("年") + "季度";
        this.defaultValue = str + " ~ " + end;
      }
      if (this.temSess.label) {
        this.banSpan = this.temSess.label;
      }
      if (this.temSess.categoryList) {
        this.categoryList1 = this.temSess.categoryList;
        this.categoryListClass = "selectAfter";
      }
      if (this.temSess.brandList) {
        this.brandList1 = this.temSess.brandList;
        this.brandListClass = "selectAfter";
      }
      if (this.temSess.subBrandList) {
        this.subBrandList1 = this.temSess.subBrandList;
        this.subBrandListClass = "selectAfter";
      }
      if (this.temSess.skuList) {
        this.skuList1 = this.temSess.skuList;
        this.skuListClass = "selectAfter";
      }
      if (this.temSess.cityList) {
        this.cityList1 = this.temSess.cityList;
        this.cityListClass = "selectAfter";
      }
      if (this.temSess.specsList) {
        this.specsList1 = this.temSess.specsList;
        this.specsListClass = "selectAfter";
      }
    }
  },
  methods: {
    init(){
      this.categoryListClass=this.categoryListClass1,
      this.brandListClass=this.brandListClass1,
      this.subBrandListClass=this.subBrandListClass1,
      this.skuListClass=this.skuListClass1,
      this.cityListClass=this.cityListClass1,
      this.specsListClass=this.specsListClass1
    },
     dateChangeHandler(val, str) {
      // console.log(val,str,"-------------------------");
      if (str) {
        let temArr = val
          .replace(/[^0-9]/gi, "-")
          .split("-")
          .filter((item) => {
            return item != "";
          });
        temArr[1] = "Q" + temArr[1];
        temArr[3] = "Q" + temArr[3];
        // console.log(temArr)
        this.filtrate(temArr, "", "", "季度");
      } else {
        this.filtrate(val, "", "", "时间");
      }
    },
    filtrate(value, a, b, c, d) {
      let temArr = d ? [] : value;
      let className = d ? "selectBefore" : "selectAfter";
      switch (c) {
        case "品类":
          if(value.length == this.initSelectData["categoryList"].length){
            this.categoryListClass ="selectBefore"
            this.categoryList1 = []
          }else{
            this.categoryList1 = temArr;
            this.categoryListClass =className
          }
          break;
        case "品牌":
         if(value.length == this.initSelectData["brandList"].length){
            this.brandListClass ="selectBefore"
            this.brandList1 = []
          }else{
            this.brandList1 = temArr;
            this.brandListClass =className
          }
          // this.brandList1 = temArr;
          break;
        case "子品牌":
            if(value.length == this.initSelectData["subBrandList"].length){
            this.subBrandListClass ="selectBefore"
            this.subBrandList1 = []
          }else{
            this.subBrandList1 = temArr;
            this.subBrandListClass =className
          }
          break;
        case "SKU":
           if(value.length == this.initSelectData["skuList"].length){
            this.skuListClass ="selectBefore"
            this.skuList1 = []
          }else{
            this.skuList1 = temArr;
            this.skuListClass =className
          }
          break;
        case "城市":
            if(value.length == this.initSelectData["cityList"].length){
            this.cityListClass ="selectBefore"
            this.cityList1 = []
          }else{
            this.cityList1 = temArr;
            this.cityListClass =className
          }
          // this.cityList1 = temArr;
          break;
        case "规格":
            if(value.length == this.initSelectData["specsList"].length){
            this.specsListClass ="selectBefore"
            this.specsList1 = []
          }else{
            this.specsList1 = temArr;
            this.specsListClass =className
          }
          break;
        case "时间":
          this.dateStart = value == null ? "" : value[0];
          this.dateEnd = value == null ? "" : value[1];
          break;
        case "季度":
          this.dateStart = value[0] + "-" + value[1];
          this.dateEnd = value[2] + "-" + value[3];
          break;
        default:
          break;
      }
      this.emitEvent();
    },
    emitEvent(){
      this.$emit("filtrateNumber",this.params)
    },
    selectChange(val) {
      this.forms.dateRange = ""
      this.dateStart = ""
      this.dateEnd = ""
      this.topDate1 = val
      this.defaultValue = ""
      // this.daterange = val == 0 ? "monthrange" : "daterange";
      this.emitEvent();
    },
  },
};
</script>

<style lang="less" scoped>
.sku_word{
  color: #403f3f;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;  
}
.sku{
  color: #8d8d8d;
  font-style: Light;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.skuList{
  margin-left: 20px;
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6b6a6a;
}
.city_word{
  color: #403f3f;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px; 
}
.city{
  color: #8d8d8d;
  font-style: Light;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.cityList{
  margin-left: 20px;
  margin-top: 10px;
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6b6a6a;
}
.date{
  width: 270px;
  height: 28px;
  line-height: 25px;
  margin-left: 32px; 
}
.Season{
  display: inline-block;
  margin-left: 31px;
  width: 266px; 
}
.choose /deep/ .el-date-editor .el-range-separator {
  line-height: 15px;
  margin-top: 5px;
}
.choose{
  width: 100%;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(64, 61, 61, 0.05);
  border-radius: 8px;
  margin-bottom: 10px;
}
//下拉框箭头
/deep/.lselectCom .el-input__suffix {
  right: -2px;
}
/deep/.lselectCom /deep/.el-icon-arrow-up:before {
  display: inline-block;
  transform: scale(0.8);
  margin-top: 2px;
}
/deep/.el-input__icon {
  line-height: 24px;
}
/deep/.el-input__inner {
  font-size: 14px;
}

</style>