<template>
  <div id="BasicInfor">
    <div style="width:300px;margin:30px auto">
      <h2>请填写配置版本基本信息</h2>
      <el-form :model="ruleForm" status-icon ref="ruleForm" label-width="80px" label-position="left" class="demo-ruleForm" size="small">
        <el-form-item label="配置名称" prop="name">
          <el-input style="width:180px" :disabled="disabled" v-model="ruleForm.name" autocomplete="off" placeholder="请输入配置名称"></el-input>
        </el-form-item>
        <el-form-item label="选择品类" prop="type">
           <el-select :disabled="disabled" style="width:120px" @change="selectChange" v-model="type" placeholder="请选择">
              <el-option label="Cereal" value="Cereal">
              </el-option>
            </el-select>
        </el-form-item>
        
        <el-form-item label="预测时间" prop="date">
            <el-select style="width:120px" @change="selectChange" v-model="ruleForm.data.tgt_mth" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">下一步</el-button>
          <el-button @click="$router.go(-1)">取消</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script>
import {getDefault,getLookModel,preResult} from "@/api/modelPrediction"
export default {
  name:"BasicInfor",
  components:{
  },
  data(){
    return {
      ruleForm:{
        name:"",
        data:{
          category:"",
          tgt_typ:0,
          tgt_mth:"",
        }
        
      },
      checkedArr:[],
      treeData:[
        "Cereal"
      ],
      disabled:false,
      type:"",
      runokBtn:false,
      model_data:[]
    }
  },
  mounted(){
    // this.init()
    
    if(this.$route.query.para){
      this.disabled=true
      let rout = JSON.parse(this.$route.query.para)
      this.checkedArr=[rout.id.category]
      this.runokBtn=true
      this.type = rout.id.category
      this.ruleForm.name = rout.id.name
      // this.updatainit(rout.id.id)
      }else{
        this.disabled=false
      }
  },
  computed:{
    options(){
      let param =[this.time(new Date()),this.time(new Date((new Date).getFullYear(), (new Date).getMonth() + 1, 1, 12))]
      return param
    }
  },
  methods:{
    async updatainit(model_id){
      let res = await getLookModel({model_id})
      // this.filterDefaultData(res.data.model_data)
      this.model_data=res.data.model_data

    },
    selectChange(){
      if(this.$route.query.para){
        this.ruleForm.data.category = this.type
        // console.log(this.options.indexOf(this.ruleForm.tgt_mth),"6666666")
        this.ruleForm.data.tgt_typ = this.options.indexOf(this.ruleForm.data.tgt_mth)
        let para = this.ruleForm
        // console.log(this.model_data,"ggggggggg")
        // this.filterDefaultData(this.model_data)
      }
    },
    filterDefaultData(data){
        data.forEach((item,ind)=>{
          item.request_id = ind
          item.tgt_typ = this.ruleForm.data.tgt_typ
          item.tgt_mth = this.ruleForm.data.tgt_mth
        })
        console.log(data,"-------------------------")
        this.priceRegFunc(data)
    },
    async priceRegFunc(data){
      let res = await preResult(data)
    },
    getnowDate(){
     let date = new Date("yyyy-mm-dd").toLocaleDateString();
    },

      time(date) {
            var y = date.getFullYear()
            var m = date.getMonth() + 1
            m = m < 10 ? '0' + m : m
            var d = date.getDate()
            d = d < 10 ? '0' + d : d
            var h = date.getHours()
            h = h < 10 ? '0' + h : h
            var minute = date.getMinutes()
            minute = minute < 10 ? '0' + minute : minute
            var second = date.getSeconds()
            second = second < 10 ? '0' + second : second
            return y + '-' + m
        },

    submitForm(){
      if(this.$route.query.para){
        let rout = JSON.parse(this.$route.query.para)
         this.ruleForm.data.category = this.type
        // console.log(this.options.indexOf(this.ruleForm.tgt_mth),"6666666")
        this.ruleForm.data.tgt_typ = this.options.indexOf(this.ruleForm.data.tgt_mth)
        // let para = 
        let para = {page:rout.page,id:rout.id.id,otherdata:this.ruleForm.data,name:this.ruleForm.name,forecastDate:this.ruleForm.data.tgt_mth}
        // console.log(para,"paraparaparaparaparaparaparapara")
          if(para.otherdata.tgt_typ==-1){
            this.$message.error("请选择预测时间")
          }else{
            this.$router.push({path:"/modelPrediction/ForecastConfig",query:{para:JSON.stringify(para)}})
          }
      }else{
        this.ruleForm.data.category = this.type
        // console.log(this.options.indexOf(this.ruleForm.tgt_mth),"6666666")
        this.ruleForm.data.tgt_typ = this.options.indexOf(this.ruleForm.data.tgt_mth)
        let para = this.ruleForm
        // para.data.tgt_mth = this.time(new Date())
        para["page"]="new"
        para["forecastDate"]=this.ruleForm.data.tgt_mth
        // console.log(para,"paraparaparapara")
        if(para.name==""){
          this.$message.error("请输入配置名称")
        }else if(para.data.category==""){
          this.$message.error("请选择品类")
        }else if(para.data.tgt_typ==-1){
          this.$message.error("请选择预测时间")
        }else{
          this.$router.push({path:"/modelPrediction/ForecastConfig",query:{para:JSON.stringify(para)}})
        }
      }

    },
    
    formatMonth(count){
        var date = new Date(),day,yy,mm;
        day = new Date(date.getYear(),date.getMonth(),count);
        yy = date.getFullYear();
        mm = day.getMonth() + 1;
        return yy + '-' + mm;
    },
 
    async init(){
      let res=await getDefault()

    }
  }
  
}
</script>
<style lang="less">
#BasicInfor{
  width:100%;
  height:100%;
  overflow-x: hidden;
  background:#FFF;
  border-radius: 10px;
  padding:0 20px;
  h2{
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    margin:54px 0
  }
  input::-webkit-input-placeholder{
    color:#C0C4CC !important;
    font-size: 12px !important;
    text-align:left!important
  }
  input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#C0C4CC !important;
    font-size: 12px !important;
    text-align:left!important
  }
  input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#C0C4CC !important;
    font-size: 12px !important;
    text-align:left!important
  }
  input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#C0C4CC !important;
    font-size: 12px !important;
    text-align:left!important
  }
}
</style>