<template>
  <div id="DataSummary" v-loading.fullscreen="loading" element-loading-background="rgba(0, 0, 0, 0.8)">
    <p class="title">
      <span>版本名称：{{spanNames}}</span>
    </p>
    <div style="display:flex;justify-content:space-between">
      <div class="DStop_div" v-for="(item,index) in topData" :key="index">
        <div>
          <p>{{item.name}}</p>
          <p><i>配置一: </i><span>{{item.value1=="NaN"?"--":item.value1}}</span></p>
          <p><i>配置二: </i><span>{{item.value2=="NaN"?"--":item.value2}}</span></p>
          <p v-if="item.value3!=''"><i>配置三: </i><span>{{item.value3=="NaN"?"--":item.value3}}</span></p>
        </div>
        <div>
          <img :src="pictur[index]" alt="">
          <span>{{unit}}</span>
        </div>
      </div>
    </div>
     <div style="display:flex;margin:20px 0;justify-content:space-between">
      <ltabButton :btnList="btnList"  @change="activeName = $event"></ltabButton>
      <div style="display:flex">
        <div style="display:flex;margin-right:30px" >
          <p style="line-height:31px">显示：</p>
          <el-checkbox-group style="line-height:31px" v-model="checkedList" :min="1" @change="checkBoxChange">
            <el-checkbox label="param">参数不同行</el-checkbox>
            <el-checkbox label="result">结果不同行</el-checkbox>
            <el-checkbox label="all">全部行</el-checkbox>
          </el-checkbox-group>
        </div>
        <el-button size="mini" type="primary" @click="$router.go(-1)">返回</el-button>
      </div>
    </div>
    <newTableComLook
      :tableData="data333" 
      :colData="colData" 
      :stripe="true"
      @numChange="numChange"
      :widthArr="[120,100,150,100,100,100,120,80,120,130,120,120,120,100,100]"
      style="height:610px">
        <el-table-column
            v-for="(item,index) in colData1"
            :key="item.prop+''+ index "
            :prop="item.prop"
            :label="item.name"
            :render-header="renderSpecNameHeader"
            fixed
            align="center"
            :width="tabWidth[index]"
            show-overflow-tooltip
          >
          <template slot-scope="scope">
            <!-- {{scope}} -->
            <span v-if="scope.column.label=='SKU'">
              <span>
                {{scope.row[scope.column.property]}}<br>
                <i style="font-size:10px;color:#696969">{{scope.row.sku_id_jd?scope.row.sku_id_jd+"|"+scope.row.sku_id_sap:""}}</i>
              </span>
            </span>
            <span v-else>{{scope.row[scope.column.property]}}</span>
            
          </template>
        </el-table-column>
    </newTableComLook>
  </div>
</template>
<script>
import ltabButton from "@/components/common/tabButton"
import Lselect from "@/components/common/lselect"
import newTableCom from "@/components/modelPrediction/newTableCom"
import newTableComLook from "@/components/modelPrediction/newTableComLook"
import {getDefault,priceReg,preResult,saveData,getLookModel,updateSave,comparisonFunc} from "@/api/modelPrediction"
export default {
  name:'DataSummary',
  data() {
    return {
      dialogVisible:false,
      checkedList:["all"],
      updataName:"",
      num:50,
      temDataPar:[],
      temFilterData:[],
      property1:"",
      tableids:{},
      ids:{},
      idsnum:[],
      temOBJtem:[],
      showLoadMore:true,
      temObj:{},
      activeIndex:0,
      defaultParams:{},
      spanNames:"",
      loading:false,
      unit:"件",
      tabWidth:[78,90,80,90,100],
      pictur:[
        require('@/assets/image/FC1.png'),
        require('@/assets/image/FC2.png'),
        require('@/assets/image/FC4.png'),
        require('@/assets/image/FC5.png')
        ],
      btnList:[
        {label:"按件数",value:"first"},
        {label:"按箱数",value:"second"},
        {label:"按金额",value:"third"},
        {label:"按吨数",value:"fourth"}
      ],
      finData:[],
      qtyData:[],
      kgData:[],
      sdvData:[],
      csData:[],
      activeName:"first",
      tableData:[],
      treeData:[],
      colData:[],
      selectClassNames:["selectBefore","selectBefore","selectBefore","selectBefore","selectBefore"],
      temobj_copy:{},
      colData1:[
        {name:"品牌",prop:"brand"},
        {name:"子品牌",prop:"sub_brand"},
        {name:"规格",prop:"pkg_size"},
        {name:"SKU",prop:"abbr_name"},
        {name:"城市",prop:"main_depot_jd"},
      ],
       colData_qty:[
        {name:"版本名称",
          children:[{name:"",prop:"model_name"}]
        },
        {name:"预测基线",
          children:[{name:"(件)",prop:"fcst_bs_qty"}]
        },
        {name:"价格/促销",
          children:[{name:"",prop:"price_par"}]
        },
        // {name:"当月实际价格",
        //   children:[{name:"",prop:"price_true"}]
        // },
        {name:"流量变化",
          children:[{name:"",prop:"pv_par"}]
        },
        {name:"其他变化",
          children:[{name:"",prop:"others_par"}]
        },
        {name:"预测调整结果",
          children:[
            {name:"件数",prop:"fcst_aft_adj_qty"},
            {name:"同比增速",prop:"yoy_qty"},
            {name:"环比增速",prop:"mom_qty"}
          ]
        },
        {name:"安全库存天数",
          children:[{name:"(天)",prop:"sft_stock_dys"}]
        },
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_qty"},
            {name:"15天参考",prop:"recom_stock_15_qty"},
            {name:"7天参考",prop:"recom_stock_7_qty"}
          ]
        },
        {name:"实际KA库存量",children:[{name:"(件)",prop:"act_stock_qty"}]},
        {name:"推荐发货量",children:[{name:"(件)",prop:"recom_ship_qty"}]},
        {name:"百事当前库存",children:[{name:"(件)",prop:"act_pepsi_stock_qty"}]},
        {name:"在途量",children:[{name:"(件)",prop:"in_transit_qty"}]},
        {name:"预期完成率",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      colData_cs:[
        {name:"版本名称",
          children:[{name:"",prop:"model_name"}]
        },
        {name:"预测基线",
          children:[{name:"(箱)",prop:"fcst_bs_cs"}]
        },
        {name:"价格/促销",prop:"price_par",children:[{name:"",prop:"price_par"}]},
        // {name:"当月实际价格",prop:"price_true",children:[{name:"",prop:"price_true"}]},
        {name:"流量变化",prop:"pv_par",children:[{name:"",prop:"pv_par"}]},
        {name:"其他变化",prop:"others_par",children:[{name:"",prop:"others_par"}]},
        {name:"预测调整结果",
          children:[
            {name:"箱数",prop:"fcst_aft_adj_cs"},
            {name:"同比增速",prop:"yoy_cs"},
            {name:"环比增速",prop:"mom_cs"}
          ]
        },
        {name:"安全库存天数",prop:"sft_stock_dys",children:[{name:"(天)",prop:"sft_stock_dys"}]},
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_cs"},
            {name:"15天参考",prop:"recom_stock_15_cs"},
            {name:"7天参考",prop:"recom_stock_7_cs"}
          ]
        },
        {name:"实际KA库存量",prop:"act_stock_cs",children:[{name:"(箱)",prop:"act_stock_cs"}]},
        {name:"推荐发货量",prop:"recom_ship_cs",children:[{name:"(箱)",prop:"recom_ship_cs"}]},
        {name:"百事当前库存",prop:"act_pepsi_stock_cs",children:[{name:"(箱)",prop:"act_pepsi_stock_cs"}]},
        {name:"在途量",prop:"in_transit_cs",children:[{name:"(箱)",prop:"in_transit_cs"}]},
        {name:"预期完成率",prop:"fcst_ffr",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      colData_sdv:[
        {name:"版本名称",
          children:[{name:"",prop:"model_name"}]
        },
        {name:"预测基线",
          children:[{name:"(元)",prop:"fcst_bs_sdv"}]
        },
        {name:"价格/促销",prop:"price_par",children:[{name:"",prop:"price_par"}]},
        // {name:"当月实际价格",prop:"price_true",children:[{name:"",prop:"price_true"}]},
        {name:"流量变化",prop:"pv_par",children:[{name:"",prop:"pv_par"}]},
        {name:"其他变化",prop:"others_par",children:[{name:"",prop:"others_par"}]},
        {name:"预测调整结果",
          children:[
            {name:"金额",prop:"fcst_aft_adj_sdv"},
            {name:"同比增速",prop:"yoy_sdv"},
            {name:"环比增速",prop:"mom_sdv"}
          ]
        },
        {name:"安全库存天数",prop:"sft_stock_dys",children:[{name:"(天)",prop:"sft_stock_dys"}]},
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_sdv"},
            {name:"15天参考",prop:"recom_stock_15_sdv"},
            {name:"7天参考",prop:"recom_stock_7_sdv"}
          ]
        },
        {name:"实际KA库存量",prop:"act_stock_sdv",children:[{name:"(元)",prop:"act_stock_sdv"}]},
        {name:"推荐发货量",prop:"recom_ship_sdv",children:[{name:"(元)",prop:"recom_ship_sdv"}]},
        {name:"百事当前库存",prop:"act_pepsi_stock_sdv",children:[{name:"(元)",prop:"act_pepsi_stock_sdv"}]},
        {name:"在途量",prop:"in_transit_sdv",children:[{name:"(元)",prop:"in_transit_sdv"}]},
        {name:"预期完成率",prop:"fcst_ffr",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      colData_kg:[
        {name:"版本名称",
          children:[{name:"",prop:"model_name"}]
        },
        {name:"预测基线",
          children:[{name:"(千克)",prop:"fcst_bs_kg"}]
        },
        {name:"价格/促销",prop:"price_par",children:[{name:"",prop:"price_par"}]},
        // {name:"当月实际价格",prop:"price_true",children:[{name:"",prop:"price_true"}]},
        {name:"流量变化",prop:"pv_par",children:[{name:"",prop:"pv_par"}]},
        {name:"其他变化",prop:"others_par",children:[{name:"",prop:"others_par"}]},
        {name:"预测调整结果",
          children:[
            {name:"吨数",prop:"fcst_aft_adj_kg"},
            {name:"同比增速",prop:"yoy_kg"},
            {name:"环比增速",prop:"mom_kg"}
          ]
        },
        {name:"安全库存天数",prop:"sft_stock_dys",children:[{name:"(天)",prop:"sft_stock_dys"}]},
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_kg"},
            {name:"15天参考",prop:"recom_stock_15_kg"},
            {name:"7天参考",prop:"recom_stock_7_kg"}
          ]
        },
        {name:"实际KA库存量",prop:"act_stock_kg",children:[{name:"(千克)",prop:"act_stock_kg"}]},
        {name:"推荐发货量",prop:"recom_ship_kg",children:[{name:"(千克)",prop:"recom_ship_kg"}]},
        {name:"百事当前库存",prop:"act_pepsi_stock_kg",children:[{name:"(千克)",prop:"act_pepsi_stock_kg"}]},
        {name:"在途量",prop:"in_transit_kg",children:[{name:"(千克)",prop:"in_transit_kg"}]},
        {name:"预期完成率",prop:"fcst_ffr",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      count:100
    }
  },
  // beforeUpdate(){
  //   this.loading = true
  // },
  components: {
    ltabButton,
    Lselect,
    newTableComLook
  },
  computed: {
    data333(){
      return this.data444.slice(0,this.num)
      // return this.data444
    },
    data444(){
      let keys = Object.keys(this.temObj),temObj=this.temObj
      let checkBox = this.checkedList.join(",")
      let arr={first:this.qtyData,second:this.csData,third:this.sdvData,fourth:this.kgData}
      let param = arr[this.activeName]
        return param.filter((item) => {
          if(checkBox=="param"){
            return JSON.stringify(this.temObj) == "{}" || keys.every(key => this.temObj[key].indexOf(item[key]) !== -1 && item['is_params_different']==1)
          }else if(checkBox=="result"){
            return JSON.stringify(this.temObj) == "{}" || keys.every(key => this.temObj[key].indexOf(item[key]) !== -1 && item['is_result_different']==1)
          }else{
            return JSON.stringify(this.temObj) == "{}" || keys.every(key => this.temObj[key].indexOf(item[key]) !== -1)
          }
        })
    },
     topData(){
        let data = this.data444,
        arr0 = [],
        arr1=[],
        arr2=[],
        arr3=[],
        arr4=[],
        ids = JSON.parse(this.$route.query.para).id,
        arrfilt=[];
        for(let i=0;i<ids.length;i++){
          arrfilt.push(data.filter(item=>{return item.model_id==ids[i]}))
        }
        arrfilt.forEach(item=>{
          let peizhi0=[],peizhi1=[],peizhi2=[],peizhi3=[],peizhi4=[]
          for(let i in item){
            for(let j in item[i]){
              if(j.indexOf("fcst_bs")!==-1){peizhi0.push(item[i][j])}
              if(j.indexOf("fcst_aft_adj")!==-1){peizhi1.push(item[i][j])}
              // if(i.indexOf("recom_stock")!==-1){arr2.push(item[i])}
              if(j.indexOf("act_stock")!==-1){peizhi3.push(item[i][j])}
              if(j.indexOf("recom_ship")!==-1){peizhi4.push(item[i][j])}
            }
          }
          arr0.push(peizhi0)
          arr1.push(peizhi1)
          // arr2.push(peizhi2)
          arr3.push(peizhi3)
          arr4.push(peizhi4)
        })
        let getSum=function(ar){
            let arr=ar;   
            let s=eval(arr.join("+"))
            let num = Number(s).toFixed(0)
          return  (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
        }; 
       let arr = [
          {name:"预测基线",
            value1:getSum(arr0[0]),
            value2:getSum(arr0[1]),
            value3:arr0[2]?getSum(arr0[2]):""},
          {name:"预测调整结果",value1:getSum(arr1[0]),value2:getSum(arr1[1]),value3:arr1[2]?getSum(arr1[2]):""},
          // {name:"推荐KA库存量",value:getSum(arr2)},
          {name:"KA实际库存量",value1:getSum(arr3[0]),value2:getSum(arr3[1]),value3:arr3[2]?getSum(arr3[2]):""},
          {name:"推荐发货量",value1:getSum(arr4[0]),value2:getSum(arr4[1]),value3:arr4[2]?getSum(arr4[2]):""},
        ]
        return arr
      },
  },
  mounted(){
    this.initData()
  },
  methods:{
    initData(){
      let propData = JSON.parse(this.$route.query.para)
      this.defaultParams = propData
      let pName = ["配置一","配置二","配置三"]
      let str = ""
      propData.name.forEach((item,index)=>{
        if(index==propData.name.length-1){
          str+=`${pName[index]}(${item})`
        }else{
          str+=`${pName[index]}(${item}),`
        }
      })
      this.spanNames = str
      this.getDefault()
    },
    checkBoxChange(val){
      this.loading = true
      this.checkedList=[val[val.length-1]] 
      setTimeout(()=>{
        this.loading=false
      },1000)
    },
    numChange(val,ids){
      // console.log()
      this.num = val
      // ids.num++
      // this.ids = ids
    },
    async getLookModel(model_id,page){
      this.loading=true
      let res = await getLookModel({model_id})
      let parm = res.data.model_config
      let pa = {
        name:parm.model_name,
        id:model_id,
        page,
        data:{
          tgt_mth:parm.tgt_mth,
          category:parm.category,
          tgt_typ:parm.tgt_typ
        }
      }
      this.defaultParams = pa
      this.init(res.data.model_data,true)
      this.loading=false
    },
      handleClose(){

      },
    init(data,bol){  
      // this.ids = this.tableids
        // let data = val.data.pred
      this.filterDefaultData(data)
      if(bol){
       this.tableHeader(data)
      }
      switch (this.activeName) {
        case "first":
          // this.tableData = this.qtyData.slice(0,20)
          this.tableData = this.qtyData
          this.colData = this.colData_qty
          break;
        case "second":
           this.tableData = this.csData
           this.colData = this.colData_cs
          break;
        case "third":
           this.tableData =this.sdvData
           this.colData = this.colData_sdv
          break;
        case "fourth":
           this.tableData = this.kgData
           this.colData = this.colData_kg 
          break;
        default:
          break;
      }
      // this.temDataPar =JSON.parse(JSON.stringify(this.tableData))
    },
    async getDefault(){
      this.loading=true
      
      let res = await comparisonFunc({model_ids:this.defaultParams.id.join()})
      this.init(res.data,true)
      this.loading=false
    },
    tableHeader(data,str,property){
      let treedata=[[],[],[],[],[]],param=[],treedata1=[[],[],[],[],[]];
      let aaa=["brand","sub_brand","pkg_size","abbr_name","main_depot_jd"]
      let index = aaa.indexOf(property)
      if(str){
        switch (this.activeName) {
          case "first":
            param = this.qtyData
            break;
          case "second":
            param = this.csData
            break;
          case "third":
            param = this.sdvData
            break;
          case "fourth":
            param = this.kgData
            break;
          default:
            break;
        }
        param.forEach(item=>{
          treedata[0].indexOf(item.brand)==-1?treedata[0].push(item.brand):''
          treedata[1].indexOf(item.sub_brand)==-1?treedata[1].push(item.sub_brand):''
          treedata[2].indexOf(item.pkg_size)==-1?treedata[2].push(item.pkg_size):''
          treedata[3].indexOf(item.abbr_name)==-1?treedata[3].push(item.abbr_name):''
          treedata[4].indexOf(item.main_depot_jd)==-1?treedata[4].push(item.main_depot_jd):''
        })
          let temobj_copy = this.temobj_copy
          aaa.forEach((item,index1)=>{
            if(temobj_copy[item]){
            }else{
              this.$set(this.treeData,index1,treedata[index1])
              this.$set(this.temObj,item,treedata[index1])
            }
          })
          setTimeout(() => {
            this.data444.forEach(item=>{
              treedata1[0].indexOf(item.brand)==-1?treedata1[0].push(item.brand):''
              treedata1[1].indexOf(item.sub_brand)==-1?treedata1[1].push(item.sub_brand):''
              treedata1[2].indexOf(item.pkg_size)==-1?treedata1[2].push(item.pkg_size):''
              treedata1[3].indexOf(item.abbr_name)==-1?treedata1[3].push(item.abbr_name):''
              treedata1[4].indexOf(item.main_depot_jd)==-1?treedata1[4].push(item.main_depot_jd):''
            })
            aaa.forEach((item,index1)=>{
              if(temobj_copy[item]){
              }else{
                this.$set(this.treeData,index1,treedata1[index1])
                this.$set(this.temObj,item,treedata1[index1])
              }
            })
          }, 300);
      }else{
        param=data
        param.forEach(item=>{
          treedata[0].indexOf(item.brand)==-1?treedata[0].push(item.brand):''
          treedata[1].indexOf(item.sub_brand)==-1?treedata[1].push(item.sub_brand):''
          treedata[2].indexOf(item.pkg_size)==-1?treedata[2].push(item.pkg_size):''
          treedata[3].indexOf(item.abbr_name)==-1?treedata[3].push(item.abbr_name):''
          treedata[4].indexOf(item.main_depot_jd)==-1?treedata[4].push(item.main_depot_jd):''
        })
        this.treeData = treedata
        this.$set(this.temObj,"brand",treedata[0])
        this.$set(this.temObj,"sub_brand",treedata[1])
        this.$set(this.temObj,"pkg_size",treedata[2])
        this.$set(this.temObj,"abbr_name",treedata[3])
        this.$set(this.temObj,"main_depot_jd",treedata[4])
      }
    },
    filterDefaultData(data){
        let arr_qty=[],arr_cs=[],arr_sdv=[],arr_kg=[];
        let keys= ["request_id","category","brand","sub_brand","pkg_size","sku_id_jd","sku_id_pepsi","sku_name","abbr_name","main_depot_jd","main_depot_pepsi","price_par","price_true","pv_par","others_par","sft_stock_dys","fcst_ffr","tgt_typ","tgt_mth","platform","sku_id_sap","model_name","model_id","is_params_different","is_result_different"]
        let checkedObj={price_par:false,others_par:false,pv_par:false,sft_stock_dys:false}
        data.forEach((item,ind)=>{
          item.request_id = ind
          // item.tgt_typ = this.defaultParams.data.tgt_typ
          // item.tgt_mth = this.defaultParams.data.tgt_mth
          let obj_qty = {}, //件数
              obj_cs = {}, //箱数
              obj_sdv= {}, //金额
              obj_kg = {}; //重量
          for(let i in item){
            if(keys.indexOf(i)!==-1){
              obj_qty[i] = item[i]
              obj_cs[i] = item[i]
              obj_sdv[i] = item[i]
              obj_kg[i] = item[i]
              obj_kg.checked=checkedObj
              obj_cs.checked=checkedObj
              obj_sdv.checked=checkedObj
              obj_qty.checked=checkedObj
            }else{
              obj_qty["act_pepsi_stock"] = item["act_pepsi_stock"]
              // console.log(i,"000000")
              let _arr = i.split("_")
              switch (_arr[_arr.length-1]) {
                case "qty":
                  obj_qty[i] = item[i]=="NaN"?null:item[i]
                  break;
                case "cs":
                  obj_cs[i] = item[i]=="NaN"?null:item[i]
                  break;
                case "sdv":
                  obj_sdv[i] = item[i]=="NaN"?null:item[i]
                  break;
                case "kg":
                  obj_kg[i] = item[i]=="NaN"?null:item[i]
                  break;
                default:
                  break;
              }
            }
          }
          arr_cs.push(obj_cs)
          arr_qty.push(obj_qty)
          arr_sdv.push(obj_sdv)
          arr_kg.push(obj_kg)
        })
        this.qtyData=arr_qty
        this.csData=arr_cs
        this.sdvData=arr_sdv
        this.kgData=arr_kg
    },
    renderSpecNameHeader(createElement, { column, $index }) {
      let self = this;
      //该列的绑定数据
      // console.log(column);
      //列号
      // console.log($index);
      return createElement(
        "div",
        {
          style: "display:flex;"
        },
        [
          // createElement("div", {
          //   domProps: {
          //     innerHTML: column.label
          //   }
          // }),
          createElement(Lselect, {
            style: "cursor: pointer;",
            // 组件 prop
            props: {
              treeData:this.treeData[$index],
              pIndex:$index,
              column:column,
              placeholder:column.label,
              showVal:true,
              checkedArr:this.temObj[column.property],
              selectClassName:this.selectClassNames[$index-1],
              content:column.label=="城市"?"京东全国性仓库":"",
              contentStyle:"color:#fff;font-size:16px;margin-top:3px;margin-left:0"
            },
            // 事件监听器在 `on` 属性内，
            // 但不再支持如 `v-on:keyup.enter` 这样的修饰器。
            // 需要在处理函数中手动检查 keyCode。
            on: {
              selectVal: self.selectValHandler
              // click: this.clickHandler
            },
            // 仅用于组件，用于监听原生事件，而不是组件内部使用
            // `vm.$emit` 触发的事件。
            nativeOn: {
              // click: this.nativeClickHandler
            }
          })
        ]
      );
    },
    selectValHandler(val,index,column,plo,str){
      let property = column.property
      this.property1=property
      this.$set(this.temObj,property,val)
      if(str){
        this.selectClassNames[index-1] = "selectBefore"
        this.$delete(this.temobj_copy,property)
        this.tableHeader(this.data444,"clear",property)
      }else{
         this.selectClassNames[index-1] = "selectAfter"
         this.$set(this.temobj_copy,property,val)
         this.tableHeader(this.data444)
      }
    },
  },
  watch:{
    activeName(newval){
      switch (newval) {
        case "first":
          this.colData = this.colData_qty
          this.tableData = this.qtyData.slice(0,this.num)
          // this.tableData = this.qtyData
          this.unit = "件"
          break;
        case "second":
          this.colData = this.colData_cs
          this.tableData = this.csData.slice(0,this.num)
          // this.tableData = this.csData
          this.unit = "箱"
          break;
        case "third":
          this.colData = this.colData_sdv
          this.tableData = this.sdvData.slice(0,this.num)
          // this.tableData = this.sdvData
          this.unit = "元"
          break;
        case "fourth":
          this.colData = this.colData_kg 
          this.tableData = this.kgData.slice(0,this.num)
          // this.tableData = this.kgData
          this.unit = "千克"
          break;
        default:
          break;
      }
    },
  }
};
</script>

<style lang="less">
#DataSummary{
  width:100%;
  height:100%;
  overflow-x: hidden;
  padding: 0 20px;
  .title{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom:10px;
    color:#252525;
    font-weight:bold
  }
  .DStop_div{
    width:260px;
    height:115px;
    background:#fff;
    border-radius:10px;
    display:flex;
    border:2px solid #F2F6FA;
    >div:first-child{
      padding:10px 12px;
      box-sizing: border-box;
      flex:1;
      p{
        display: flex;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        i{
          color:#9092A1;
        }
      }
      p:first-child{
        color:#3F4A99;
        font-size:16px;
        line-height:25px
      }
    }
    >div:last-child{
      box-sizing: border-box;
      padding:20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img{
        width:40px;
        height:40px
      }
      span{
        font-size: 18px;
        color:#3F4A99;
        text-align: center;

      }
    }
  }
  .el-icon-arrow-down:before{
    content:"\e65a";
    font-family: "iconfont";
    color:#fff;
    margin-left:5px;
    font-size: 14px;
  }
  
 .DiaCustomClass{
   border-radius: 10px;
   .el-dialog__header{
     background: #3661BF;
     color:#fff;
     padding:10px 20px;
     border-radius: 10px 10px 0 0;
   }
   .el-dialog__title{
     color:#fff
   }
   .el-dialog__footer{
     padding:0;
     width:100%;
     display: flex;
     .dialog-footer{
        display: flex;
        width:100%;
        button{
          width:50%;
          border-radius: 0;
          margin:0;
          border:0
        }
        button:first-child{
          border-radius:0 0 0 10px;
          background: #ddd;
        }
        .okBtnC{
          background:#3661BF;
          border-radius:0 0 10px 0;
          color:#fff
        }
     }

   }
 }
 .el-message-box__title{
   font-size: 16px;
 }
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #1D4792;
    border-color: #1D4792;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color:#9092A1
  }
  .el-checkbox__label{
    color:#9092A1
  }

}
</style>
