
<template>
    <div class="container">
        <ForecastTotalCard :unit='unit' :topData='topData' />

        <div class="Echarts">
            <ltabButton :btnList="btnList" @change="activeName = $event" class="lBtn"></ltabButton>
            <div class="tbBox">
                 <el-select v-model="subShowType" size="mini" @change="changeOpt" placeholder="请选择">
                    <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <Charts class="Echarts_1" :rightVal="57" :yData="yData" :xData="xData" :unit="unit"></Charts>
        </div>
        <div class="mainTable">
            <Table :tableData="tableData" :colData="colData1" :widthArr="[76,94,86,88,90,86,88,87,87,89,86,88,86,94,98,94,94,94,94]"></Table>
        </div>
    </div>
</template>

<script>
import ltabButton from "@/components/common/tabButton";
import ForecastTotalCard from "@/components/modelPrediction/forecastTotalCard";
import Charts from "@/components/Home/echartCom";
import Table from "@/components/Home/table";
import { querySalesData, querySalesSubData } from "@/api/salesNumber";
import { summary, summaryTotals } from "@/api/modelPrediction";
export default {
    name:'ForecastSummary',
    components: {
        ltabButton,
        Charts,
        Table,
        ForecastTotalCard
    },
    props:{
        id:{
            type: Number,
            default() {
                return null
            },
        }
    },
    data(){
        return{
            btnList: [
                { label: "按件数", value: "first" },
                { label: "按箱数", value: "second" },
                { label: "按金额", value: "third" },
                { label: "按吨数", value: "fourth" },
            ],
            activeName: "first",
            tableTopDates: { first: [], second: [], third: [], fourth: [] },
            options: [
                {
                    value: 0,
                    label: '子品牌'
                }, 
                {
                    value: 1,
                    label: '规格'
                }, 
                {
                    value: 2,
                    label: 'SKU'
                }, 
                {
                    value: 3,
                    label: '城市'
                }
            ],
            subShowType:0,
            data444:{},
            pictur:[
              require('@/assets/image/FC1.png'),
              require('@/assets/image/FC2.png'),
              // require('@/assets/image/FC3.png'),
              require('@/assets/image/FC4.png'),
              require('@/assets/image/FC5.png')
            ],
            topData:[],
            Vector:require('@/assets/image/Vector.png'),
            VectorGreen:require('@/assets/image/VectorGreen.png'),
            name:'',
            forecastDate:''
        }
    },
     created() {
        this.querySalesData()
        this.getSummaryTotals()
        this.name = JSON.parse(this.$route.query.para).name
        this.forecastDate = JSON.parse(this.$route.query.para).forecastDate
        let propData = JSON.parse(this.$route.query.para)
     },
    computed:{
        unit() {
        let arr = { first: "件", second: "箱", third: "元", fourth: "千克" };
        return arr[this.activeName];
        },
        xData() {
        return this.tableTopDates[this.activeName][2];
        },
        yData() {
        let param = {
            title:this.unit,
            lineLeft: {
            name: "同比增长",
            // data: this.tableTopDates[this.activeName][5],
            data: [],
            },
            lineRight: {
            name: "环比增长",
            // data: this.tableTopDates[this.activeName][4],
            data:[]
            },
            pieData: this.tableTopDates[this.activeName][3],
        };

        return param;
        },
        tableData() {
        return this.tableTopDates[this.activeName][1];
        },
        colData1() {
        return this.tableTopDates[this.activeName][0];
        }
    },
    methods:{ 
       async querySalesData() {
            let param = {
                id: JSON.parse(this.$route.query.para).id,
                subShowType: this.subShowType,
            };
            let res = await summary(param);
            var date = res.data;
            if (date.length > 0) {
                date.forEach((item) => {
                //按件数
                item.moMIncQty = item.moMIncQty == "" ? "" : item.moMIncQty;
                item.yoYIncQty = item.yoYIncQty == "" ? "" : item.yoYIncQty;
                //按箱数
                item.moMIncCs = item.moMIncCs == "" ? "" : item.moMIncCs;
                item.yoYIncCs = item.yoYIncCs == "" ? "" : item.yoYIncCs;
                //按金额
                item.moMIncSdv = item.moMIncSdv == "" ? "" : item.moMIncSdv;
                item.yoYIncSdv = item.yoYIncSdv == "" ? "" : item.yoYIncSdv;
                //按千克
                item.moMIncKg = item.moMIncKg == "" ? "" : item.moMIncKg;
                item.yoYIncKg = item.yoYIncKg == "" ? "" : item.yoYIncKg;
                });
                let itemSalesQty = this.filterData("valueQty","销售件数",date,"momQty","销售环比","yoyQty","销售同比","perQty","销售占比","perYoyQty","占比同比","perMomQty","占比环比");
                let itemsalesCs = this.filterData("valueCs","销售箱数",date,"momCs","销售环比","yoyCs","销售同比","perCs","销售占比","perYoyCs","占比同比","perMomCs","占比环比");
                let itemsalesSdv = this.filterData("valueSdv","销售金额",date,"momSdv","销售环比","yoySdv","销售同比","perSdv","销售占比","perYoySdv","占比同比","perMomSdv","占比环比");
                let itemsalesKg = this.filterData("valueKg","销售吨数",date,"momKg","销售环比","yoyKg","销售同比","perKg","销售占比","perYoyKg","占比同比","perMomKg","占比环比");
                this.$set(this.tableTopDates, "first", itemSalesQty);
                this.$set(this.tableTopDates, "second", itemsalesCs);
                this.$set(this.tableTopDates, "third", itemsalesSdv);
                this.$set(this.tableTopDates, "fourth", itemsalesKg);
            }
    },  
    async getSummaryTotals(){
      let param = {
          id: JSON.parse(this.$route.query.para).id
      };

      let { data } = await summaryTotals(param)
      this.data444 = data
      this.topData = [
            {
              name:"预测基线",
              value:this.data444.totalFcstQty
            },
            {
              name:"预测调整结果",
              value:this.data444.totalFcAdjQty,
              value1:this.data444.yoYIncQty
            },
            {
              name:"KA实际库存量",
              value:this.data444.totalActStockQty
            },
            {
              name:"推荐发货量",
              value:this.data444.totalRecShipQty
            },
      ]
    },
    filterData(value, title, date, HB, HBtitle, TB, TBtitle, ZB, ZBtitle, ZBTB, ZBTBtitle, ZBHB, ZBHBtitle) {
      let headArr = [], //表头数据
        salesArr = [], //销售数据
        HBarr = [],  //环比增长数据
        TBarr = [],  //同比增长数据
        ZBarr = [],  //占比
        ZBHBarr = [],  //占比环比增长数据
        ZBTBarr = [],  //占比同比增长数据
        AbscissaArr = [], //Echarts图横坐标数据
        objFin1 = {}, //销售数据数据
        objFinHB = {}, //环比增长数据
        objFinTB = {}, //同比增长数据
        objZB = {}, // 占比数据
        objZBHB = {}, //占比环比增长数据
        objZBTB = {}; //占比同比增长数据
      for (let index = 0; index < date.length; index++) {
        if (date[index].name) {
          let Tables = {
            name: "",
            prop: "",
          };
          Tables.name = date[index].name;
          Tables.prop = "month" + index;
          objFin1[Tables.prop] = "";
          headArr.push(Tables);
          AbscissaArr.push(Tables.name);
        } 
    
        HBarr.push(this.format(date[index][HB],true));  // 环比
        TBarr.push(this.format(date[index][TB],true)); //同比
        ZBarr.push(this.format(date[index][ZB],true)); // 占比
        ZBHBarr.push(this.format(date[index][ZBHB],true)); // 占比环比
        ZBTBarr.push(this.format(date[index][ZBTB],true)); // 占比同比
        salesArr.push(this.format(date[index][value],false)); //销售数据
      }
      let arrTb = [];
      for (let i in headArr) {
        objFin1[headArr[i].prop] = salesArr[i];

        objFinHB[headArr[i].prop] = HBarr[i];
        objFinHB["date"] = HBtitle;


        objFinTB[headArr[i].prop] = TBarr[i];
        objFinTB["date"] = TBtitle;

        objZB[headArr[i].prop] = ZBarr[i];
        objZB["date"] = ZBtitle;

        objZBTB[headArr[i].prop] = ZBTBarr[i];
        objZBTB["date"] = ZBTBtitle;

        objZBHB[headArr[i].prop] = ZBHBarr[i];
        objZBHB["date"] = ZBHBtitle;
      }
      headArr.unshift({ name: "指标名称", prop: "date" });
      objFin1["date"] = title;

       // 表格各行数据      
      let arrFinish = [objFin1, objFinTB, objFinHB, objZB, objZBTB, objZBHB];

      // 表头 表格 图横坐标 销售 环比 同比
      return [headArr, arrFinish, AbscissaArr, salesArr, HBarr, TBarr];
    },
    format(data,bol){
        if(data == 0){
            return 0
        }else if(!data){
            return ''
        }else{
            return bol?data.toFixed(2)*100:data
        }
    },
    changeOpt(val){
        this.subShowType = val
        this.querySalesData()
    },
    num(num){
       return  (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
    }
    },
    watch:{
    activeName(newval){
      switch (newval) {
        case "first":
          this.topData = [
            {
              name:"预测基线",
              value:this.data444.totalFcstQty
            },
            {
              name:"预测调整结果",
              value:this.data444.totalFcAdjQty,
              value1:this.data444.yoYIncQty
            },
            {
              name:"KA实际库存量",
              value:this.data444.totalActStockQty
            },
            {
              name:"推荐发货量",
              value:this.data444.totalRecShipQty
            },
          ]
          break;
        case "second":
          this.topData = [
            {
              name:"预测基线",
              value:this.data444.totalFcstCs
            },
            {
              name:"预测调整结果",
              value:this.data444.totalFcAdjCs,
              value1:this.data444.yoYIncCs
            },
            {
              name:"KA实际库存量",
              value:this.data444.totalActStockCs
            },
            {
              name:"推荐发货量",
              value:this.data444.totalRecShipCs
            },
          ]
          break;
        case "third":
          this.topData = [
            {
              name:"预测基线",
              value:this.data444.totalFcstSdv
            },
            {
              name:"预测调整结果",
              value:this.data444.totalFcAdjSdv,
              value1:this.data444.yoYIncSdv
            },
            {
              name:"KA实际库存量",
              value:this.data444.totalActStockSdv
            },
            {
              name:"推荐发货量",
              value:this.data444.totalRecShipSdv
            },
          ]
          break;
        case "fourth":
          this.topData = [
            {
              name:"预测基线",
              value:this.data444.totalFcstKg
            },
            {
              name:"预测调整结果",
              value:this.data444.totalFcAdjKg,
              value1:this.data444.yoYIncKg
            },
            {
              name:"KA实际库存量",
              value:this.data444.totalActStockKg
            },
            {
              name:"推荐发货量",
              value:this.data444.totalRecShipKg
            },
          ]
          break;
        default:
          break;
      }
    },
  }
}
</script>

<style lang="less" scoped>
.container{
    margin: 10px 20px;
      .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        margin-bottom:10px;
        span:first-child{
        color:#252525;
        font-weight:bold
        }
        span:last-child{
        float:right;
        color:#565555;
        }
    }
      .FCtop_div{
        width:260px;
        height:115px;
        background:#fff;
        border-radius:10px;
        display:flex;
        box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
        border:2px solid #F2F6FA;
        justify-content: space-between;
        >div:first-child{
        padding:21px 18px;
        box-sizing: border-box;
        img{
            width:7px;
            vertical-align:middle;
            margin:0 2px;
        }
        p:first-child{
            color:#3F4A99;
            font-size:14px;
            line-height:20px
        }
        p:nth-child(2){
            color:#302F36;
            font-weight: 600;
            font-size: 20px;
            line-height: 31px;
        }
        p:last-child{
            font-size:16px;
            line-height:22px;
            color:#878787;
        }
        }
        >div:last-child{
        box-sizing: border-box;
        padding:22px 16px 22px 0;
        img{
            width:40px;
            height:40px
        }
        }
    }
    .Echarts {
        box-shadow: rgba(52, 52, 52, 0.1) 0px 0px 9px;
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        padding-top:13px;
        margin-top: 20px;
        .tbBox{
            width: 120px;
            height: 30px;
            background-color: white;
            position: absolute;
            top:31px;
            right: 50px;
            border-radius: 10px;
        }
        .lBtn {
            margin-top: 15px;
            margin-left: 26px;
            border-radius: 8px;
            }
        .Echarts_1{
            width: 100%; 
            height: 300px; 
            display: flex; 
            background-color: white; 
            border-radius: 8px
            }
    }
    .mainTable{
        box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
        margin-bottom: 4px;
        border-radius: 10px;
        margin-top:15px
    }
}
</style>