<template>
  <div id="ForecastConfig" style="position:relative" v-loading.fullscreen="loading" element-loading-background="rgba(0, 0, 0, 0.8)">
    <ForecastTotalCard :unit='unit' :topData='topData' />
    <div class="forMid">
      <ltabButton :btnList="btnList"  @change="activeName = $event"></ltabButton>
      <div>
        <!-- 修改 -->
        <el-button v-if="defaultParams.page=='updata'" class="lbtnClass" size="mini" type="primary" @click="btnClick('restsave')">覆盖保存</el-button>
        <el-button v-if="defaultParams.page=='updata'" class="lbtnClass" size="mini" type="primary" @click="btnClick('othersave')">另存为</el-button>
        <!-- 新建 -->
        <el-button class="lbtnClass" size="mini" type="primary" v-if="defaultParams.page=='new'" @click="btnClick('save')" :disabled="repeatClick">保存</el-button>
        <el-button class="lbtnClass" size="mini" type="primary" v-if="defaultParams.page!='look'" @click="btnClick('cancel')">重置</el-button>
        <!-- 查看 -->
        <el-button class="lbtnClass" size="mini" type="primary" v-if="defaultParams.page=='look'" @click="btnClick('cancel')">返回</el-button>
      </div>
    </div>
    <newTableComLook
      v-if="defaultParams.page=='look'"
      :tableData="data333" 
      :colData="colData" 
      @numChange="num=$event"
      :widthArr="[100,150,100,100,100,120,80,120,130,120,120,120,100,100]"
      style="height:610px">
        <el-table-column
            v-for="(item,index) in colData1"
            :key="item.prop+''+ index "
            :prop="item.prop"
            :label="item.name"
            :render-header="renderSpecNameHeader"
            fixed
            align="center"
            :width="tabWidth[index]"
            show-overflow-tooltip
          >
          <template slot-scope="scope">
           <span v-if="scope.column.label=='SKU'">
              <span>
                {{scope.row[scope.column.property]}}<br>
                <i style="font-size:10px;color:#696969">{{scope.row.sku_id_jd?scope.row.sku_id_jd+"|"+scope.row.sku_id_sap:""}}</i>
              </span>
            </span>
            <span v-else>{{scope.row[scope.column.property]}}</span>
          </template>
        </el-table-column>
    </newTableComLook>
    <newTableCom
      v-if="(defaultParams.page=='new'||defaultParams.page=='updata')"
      :tableData="data333" 
      :colData="colData"
      :limits="limits"
      :idsn="ids"
      :restArr="restArr"
      :noCloseDialog="noCloseDialog"
      :allData="data444"
      :restData="restData"
      @blurHandler="blurHandler"
      @numChange="numChange"
      :temTableData="temTableData"
      :widthArr="[100,150,100,100,100,120,80,120,130,120,120,120,100,100]"
      style="height:610px">
        <el-table-column
            v-for="(item,index) in colData1"
            :key="item.prop+''+ index "
            :prop="item.prop"
            :label="item.name"
            :render-header="renderSpecNameHeader"
            fixed
            align="center"
            :width="tabWidth[index]"
            show-overflow-tooltip
          >
          <template slot-scope="scope">
             <span v-if="scope.column.label=='SKU'">
              <span>
                {{scope.row[scope.column.property]}}<br>
                <i style="font-size:10px;color:#696969">{{scope.row.sku_id_jd?scope.row.sku_id_jd+"|"+scope.row.sku_id_sap:""}}</i>
              </span>
            </span>
            <span v-else>{{scope.row[scope.column.property]}}</span>
          </template>
        </el-table-column>
    </newTableCom>
    <el-dialog :lock-scroll="false" custom-class="DiaCustomClass" :title="saveUpdateTitle" :show-close="false" :visible.sync="dialogVisible" width="30%" top="20%">
      <span style="font-size:16px;color:#312E2E;">{{saveUpdateName}}</span>
       <el-input style="margin-top:10px" size="small" v-model="updataName" placeholder="请输入内容"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button class="okBtnC" @click="onBtnHandler" :disabled="repeatClick">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import ltabButton from "@/components/common/tabButton"
import Lselect from "@/components/common/lselect"
// import lTableCompont from "@/components/tableCompont"
import ForecastTotalCard from "@/components/modelPrediction/forecastTotalCard";
import newTableCom from "@/components/modelPrediction/newTableCom"
import newTableComLook from "@/components/modelPrediction/newTableComLook"
import {getDefault,priceReg,preResult,saveData,getLookModel,updateSave,limit} from "@/api/modelPrediction"
export default {
  name:'ForecastConfig',
  data() {
    return {
      repeatClick:false,
      dialogVisible:false,
      saveUpdateName:"修改版本名称",
      updataName:"",
      num:50,
      Vector:require('@/assets/image/Vector.png'),
      VectorGreen:require('@/assets/image/VectorGreen.png'),
      temobj_copy:{},
      restData:[],
      saveChangeCover:false,
      saveChangeCoverID:"",
      temDataPar:[],
      restArr:[],
      temFilterData:[],
      property1:"",
      tableids:{},
      ids:{},
      idsnum:[],
      temOBJtem:[],
      temObj:{},
      activeIndex:0,
      defaultParams:{},
      loading:false,
      unit:"件",
      tabWidth:[78,90,80,90,100],
      pictur:[
        require('@/assets/image/FC1.png'),
        require('@/assets/image/FC2.png'),
        // require('@/assets/image/FC3.png'),
        require('@/assets/image/FC4.png'),
        require('@/assets/image/FC5.png')
        ],
      btnList:[
        {label:"按件数",value:"first"},
        {label:"按箱数",value:"second"},
        {label:"按金额",value:"third"},
        {label:"按吨数",value:"fourth"}
      ],
      finData:[],
      qtyData:[],
      kgData:[],
      sdvData:[],
      csData:[],
      activeName:"first",
      tableData:[],
      treeData:[],
      colData:[],
      colData1:[
        {name:"品牌",prop:"brand"},
        {name:"子品牌",prop:"sub_brand"},
        {name:"规格",prop:"pkg_size"},
        {name:"SKU",prop:"abbr_name"},
        {name:"城市",prop:"main_depot_jd"},
      ],
      selectClassNames:["selectBefore","selectBefore","selectBefore","selectBefore","selectBefore"],
       colData_qty:[
        // {name:"过去30天销量参考",
        //   children:[{name:"(件)",prop:"rol_avg_30_qty"}]
        // },
        {name:"预测基线",
          children:[{name:"(件)",prop:"fcst_bs_qty"}]
        },
        {name:"价格/促销",
          children:[{name:"",prop:"price_par"}]
        },
        // {name:"当月实际价格",
        //   children:[{name:"",prop:"price_true"}]
        // },
        {name:"流量变化",
          children:[{name:"",prop:"pv_par"}]
        },
        {name:"其他变化",
          children:[{name:"",prop:"others_par"}]
        },
        {name:"预测调整结果",
          children:[
            {name:"件数",prop:"fcst_aft_adj_qty"},
            {name:"同比增速",prop:"yoy_qty"},
            {name:"环比增速",prop:"mom_qty"}
          ]
        },
        {name:"安全库存天数",
          children:[{name:"(天)",prop:"sft_stock_dys"}]
        },
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_qty"},
            {name:"15天参考",prop:"recom_stock_15_qty"},
            {name:"7天参考",prop:"recom_stock_7_qty"}
          ]
        },
        {name:"实际KA库存量",children:[{name:"(件)",prop:"act_stock_qty"}]},
        {name:"推荐发货量",children:[{name:"(件)",prop:"recom_ship_qty"}]},
        {name:"百事当前库存",children:[{name:"(件)",prop:"act_pepsi_stock_qty"}]},
        {name:"在途量",children:[{name:"(件)",prop:"in_transit_qty"}]},
        {name:"预期完成率",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      colData_cs:[
        // {name:"过去30天销量参考",
        // children:[{name:"(箱)",prop:"rol_avg_30_cs"}]
        // },
        {name:"预测基线",
          children:[{name:"(箱)",prop:"fcst_bs_cs"}]
        },
        {name:"价格/促销",prop:"price_par",children:[{name:"",prop:"price_par"}]},
        // {name:"当月实际价格",prop:"price_true",children:[{name:"",prop:"price_true"}]},
        {name:"流量变化",prop:"pv_par",children:[{name:"",prop:"pv_par"}]},
        {name:"其他变化",prop:"others_par",children:[{name:"",prop:"others_par"}]},
        {name:"预测调整结果",
          children:[
            {name:"箱数",prop:"fcst_aft_adj_cs"},
            {name:"同比增速",prop:"yoy_cs"},
            {name:"环比增速",prop:"mom_cs"}
          ]
        },
        {name:"安全库存天数",prop:"sft_stock_dys",children:[{name:"(天)",prop:"sft_stock_dys"}]},
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_cs"},
            {name:"15天参考",prop:"recom_stock_15_cs"},
            {name:"7天参考",prop:"recom_stock_7_cs"}
          ]
        },
        {name:"实际KA库存量",prop:"act_stock_cs",children:[{name:"(箱)",prop:"act_stock_cs"}]},
        {name:"推荐发货量",prop:"recom_ship_cs",children:[{name:"(箱)",prop:"recom_ship_cs"}]},
        {name:"百事当前库存",prop:"act_pepsi_stock_cs",children:[{name:"(箱)",prop:"act_pepsi_stock_cs"}]},
        {name:"在途量",prop:"in_transit_cs",children:[{name:"(箱)",prop:"in_transit_cs"}]},
        {name:"预期完成率",prop:"fcst_ffr",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      colData_sdv:[
        // {name:"过去30天销量参考",
        //   children:[{name:"(元)",prop:"rol_avg_30_sdv"}]
        // },
        {name:"预测基线",
          children:[{name:"(元)",prop:"fcst_bs_sdv"}]
        },
        {name:"价格/促销",prop:"price_par",children:[{name:"",prop:"price_par"}]},
        // {name:"当月实际价格",prop:"price_true",children:[{name:"",prop:"price_true"}]},
        {name:"流量变化",prop:"pv_par",children:[{name:"",prop:"pv_par"}]},
        {name:"其他变化",prop:"others_par",children:[{name:"",prop:"others_par"}]},
        {name:"预测调整结果",
          children:[
            {name:"金额",prop:"fcst_aft_adj_sdv"},
            {name:"同比增速",prop:"yoy_sdv"},
            {name:"环比增速",prop:"mom_sdv"}
          ]
        },
        {name:"安全库存天数",prop:"sft_stock_dys",children:[{name:"(天)",prop:"sft_stock_dys"}]},
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_sdv"},
            {name:"15天参考",prop:"recom_stock_15_sdv"},
            {name:"7天参考",prop:"recom_stock_7_sdv"}
          ]
        },
        {name:"实际KA库存量",prop:"act_stock_sdv",children:[{name:"(元)",prop:"act_stock_sdv"}]},
        {name:"推荐发货量",prop:"recom_ship_sdv",children:[{name:"(元)",prop:"recom_ship_sdv"}]},
        {name:"百事当前库存",prop:"act_pepsi_stock_sdv",children:[{name:"(元)",prop:"act_pepsi_stock_sdv"}]},
        {name:"在途量",prop:"in_transit_sdv",children:[{name:"(元)",prop:"in_transit_sdv"}]},
        {name:"预期完成率",prop:"fcst_ffr",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      colData_kg:[
        // {name:"过去30天销量参考",
        //   children:[{name:"(千克)",prop:"rol_avg_30_kg"}]
        // },
        {name:"预测基线",
          children:[{name:"(千克)",prop:"fcst_bs_kg"}]
        },
        {name:"价格/促销",prop:"price_par",children:[{name:"",prop:"price_par"}]},
        // {name:"当月实际价格",prop:"price_true",children:[{name:"",prop:"price_true"}]},
        {name:"流量变化",prop:"pv_par",children:[{name:"",prop:"pv_par"}]},
        {name:"其他变化",prop:"others_par",children:[{name:"",prop:"others_par"}]},
        {name:"预测调整结果",
          children:[
            {name:"吨数",prop:"fcst_aft_adj_kg"},
            {name:"同比增速",prop:"yoy_kg"},
            {name:"环比增速",prop:"mom_kg"}
          ]
        },
        {name:"安全库存天数",prop:"sft_stock_dys",children:[{name:"(天)",prop:"sft_stock_dys"}]},
        {name:"推荐KA库存量",
          children:[
            {name:"浮动结果",prop:"recom_stock_kg"},
            {name:"15天参考",prop:"recom_stock_15_kg"},
            {name:"7天参考",prop:"recom_stock_7_kg"}
          ]
        },
        {name:"实际KA库存量",prop:"act_stock_kg",children:[{name:"(千克)",prop:"act_stock_kg"}]},
        {name:"推荐发货量",prop:"recom_ship_kg",children:[{name:"(千克)",prop:"recom_ship_kg"}]},
        {name:"百事当前库存",prop:"act_pepsi_stock_kg",children:[{name:"(千克)",prop:"act_pepsi_stock_kg"}]},
        {name:"在途量",prop:"in_transit_kg",children:[{name:"(千克)",prop:"in_transit_kg"}]},
        {name:"预期完成率",prop:"fcst_ffr",children:[{name:"",prop:"fcst_ffr"}]},
      ],
      count:100,
      saveUpdateTitle:"保存",
      noCloseDialog:{
        num:0,
        bol:false
      },
      initSelectData:{},
      limits: {}
    }
  },
  components: {
    ltabButton,
    Lselect,
    newTableCom,
    newTableComLook,
    ForecastTotalCard
  },
  computed: {
    data333(){
      return this.data444.slice(0,this.num)
    },
    allData(){
      let arr={first:this.qtyData,second:this.csData,third:this.sdvData,fourth:this.kgData}
      return arr[this.activeName]
    },
    data444(){
      let keys = Object.keys(this.temObj),temObj=this.temObj
      let arr={first:this.qtyData,second:this.csData,third:this.sdvData,fourth:this.kgData}
      let param = arr[this.activeName]
        return param.filter((item) => {
          return JSON.stringify(this.temObj) == "{}" || keys.every(key => this.temObj[key].indexOf(item[key]) !== -1)
        })
    },
    temTableData(){
      let keys = Object.keys(this.temObj),temObj=this.temObj
      return this.temDataPar.filter((item) => {
        return JSON.stringify(this.temObj) == "{}" || keys.every(key => this.temObj[key].indexOf(item[key]) !== -1)
      })
    },
     topData(){
      let data = this.data444
      let arr0 = [],arr1=[],arr2=[],arr3=[],arr4=[],arr5=[]
      let sss ="sales_qty_lst_yr"
        switch (this.activeName) {
          case "first":
            sss ="sales_qty_lst_yr"
            break;
          case "second":
          sss ="sales_cs_lst_yr"
            break;
          case "third":
            sss ="sales_sdv_lst_yr"
            break;
          case "fourth":
          sss ="sales_kg_lst_yr"
            break;
          default:
            break;
        }
      data.forEach((item,index)=>{
          for(let i in item){
            if(i.indexOf("fcst_bs")!==-1){arr0.push(item[i])}
            if(i.indexOf("fcst_aft_adj")!==-1){arr1.push(item[i])}
            // if(i.indexOf("recom_stock")!==-1){arr2.push(item[i])}
            if(i.indexOf("act_stock")!==-1){arr3.push(item[i])}
            if(i.indexOf("recom_ship")!==-1){arr4.push(item[i])}
            if(i.indexOf(sss)!==-1){arr5.push(item[i])}
            
          }
      })
        let getSum=function(ar){
            let arr=ar;   
            let s=eval(arr.join("+"))
            let num = Number(s).toFixed(0)
          return  (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
        }; 
        let getSum1=function(ar){
            let arr=ar;   
            let s=eval(arr.join("+"))
            let num = Number(s).toFixed(0)
          return num
        }; 
        let aaaaa="NaN"
        if(arr5[0]!=undefined){
        let sum1 = getSum1(arr1),sum5 = getSum1(arr5);
        // aaaaa = ((sum1-sum5)/sum5*100).toFixed(0).toString()
        aaaaa = ((sum1-sum5)/sum5).toFixed(2).toString()
        }
       let arr = [
          {name:"预测基线",value:getSum(arr0)},
          {name:"预测调整结果",value:getSum(arr1),value1:aaaaa},
          // {name:"推荐KA库存量",value:getSum(arr2)},
          {name:"KA实际库存量",value:getSum(arr3)},
          {name:"推荐发货量",value:getSum(arr4)},
        ]
        return arr
      },
  },
  mounted(){
    this.getLimit()
    this.initData()
  },
  methods:{
    async getLimit(){
      let res = await limit()
      this.limits = res.data.limits
    },
    initData(){
      let propData = JSON.parse(this.$route.query.para)
      sessionStorage.setItem("propData",propData)
      if(propData.page=="updata"){
        this.getLookModel(propData.id,propData.page,propData.otherdata)
      }else if(propData.page=="look"){
          this.getLookModel(propData.id,propData.page)
      }else{
        // propData.data.tgt_mth="2021-01"
        this.defaultParams = propData
        this.getDefault()
      }
    },
    numChange(val,ids){
      this.num = val
      ids.num++
      this.ids = ids
    },
    async getLookModel(model_id,page,otherdata){
      this.loading=true
      let res = await getLookModel({model_id})
      let parm = res.data.model_config
      let model_data = res.data.model_data
      let od = ""
      if(page=="look")od=parm.tgt_mth
      if(page=="updata"){
        od=otherdata.tgt_mth

      }
      let pa = {
        name:parm.model_name,
        id:model_id,
        page,
        data:{
          tgt_mth:od,
          category:parm.category,
          tgt_typ:parm.tgt_typ
        }
      }
      this.defaultParams = pa

      if(page=="updata"){
        model_data.forEach((item,ind)=>{
            item.request_id = ind
            item.tgt_typ = otherdata.tgt_typ
            item.tgt_mth = od
          })
          this.preResultUpdata(model_data)
      }else{
        this.initTreeData(res.data.model_data)
        this.init(res.data.model_data,true)
        this.loading=false
      }
    },
    initTreeData(data){
      let treedata=[[],[],[],[],[]]
        data.forEach(item=>{
          treedata[0].indexOf(item.brand)==-1?treedata[0].push(item.brand):''
          treedata[1].indexOf(item.sub_brand)==-1?treedata[1].push(item.sub_brand):''
          treedata[2].indexOf(item.pkg_size)==-1?treedata[2].push(item.pkg_size):''
          treedata[3].indexOf(item.abbr_name)==-1?treedata[3].push(item.abbr_name):''
          treedata[4].indexOf(item.main_depot_jd)==-1?treedata[4].push(item.main_depot_jd):''
        })
        // this.treeData = treedata
        this.$set(this.initSelectData,"brand",treedata[0])
        this.$set(this.initSelectData,"sub_brand",treedata[1])
        this.$set(this.initSelectData,"pkg_size",treedata[2])
        this.$set(this.initSelectData,"abbr_name",treedata[3])
        this.$set(this.initSelectData,"main_depot_jd",treedata[4])
    },
    async preResultUpdata(params){
      let res = await preResult(params)
      this.finData = res.data.pred
      this.initTreeData(res.data.pred)
      this.init(res.data.pred,true)
      this.loading=false
    },
    async onBtnHandler(){
      let propData5 = JSON.parse(this.$route.query.para)
       let arr = this.qtyData,arr1=this.csData,arr2=this.sdvData,arr3=this.kgData
        for(let i = 0;i<arr.length;i++){
          Object.assign(arr[i],arr1[i],arr2[i],arr3[i])
        }
        if(this.updataName==""){
          this.$message.error("请输入配置名")
        }else{
          this.repeatClick= true
          if(propData5.page = "new"){
            if(this.saveChangeCover){
              let params = {
                model_id:this.saveChangeCoverID,
                tgt_mth:this.defaultParams.data.tgt_mth,
                tgt_typ:this.defaultParams.data.tgt_typ,
                model_data:arr,
                category:this.defaultParams.data.category
              }
              this.updateSave(params)
            }else{
              let params = {
                model_name:this.updataName,
                tgt_mth:this.defaultParams.data.tgt_mth,
                tgt_typ:this.defaultParams.data.tgt_typ,
                model_data:arr
              }
              this.defaultParams.name = this.updataName
              let res = await saveData(params)
              if(res.code===0){
                this.dialogVisible = false
                this.saveChangeCover = true
                this.saveChangeCoverID = res.data.id
                this.$message.success("保存成功")
              }else{
                this.$message.error(res.message)
                this.saveUpdateTitle = "保存"
                this.saveUpdateName= "该版本名称已存在，请重新输入"
                this.dialogVisible = true
              }
            }
          }else{
            let params = {
              model_name:this.updataName,
              tgt_mth:this.defaultParams.data.tgt_mth,
              tgt_typ:this.defaultParams.data.tgt_typ,
              category:this.defaultParams.data.category,
              model_data:arr
            }
            let res = await saveData(params)
            if(res.code===0){
              this.$message.success("另存为成功")
              this.defaultParams.name = this.updataName
              this.dialogVisible=false
            }else{
              this.$message.error(res.message)
            }
          }
          this.repeatClick = false
        }
    },
    blurHandler(val,ids,bol,diabol){
      this.tableids=ids
      this.priceReg(val,bol,diabol)
    },

    init(data,bol,priceBool){
      this.ids = this.tableids
      let page = this.defaultParams.page
      let arr={first:this.qtyData,second:this.csData,third:this.sdvData,fourth:this.kgData}
      let param = arr[this.activeName]
      this.filterDefaultData(data,priceBool)
      if(bol){
       this.tableHeader(data)
      }
      switch (this.activeName) {
        case "first":
          this.restData = this.deepClone1(this.qtyData)
          this.tableData = this.qtyData
          this.colData = this.colData_qty
          break;
        case "second":
          this.restData = this.deepClone1(this.csData)
           this.tableData = this.csData
           this.colData = this.colData_cs
          break;
        case "third":
          this.restData = this.deepClone1(this.sdvData)
           this.tableData =this.sdvData
           this.colData = this.colData_sdv
          break;
        case "fourth":
          this.restData = this.deepClone1(this.kgData)
           this.tableData = this.kgData
           this.colData = this.colData_kg 
          break;
        default:
          break;
      }
      this.temDataPar =JSON.parse(JSON.stringify(this.tableData))
      
    },
    async getDefault(){
      this.loading=true
      
      let res = await getDefault(this.defaultParams.data)
      this.initTreeData(res.data.pred)
      this.init(res.data.pred,true)
      setTimeout(()=>{
        this.loading=false
      },1000)
    },
    async preResult(params,bool){
      this.loading=true
      let res = await preResult(params)
      this.finData = res.data.pred
      this.init(res.data.pred,false,bool)
      this.loading=false
    },
    async priceReg(params,bool,diabol){
      this.loading=true
      let res = await priceReg(params)
      if(res.code==0){
        this.preResult(params,bool)
        if(bool){
          this.restArr=[]
          this.noCloseDialog={
            bol:false,
            num:0
          }
        }
        this.loading=false
      }else{
        // let arr =[]
        this.tableids.num=100
        if(bool){
          this.restArr = params
          if(!diabol)this.noCloseDialog={bol:true,num:1}
        }
        setTimeout(()=>{
          this.qtyData = JSON.parse(JSON.stringify(this.restData))
          this.ids = this.tableids
          this.loading=false
          // this.init(res.data.pred,false,bool)
          this.$message.error(res.message)
        })
      }
    },
    changeData(){
      let arr={first:this.qtyData,second:this.csData,third:this.sdvData,fourth:this.kgData}
      let param = arr[this.activeName]
      param.push({})
      param.splice(param.length-1,1)
      this.temDataPar.push({})
      this.temDataPar.splice(this.temDataPar.length-1,1)
    },
    
    async btnClick(val){
      let arr = this.qtyData,arr1=this.csData,arr2=this.sdvData,arr3=this.kgData
        for(let i = 0;i<arr.length;i++){
          Object.assign(arr[i],arr1[i],arr2[i],arr3[i])
        }
      if(val=="save"){
        this.repeatClick = true
        if(this.saveChangeCover){
          let params = {
            model_id:this.saveChangeCoverID,
            tgt_mth:this.defaultParams.data.tgt_mth,
            tgt_typ:this.defaultParams.data.tgt_typ,
            model_data:arr,
            category:this.defaultParams.data.category
          }
          this.$confirm('确认要覆盖之前的修改？', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              lockScroll:false,
            }).then(() => {
             this.updateSave(params)
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消覆盖保存'
              });          
          });
          // this.updateSave(params)
        }else{
          let params = {
            model_name:this.defaultParams.name,
            tgt_mth:this.defaultParams.data.tgt_mth,
            tgt_typ:this.defaultParams.data.tgt_typ,
            model_data:arr
          }
          let res = await saveData(params)
          if(res.code===0){
            this.$message.success("保存成功")
            this.saveChangeCover = true
            this.saveChangeCoverID = res.data.id
          }else{
            this.dialogVisible = true
            this.saveUpdateTitle = "保存"
            this.saveUpdateName= "该版本名称已存在，请重新输入"
            this.$message.error(res.message)
          }
        }
        this.repeatClick = false
      }
      if(val=="othersave"){
        this.dialogVisible = true
        this.saveUpdateTitle = "另存为"
        this.saveUpdateName= "修改版本名称"
      }
      if(val=="restsave"){
        let params = {
          model_id:this.defaultParams.id,
          tgt_mth:this.defaultParams.data.tgt_mth,
          tgt_typ:this.defaultParams.data.tgt_typ,
          model_data:arr,
          category:this.defaultParams.data.category
        }
        this.$confirm('确认要覆盖之前的修改？', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              lockScroll:false,
            }).then(() => {
             this.updateSave(params)
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消覆盖保存'
              });          
          });
      }
      if(val=="cancel"){
        if(this.defaultParams.page=='look'){
          this.$router.push("/modelPrediction/HistorConfig")
        }else{
          this.$confirm('确认要取消所做的修改吗？', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              lockScroll:false,
            }).then(() => {
              this.initData()
            }).catch(() => {
              this.$message({
                type: 'info',
                message: '已取消恢复'
              });          
          });
        }
      }
    },
    async updateSave(params){
        let res = await updateSave(params)
        if(res.code===0){
          this.$message.success("覆盖保存成功")
        }else{
          this.$message.success(res.message)
        }
    },
    tableHeader(data,str,property){
      let treedata=[[],[],[],[],[]],param=[],treedata1=[[],[],[],[],[]];
      let aaa=["brand","sub_brand","pkg_size","abbr_name","main_depot_jd"]
      let index = aaa.indexOf(property)
      if(str){
        switch (this.activeName) {
          case "first":
            param = this.qtyData
            break;
          case "second":
            param = this.csData
            break;
          case "third":
            param = this.sdvData
            break;
          case "fourth":
            param = this.kgData
            break;
          default:
            break;
        }
        param.forEach(item=>{
          treedata[0].indexOf(item.brand)==-1?treedata[0].push(item.brand):''
          treedata[1].indexOf(item.sub_brand)==-1?treedata[1].push(item.sub_brand):''
          treedata[2].indexOf(item.pkg_size)==-1?treedata[2].push(item.pkg_size):''
          treedata[3].indexOf(item.abbr_name)==-1?treedata[3].push(item.abbr_name):''
          treedata[4].indexOf(item.main_depot_jd)==-1?treedata[4].push(item.main_depot_jd):''
        })
          let temobj_copy = this.temobj_copy
          aaa.forEach((item,index1)=>{
            if(temobj_copy[item]){
            }else{
              this.$set(this.treeData,index1,treedata[index1])
              this.$set(this.temObj,item,treedata[index1])
            }
          })
          setTimeout(() => {
            this.data444.forEach(item=>{
              treedata1[0].indexOf(item.brand)==-1?treedata1[0].push(item.brand):''
              treedata1[1].indexOf(item.sub_brand)==-1?treedata1[1].push(item.sub_brand):''
              treedata1[2].indexOf(item.pkg_size)==-1?treedata1[2].push(item.pkg_size):''
              treedata1[3].indexOf(item.abbr_name)==-1?treedata1[3].push(item.abbr_name):''
              treedata1[4].indexOf(item.main_depot_jd)==-1?treedata1[4].push(item.main_depot_jd):''
            })
            aaa.forEach((item,index1)=>{
              if(temobj_copy[item]){
              }else{
                this.$set(this.treeData,index1,treedata1[index1])
                this.$set(this.temObj,item,treedata1[index1])
              }
            })
          }, 300);
      }else{
        param=data
        param.forEach(item=>{
          treedata[0].indexOf(item.brand)==-1?treedata[0].push(item.brand):''
          treedata[1].indexOf(item.sub_brand)==-1?treedata[1].push(item.sub_brand):''
          treedata[2].indexOf(item.pkg_size)==-1?treedata[2].push(item.pkg_size):''
          treedata[3].indexOf(item.abbr_name)==-1?treedata[3].push(item.abbr_name):''
          treedata[4].indexOf(item.main_depot_jd)==-1?treedata[4].push(item.main_depot_jd):''
        })
        this.treeData = treedata
        this.$set(this.temObj,"brand",treedata[0])
        this.$set(this.temObj,"sub_brand",treedata[1])
        this.$set(this.temObj,"pkg_size",treedata[2])
        this.$set(this.temObj,"abbr_name",treedata[3])
        this.$set(this.temObj,"main_depot_jd",treedata[4])
      }
    },
    filterDefaultData(data,priceBool){
      let arr_qty=[],arr_cs=[],arr_sdv=[],arr_kg=[];
      let keys= ["request_id","category","brand","sub_brand","pkg_size","sku_id_jd","sku_id_pepsi","sku_name","abbr_name","main_depot_jd","main_depot_pepsi","price_par","price_true","pv_par","others_par","sft_stock_dys","fcst_ffr","tgt_typ","tgt_mth","platform","sku_id_sap","price_lst_yr","price_lst_mth"]
      let checkedObj={price_par:false,others_par:false,pv_par:false,sft_stock_dys:false}
      let arr = {first:this.qtyData,second:this.csData,thrid:this.sdvData,fourth:this.kgData,}
      let param = arr[this.activeName]
        // if(priceBool){
          data.forEach((item,ind)=>{
            if(priceBool){}else{
               item.request_id = ind
            }
            item.tgt_typ = this.defaultParams.data.tgt_typ
            item.tgt_mth = this.defaultParams.data.tgt_mth
            let obj_qty = {}, //件数
                obj_cs = {}, //箱数
                obj_sdv= {}, //金额
                obj_kg = {}; //重量
            for(let i in item){
              if(keys.indexOf(i)!==-1){
                if(item[i]=="NaN"||item[i]==undefined){
                  obj_qty[i]=null
                  obj_cs[i]=null
                  obj_sdv[i]=null
                  obj_kg[i]=null
                }else{
                  obj_qty[i]=item[i]
                  obj_cs[i]=item[i]
                  obj_sdv[i]=item[i]
                  obj_kg[i]=item[i]
                }
                // obj_qty[i] = item[i]=="NaN"?null:item[i]
                // obj_cs[i] = item[i]=="NaN"?null:item[i]
                // obj_sdv[i] = item[i]=="NaN"?null:item[i]
                // obj_kg[i] = item[i]=="NaN"?null:item[i]
                obj_kg.checked=checkedObj
                obj_cs.checked=checkedObj
                obj_sdv.checked=checkedObj
                obj_qty.checked=checkedObj
              }else{
                obj_qty["act_pepsi_stock"] = item["act_pepsi_stock"]
                obj_qty["sales_qty_lst_yr"] = item["sales_qty_lst_yr"]
                obj_cs["sales_cs_lst_yr"] = item["sales_cs_lst_yr"]
                obj_sdv["sales_sdv_lst_yr"] = item["sales_sdv_lst_yr"]
                obj_kg["sales_kg_lst_yr"] = item["sales_kg_lst_yr"]
                obj_qty["sales_qty_lst_mth"] = item["sales_qty_lst_mth"]
                obj_cs["sales_cs_lst_mth"] = item["sales_cs_lst_mth"]
                obj_sdv["sales_sdv_lst_mth"] = item["sales_sdv_lst_mth"]
                obj_kg["sales_kg_lst_mth"] = item["sales_kg_lst_mth"]
                obj_cs["sales_cs_w_1"] = item["sales_cs_w_1"]
                obj_cs["sales_cs_w_2"] = item["sales_cs_w_2"]
                obj_cs["sales_cs_w_3"] = item["sales_cs_w_3"]
                obj_cs["sales_cs_w_4"] = item["sales_cs_w_4"]
                obj_sdv["sales_sdv_w_1"] = item["sales_sdv_w_1"]
                obj_sdv["sales_sdv_w_2"] = item["sales_sdv_w_2"]
                obj_sdv["sales_sdv_w_3"] = item["sales_sdv_w_3"]
                obj_sdv["sales_sdv_w_4"] = item["sales_sdv_w_4"]
                obj_kg["sales_kg_w_1"] = item["sales_kg_w_1"]
                obj_kg["sales_kg_w_2"] = item["sales_kg_w_2"]
                obj_kg["sales_kg_w_3"] = item["sales_kg_w_3"]
                obj_kg["sales_kg_w_4"] = item["sales_kg_w_4"]
                
                let _arr = i.split("_")
                switch (_arr[_arr.length-1]) {
                  case "qty":
                    obj_qty[i] = item[i]=="NaN"?null:item[i]
                    break;
                  case "cs":
                    obj_cs[i] = item[i]=="NaN"?null:item[i]
                    break;
                  case "sdv":
                    obj_sdv[i] = item[i]=="NaN"?null:item[i]
                    break;
                  case "kg":
                    obj_kg[i] = item[i]=="NaN"?null:item[i]
                    break;
                  default:
                    break;
                }
              }
            }
            arr_cs.push(obj_cs)
            arr_qty.push(obj_qty)
            arr_sdv.push(obj_sdv)
            arr_kg.push(obj_kg)
          })
          if(priceBool){
            for(let m=0;m<arr_qty.length;m++){
              this.qtyData.splice(arr_qty[m].request_id,1,arr_qty[m])
              this.csData.splice(arr_cs[m].request_id,1,arr_cs[m])
              this.sdvData.splice(arr_sdv[m].request_id,1,arr_sdv[m])
              this.kgData.splice(arr_kg[m].request_id,1,arr_kg[m])
              // this.qtyData.splice(arr_qty[i].request_id,1,arr_qty[i])
            }
          }else{
            this.qtyData=arr_qty
            this.csData=arr_cs
            this.sdvData=arr_sdv
            this.kgData=arr_kg
          }
    },
    renderSpecNameHeader(createElement, { column, $index }) {
      let self = this;
      let treedata11 = this.defaultParams.page=='look'?this.treeData[$index]:this.treeData[$index-1]
      //该列的绑定数据
      // console.log(column);
      //列号
      // console.log($index);
      return createElement(
        "div",
        {
          style: "display:flex;"
        },
        [
          // createElement("div", {
          //   domProps: {
          //     innerHTML: column.label
          //   }
          // }),
          createElement(Lselect, {
            style: "cursor: pointer;",
            // 组件 prop
            props: {
              treeData:treedata11,
              pIndex:$index,
              column:column,
              placeholder:column.label,
              showVal:true,
              checkedArr:this.temObj[column.property],
              selectClassName:this.selectClassNames[$index-1],
              initSelectData:this.initSelectData[column.property],
              content:column.label=="城市"?"京东全国性仓库":"",
              contentStyle:"color:#fff;font-size:16px;margin-top:3px;margin-left:0"
            },
            on: {
              selectVal: self.selectValHandler
              // click: this.clickHandler
            },
            nativeOn: {
              // click: this.nativeClickHandler
            }
          })
        ]
      );
    },
    selectValHandler(val,index,column,plo,str){
      let property = column.property
      this.property1=property
      this.$set(this.temObj,property,val)
      if(str){
        this.selectClassNames[index-1] = "selectBefore"
        this.$delete(this.temobj_copy,property)
        this.tableHeader(this.data444,"clear",property)
      }else{
         if(this.initSelectData[property].length==val.length){
          this.selectClassNames[index-1] = "selectBefore"
        }else{
          this.selectClassNames[index-1] = "selectAfter"
        }
        this.$set(this.temobj_copy,property,val)
        this.tableHeader(this.data444)
      }
    },
    deepClone1(target) {
      let that = this
        let result;
        if (typeof target === 'object') {
            if (Array.isArray(target)) {
                result = []; 
                for (let i in target) {
                    result.push(that.deepClone1(target[i]))
                }
            } else if(target===null) {
                result = null;
            } else if(target.constructor===RegExp){
                result = target;
            }else {
                result = {};
                for (let i in target) {
                    result[i] = that.deepClone1(target[i]);
                }
            }
        } else {
            result = target;
        }
        return result;
    }
  },
  watch:{
    activeName(newval){
      switch (newval) {
        case "first":
          this.colData = this.colData_qty
          this.tableData = this.qtyData.slice(0,this.num)
          this.unit = "件"
          break;
        case "second":
          this.colData = this.colData_cs
          this.tableData = this.csData.slice(0,this.num)
          this.unit = "箱"
          break;
        case "third":
          this.colData = this.colData_sdv
          this.tableData = this.sdvData.slice(0,this.num)
          this.unit = "元"
          break;
        case "fourth":
          this.colData = this.colData_kg 
          this.tableData = this.kgData.slice(0,this.num)
          this.unit = "千克"
          break;
        default:
          break;
      }
    },
  }
};
</script>
<style lang="less" scoped>
#ForecastConfig{
  width:100%;
  height:100%;
  overflow-x: hidden;
  padding:0 20px;
  .title{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom:10px;
    span:first-child{
      color:#252525;
      font-weight:bold
    }
    span:last-child{
      float:right;
      color:#565555;
    }
   
  }

  .FCtop_div{
    width:260px;
    height:115px;
    background:#fff;
    border-radius:10px;
    display:flex;
    box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
    border:2px solid #F2F6FA;
    justify-content: space-between;
    >div:first-child{
      padding:21px 18px;
      box-sizing: border-box;
      img{
        width:7px;
        vertical-align:middle;
        margin:0 2px;
      }
      p:first-child{
        color:#3F4A99;
        font-size:14px;
        line-height:20px
      }
      p:nth-child(2){
        color:#302F36;
        font-weight: 600;
        font-size: 20px;
        line-height: 31px;
      }
      p:last-child{
          font-size:16px;
          line-height:22px;
          color:#878787;
      }
    }
    >div:last-child{
      box-sizing: border-box;
      padding:22px 16px 22px 0;
      img{
        width:40px;
        height:40px
      }
    }
  }
  .el-icon-arrow-down:before{
    content:"\e65a";
    font-family: "iconfont";
    color:#fff;
    margin-left:5px;
    font-size: 14px;
  }

 .DiaCustomClass{
   border-radius: 10px;
   .el-dialog__header{
     background: #3661BF;
     color:#fff;
     padding:10px 20px;
     border-radius: 10px 10px 0 0;
   }
   .el-dialog__title{
     color:#fff
   }
   .el-dialog__footer{
     padding:0;
     width:100%;
     display: flex;
     .dialog-footer{
        display: flex;
        width:100%;
        button{
          width:50%;
          border-radius: 0;
          margin:0;
          border:0
        }
        button:first-child{
          border-radius:0 0 0 10px;
          background: #ddd;
        }
        .okBtnC{
          background:#3661BF;
          border-radius:0 0 10px 0;
          color:#fff
        }
     }

   }
 }
 .el-message-box__title{
   font-size: 16px;
 }
 .forMid{
   display:flex;
   margin:20px 0 10px 0;
   justify-content:space-between;
   align-items:flex-end
 }

}
</style>
