
<template>
    <div class="content">
        <p class="title">
            <span>版本名称：{{name}}</span>
            <span>预测时间：{{forecastDate}}</span>
        </p>
         <div style="display:flex;justify-content:space-between">
            <div class="FCtop_div" v-for="(item,index) in topData" :key="index">
                <div>
                <p>{{item.name}}</p>
                <p>{{item.value=="NaN"?"--":num(item.value)}}</p>
                <div style="display:flex">
                    <span>{{unit}}</span>
                    <div v-if="index==1" style="padding:0 10px;">
                    <p style="line-height:23px;font-size: 12px;color:#3F4A99;">
                        <span>同比增速</span>
                        <img  v-if="item.value1&&item.value1&& item.value1.toString().indexOf('-') == -1" :src="Vector" alt="">
                        <img  v-if="item.value1&&item.value1&& item.value1.toString().indexOf('-') != -1" :src="VectorGreen" alt="">
                        <span style="color:#5E5E62">{{item.value1=="NaN"?"--":(item.value1 * 100).toFixed(0)+'%'}}</span>
                        </p>
                    </div>
                </div>
                </div>
                <div>
                <img style="width:auto;height:60px" :src="pictur[index]" alt="">
                </div>
            </div>
        </div>
    </div>
</template>    


<script>
// import { summaryTotals } from "@/api/modelPrediction";
export default {
    name:'ForecastTotalCard',
    data(){
        return {
            Vector:require('@/assets/image/Vector.png'),
            VectorGreen:require('@/assets/image/VectorGreen.png'),
            pictur:[
              require('@/assets/image/FC1.png'),
              require('@/assets/image/FC2.png'),
              // require('@/assets/image/FC3.png'),
              require('@/assets/image/FC4.png'),
              require('@/assets/image/FC5.png')
            ],
            name:'',
            forecastDate:''
        }
    },
    props:{
        unit:{
            type: String,
            default() {
                return '件'
            },
        },
        topData:{
            type: Array
        }
    },
    created() {
        this.name = JSON.parse(this.$route.query.para).name
        this.forecastDate = JSON.parse(this.$route.query.para).forecastDate
     },
     computed:{
        
     },
     methods:{
        // 格式化数字加逗号
        num(num){
            return  (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
        },
     }
    
}

</script>

<style lang="less" scoped>
.content{
      .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        margin-bottom:10px;
        span:first-child{
        color:#252525;
        font-weight:bold
        }
        span:last-child{
        float:right;
        color:#565555;
        }
    }
      .FCtop_div{
        width:260px;
        height:115px;
        background:#fff;
        border-radius:10px;
        display:flex;
        box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
        border:2px solid #F2F6FA;
        justify-content: space-between;
        >div:first-child{
        padding:21px 18px;
        box-sizing: border-box;
        img{
            width:7px;
            vertical-align:middle;
            margin:0 2px;
        }
        p:first-child{
            color:#3F4A99;
            font-size:14px;
            line-height:20px
        }
        p:nth-child(2){
            color:#302F36;
            font-weight: 600;
            font-size: 20px;
            line-height: 31px;
        }
        p:last-child{
            font-size:16px;
            line-height:22px;
            color:#878787;
        }
        }
        >div:last-child{
        box-sizing: border-box;
        padding:22px 16px 22px 0;
        img{
            width:40px;
            height:40px
        }
        }
    }
    .Echarts {
        box-shadow: rgba(52, 52, 52, 0.1) 0px 0px 9px;
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        padding-top:13px;
        margin-top: 20px;
        .tbBox{
            width: 120px;
            height: 30px;
            background-color: white;
            position: absolute;
            top:31px;
            right: 50px;
            border-radius: 10px;
        }
        .lBtn {
            margin-top: 15px;
            margin-left: 26px;
            border-radius: 8px;
            }
        .Echarts_1{
            width: 100%; 
            height: 300px; 
            display: flex; 
            background-color: white; 
            border-radius: 8px
            }
    }
    .mainTable{
        box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
        margin-bottom: 4px;
        border-radius: 10px;
        margin-top:15px
    }
}
</style>