<template>
  <div id="HistorConfig">
    <div class="HCtop"> 
      <el-input class="l-search" placeholder="搜索版本名称" suffix-icon="el-icon-search" v-model="searchVal" @keyup.enter.native="searchHandler" @input="searchHandler"></el-input>
      <!-- <div></div> -->
      <div style="display:flex;">
        <span class="lTime">最新百事库存日期: &nbsp;{{timeData}}</span>
        <router-link class="el-button--primary el-button--mini routerButton" tag="el-button" to="/modelPrediction/BasicInfor">创建新配置</router-link>
        <el-button style="margin:3px 10px" size="mini" type="primary" @click="linkHandler">配置版本对比</el-button>
         <!-- <el-button size="mini" type="primary">上传百事库存</el-button> -->
         <el-upload
          class="upload-demo"
          :action="action"
          style="margin:1px 0 0px 10px"
          :show-file-list="false"
          :headers="uploadHeaders"
          :on-success="success"
          :before-upload="beforeUpload"
          :on-progress="onProgress"
          >
          <el-button size="mini" type="primary" >上传百事库存</el-button>
        </el-upload>
      </div>
    </div>

    <el-table
        :data="tableData"
        style="width: 100%; border-radius: 6px"
        :header-cell-style="{ background: '#3965C2', color: '#FFF' }"
        @select="selectChange"
        min-height="605px"
        :header-cell-class-name="headerClass"
        @sort-change="sortChange"
      >
        <el-table-column align="center" type="selection" width="55" :selectable="selectable"></el-table-column>
        <!-- <el-table-column width="55" align="center" type="index" label="序号"></el-table-column> -->
        <el-table-column width="150" align="center" prop="name" label="版本名称"></el-table-column>
        <el-table-column align="center" prop="dataUpdateTime" label="数据更新时间"></el-table-column>
        <el-table-column align="center" sortable="custom" prop="forecastDate" label="预测时间"></el-table-column>
        <el-table-column width="120" align="center" prop="sumFcstAftAdjSdv" label="预测总销售金额">
          <template slot-scope="scope">
            <span v-html="geshihua(scope.row.sumFcstAftAdjSdv)"></span>
          </template>
        </el-table-column>
        <el-table-column width="150" align="center" prop="userName" label="最近保存用户"></el-table-column>
        <el-table-column width="160" align="center" prop="updateTime" label="最近保存时间">
          <template slot-scope="scope">
            <span v-html="updateHandler(scope)"></span>
           </template>
        </el-table-column>
        <el-table-column width="130" align="center" prop="label" label="版本标签">
           <template slot-scope="scope">
             <el-select ref="selectREF" style="width:100%" @visible-change="visibleChange($event,scope)" size="mini" :value="model(scope)" placeholder="请选择">
              <div class="inputOption" style="height:auto;width:auto">
                <div v-for="(item,index) in spanArr[scope.$index]" :key="index">
                  <el-input :disabled="disabledSpan(spanArr[scope.$index],index)" size="mini" @blur="blurLabelHandler(scope.row.id,spanArr[scope.$index][index]['label'])" v-model="spanArr[scope.$index][index]['label']" placeholder="标签" ></el-input>
                  <i class="el-icon-close spanLabelClass" @click="deleteSpan(spanArr[scope.$index][index]['id'],scope)" ></i>
                </div>
                <el-button class="createSpanClass" size="small" @click.stop="createSpanHandler(scope.$index)"> + 创建新标签</el-button>
              <el-option value="0" style="height:0">
              </el-option>
              </div>
            </el-select>
           </template>
        </el-table-column>
        <el-table-column width="50" align="center" label="查看">
          <template slot-scope="scope">
           <img style="width:14px;cursor:pointer" :src="looklook" alt="" @click="lookHandler(scope)">
          </template>
        </el-table-column>
        <el-table-column width="50" align="center" label="汇总">
          <template slot-scope="scope">
           <img style="width:14px;cursor:pointer" :src="union" alt="" @click="summaryHandler(scope)">
          </template>
        </el-table-column>
        <el-table-column width="50" align="center" label="修改">
          <template slot-scope="scope">
            <img style="width:14px;cursor:pointer" :src="edit" alt="" @click="updataHandler(scope)"> 
          </template>
        </el-table-column>
        <el-table-column width="50" align="center" label="删除">
          <template slot-scope="scope">
            <img style="width:12px;cursor:pointer" :src="deleteImg" alt="" @click="deleteHandler(scope)">
          </template>
        </el-table-column>
      </el-table>

      <div class="paginationClass_wrap">
        <el-pagination
          class="paginationClass"
          background
          :page-size="10"
          @current-change="currentChange"
          :current-page="currentPage"
          layout="total,prev, pager, next"
          :total="total">
        </el-pagination>
      
      </div>

  </div>
</template>
<script>
import {getlist,deleteModel,getLabelList,deleteLabel,addLabel,getTime} from "@/api/modelPrediction"


export default {
  name:'HistorConfig',
  data() {
    return {
      action:process.env.VUE_APP_API_URL+"model/pepsi/stock/file",
      uploadHeaders:{"X-token":sessionStorage.getItem("token")},
      searchVal:"",
      selectValue:[],
      selectValue1:[],
      total:0,
      currentPage:1,
      currentPage1:1,
      tableData:[],
      selectionVal:[],
      row:[],
      input:"",
      options:[1,1,1,1],
      selectID:[],
      selectName:[],
      spanArr:[],
      direction:"",
      column:"",
      mes:"",
      boolClose:true,
      disabledSpanVal:false,
      timeData:"",
      looklook:require('@/assets/image/looklook.png'),
      union:require('@/assets/image/Union.png'),
      edit:require('@/assets/image/edit.png'),
      deleteImg:require('@/assets/image/delete.png')

    };
  },
  watch:{
    spanArr:{
      handler(newval){
        for(let i in newval){
          this.selectValue[i] = newval[i]
          let bol = this.selectValue[i].some((t,d)=> {return t!=""&&d>0})
          if(this.selectValue[i].length>1&&bol){
            this.selectValue1[i]=newval[i][0] + "..."
          }else{
            this.selectValue1[i]=newval[i][0]
          }
        }
      },
      deep:true,
      immediate:true
    }
  },
  mounted(){
    this.getList()
    this.getTime()
  },
  components: {
    
  },
  computed:{
    params(){
      let opt = {
        modelName:this.searchVal,
        page:this.currentPage1,
        column:this.column,
        direction:this.direction
      }
      let list={}
      for(let i in opt){
       if(opt[i]!=""){
         list[i]=opt[i]
       }
      }
      return list
    }
  },
  
  methods:{
    openHTML() {
      if(this.boolClose){
        this.mes = this.$message({
          dangerouslyUseHTMLString: true,
          duration:0,
          // type:"success",
          message: '正在上传中...'
        });
      }
    },
    async getTime(){
      let res = await getTime()
      this.timeData = res.data
    },
    disabledSpan(scope,index){
      if(this.disabledSpanVal&&scope.length-1==index){
        return false
      }else{
        return true
      }
    },
    onProgress(event, file, fileList){
        this.openHTML()
        this.boolClose=false
      // }
    },
    success(response, file, fileList){
      this.boolClose=true
      if(response.code==0){
        this.mes.close()
        this.$message.success("上传成功")
      }else{
        this.mes.close()
        this.$message.error(response.message)
      }
    },
    beforeUpload(file){   
    },
    model(scope){
      let str = ""
      if(scope.row.labels.length==0){
        str = "待创建"
      }else if(scope.row.labels.length=1){
        str = scope.row.labels[0].label
      }else{
         str = scope.row.labels[0].label + "..."
      }
      return str
    },
    currentChange(val){
      this.currentPage=val
      this.currentPage1 = val
      this.getList()
    },
    geshihua(num){
      return (num || 0).toFixed(0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
    },
    sortChange({ column, prop, order }){
      this.column = prop
      console.log(order,"order");
      // this.direction=order=="ascending"?"asc":"desc"
      switch (order) {
        case "ascending":
          this.direction="asc"
          break;
        case "descending" :
          this.direction="desc"
          break;
        case null:
          this.direction=""
          this.column=""
          break;
      
        default:
          break;
      }
      this.getList()
    },
    createSpanHandler(val){
      this.disabledSpanVal = true
      if(this.spanArr[val].length<5)this.spanArr[val].push({label:""})
      
    },
    inputHandler(){

    },
    deleteSpan(id,scope){
      this.deleteLabel(id,scope)
    },
    async deleteLabel(id,scope){
      let res=await deleteLabel({id})
      if(res.code==0){
        this.$message.success("删除成功")
        this.getLabelList(scope.row.id,scope.$index)
        this.getList()
      }else{
        this.$message.error(res.message)
      }
    },
    blurLabelHandler(id,label){
      // console.log(label,"label...........")
      if(label.trim()!="")this.addLabel({id,label})
      
    },
    async addLabel(param){
      let res = await addLabel(param)
      if(res.code==0){
        this.$message.success("添加成功")
        this.disabledSpanVal=false
        this.getList()
      }else{
        this.$message.error(res.message)
      }
    },
    visibleChange(bool,scope){
      if(bool){
        this.getLabelList(scope.row.id,scope.$index)
      }
    },
    async getLabelList(id,index){
      let res = await getLabelList({id})
      // this.spanArr[index]=res.data
      this.$set(this.spanArr,index,res.data)
    },
    async deleteGET(val){
      let res = await deleteModel({model_id:val.row.id})
      if(res.code==0){
        this.$message.success("删除成功")
        this.getList()
      }else{
        this.$message.error(res.message)
      }
    },
    async deleteHandler(val){
      this.$confirm('确认要删除吗？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          lockScroll:false,
        }).then(() => {
         this.deleteGET(val)
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
      });
    },
    linkHandler(){
      let para = {page:"contrast",id:this.selectID,name:this.selectName}
      if(para.id.length==0){
        this.$message.error("请选择数据")
      } else if(para.id.length<2){
        this.$message.error("至少选择两条数据")
      }else if(para.id.length>3){
        this.$message.error("最多选择三条数据")
      }else{
        this.$router.push({path:"/modelPrediction/DataSummary",query:{para:JSON.stringify(para)}})

      }     
    },
    async searchHandler(){
      this.currentPage1=1
      this.getList()
    },
    lookHandler(val){
      let para = {page:"look",id:val.row.id,name:val.row.name,forecastDate:val.row.forecastDate}
      this.$router.push({path:"/modelPrediction/ForecastConfig",query:{para:JSON.stringify(para)}})
    },
    summaryHandler(val){
      let para = {page:"summary",id:val.row.id,name:val.row.name,forecastDate:val.row.forecastDate}
      this.$router.push({path:"/modelPrediction/ForecastSummary",query:{para:JSON.stringify(para)}})
    },
    updataHandler(val){
      let para = {page:"updata",id:val.row}
      // this.$router.push({path:"/modelPrediction/ForecastConfig",query:{para:JSON.stringify(para)}})
      this.$router.push({path:"/modelPrediction/BasicInfor",query:{para:JSON.stringify(para)}})
    },
    updateHandler(scope){
      let par = scope.row.updateTime==undefined?"" : this.formatDate(new Date(scope.row.updateTime))
      return par
    },
    formatTen(num) { 
      return num > 9 ? (num + "") : ("0" + num); 
    } ,
    formatDate(date) { 
        var date = new Date(date)
        var year = date.getFullYear(); 
        var month = date.getMonth() + 1; 
        var day = date.getDate(); 
        var hour = date.getHours(); 
        var minute = date.getMinutes(); 
        var second = date.getSeconds(); 
        return year + "-" + this.formatTen(month) + "-" + this.formatTen(day)+ " " +this.formatTen(hour)+ ":" +this.formatTen(minute)+ ":" +this.formatTen(second); 
    },
    async getList(){
      let res = await getlist(this.params)
      this.tableData = res.data.datas
      this.total = res.data.totalSize
    },
    selectable(row, index){
      // let arr=[]
      return true
    },
    headerClass(row){
      if(row.columnIndex === 0)return 'cancelCheck'
    },
    selectChange(selection,row){
      this.selectionVal = selection
      this.row = row
      let arr = [],arr1=[];
      selection.forEach(item=>{
        arr.push(item.id)
        arr1.push(item.name)
      })
      this.selectID = arr
      this.selectName = arr1
    }
  }
};
</script>

<style lang="less">
#HistorConfig{
  width:100%;
  height:100%;
  padding:0 20px;
  // background:#fff;
  .HCtop{
    padding-bottom:10px;
    display:flex;
    background:#f9fbff;
    justify-content:space-between
  }
  .l-search{
      input::-webkit-input-placeholder {
        color: #9C9FA4 !important;
        text-align:left!important;
      }
      input::-moz-placeholder {
        color: #9C9FA4 !important;
        text-align:left!important;
      }
      input:-moz-placeholder {
        color: #9C9FA4 !important;
        text-align:left!important;
      }
      input:-ms-input-placeholder {
        color: #9C9FA4 !important;
        text-align:left!important;
      }
  }
  .el-table /deep/ .cancelCheck > .cell .el-checkbox__inner{
    display:none !important;
    position:relative
  }
  .el-table /deep/ .cancelCheck > .cell::before{
    content:"选中";
  }
  .el-table th{
    padding:13px 0
  }
  .routerButton{
    margin:3px 10px
  }
  .el-button--mini, .el-button--mini.is-round{
    padding:2px 10px 6px;
    font-size:14px
  }
  .paginationClass_wrap{
    display: flex;
    justify-content: center;
    padding:15px 0;
    background: #f9f9f9;
    button,li{
      border-radius:50%
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
      background:#3965C2
    }
    .el-pagination__total{
      float:right;
      margin-left:10px
    }
  }
  .el-icon-arrow-up:before{
    content:"\e67c";
    font-family: "iconfont";
    color:#A9A9A9;
    font-size: 10px;
    // margin-right:12px
  }
  .el-table .el-select .el-input__inner{
    width:120px
  }
  .lTime{
    line-height:28px;
    margin:0 15px;
    font-size:14px;
    color:#656464;
  }
  .el-select-dropdown__wrap.el-scrollbar__wrap{
    margin-bottom:0!important
  }
  .el-table th>.cell{
    line-height: 34px;
  }
  .el-table .caret-wrapper{
    height: 33px;
  }
}
.inputOption{
  // width:105px;
  padding:5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .el-input{
    width:95px;
    margin:5px 0;
    // height:21px;
    .el-input__inner{
      height:21px;
      line-height:21px;
      background:rgba(0, 0, 0, 0.04)
    }
  }
  input::-webkit-input-placeholder {
    color: #9C9FA4 !important;
  }
  input::-moz-placeholder {
    color: #9C9FA4 !important;
  }
  input:-moz-placeholder {
    color: #9C9FA4 !important;
  }
  input:-ms-input-placeholder {
    color: #9C9FA4 !important;
  }
  .el-input.is-disabled .el-input__inner{
      color:#000
    }
  .createSpanClass{
    border-style: dashed!important;
    padding:4px 11px!important;
    // border-width: 2px;
  }
  .spanLabelClass{
    margin-left:-20px;
    font-size:12px;
    line-height:21px;
    cursor:pointer;
    z-index:999;
    position:relative
  }
}
.inputOption.el-select-dropdown__item.hover{
  background:#fff
}

</style>
