
<template>
  <div id="l-tableCompont">
    <el-table 
    :data="tableData" 
    style="width: 100%;" 
    row-key="request_id" 
    border
    v-table-scroll="setTableData"
    ref="table"
    height="100%"
    default-expand-all
    :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    :row-style="{height: '50px'}"
    :cell-style="{padding: '0'}"
    :header-cell-style="headeRrowStyle"
    :indent="20"
    :header-row-style="{'border-radius':'10px'}"
    @selection-change="selectionChange"
    @select-all="selectAllChange"
    >
    <el-table-column align="center" type="selection" width="55" :selectable="checkboxInit"></el-table-column>
    <slot></slot>
      <el-table-column show-overflow-tooltip :width="widthArr[index]" align="center" :prop="item.prop" :label="item.name" v-for="(item,index) in colData" :key="item.prop+''+ index">
        <el-table-column :show-overflow-tooltip="showoverflow(child)"
        :width="widthArr[index]" align="center" v-show="item.children" 
        :prop="child.prop" :label="child.name" 
        v-for="(child,cIndex) in item.children" :key="cIndex">
          <!-- 二级表头 -->
          <template slot-scope="childScope">
          <!-- 二级输入框 -->
          <div v-if="checkedShow(childScope)" style="display:flex">
            <span class="openShowClass" v-if="childScope.column.property=='price_par'" @click="openTableDialog(childScope)">
              {{childScope.row[childScope.column.property]}}
            </span>
              <el-input v-if="childScope.column.property == 'pv_par'" size="mini" @blur="inputBlur(childScope)" v-model="childScope.row[childScope.column.property]" placeholder="请输入内容" :class="checkboxInits(childScope.row)?'disabled' : ''"></el-input>
              <el-input v-if="childScope.column.property == 'others_par'" size="mini" @blur="inputBlur(childScope)" v-model="childScope.row[childScope.column.property]" placeholder="请输入内容"></el-input>
              <span v-if="childScope.column.property=='pv_par'||childScope.column.property=='others_par'" style="line-height:2">%</span>
              <el-input v-if="childScope.column.property == 'sft_stock_dys'" size="mini" @blur="inputBlur(childScope)" v-model="childScope.row[childScope.column.property]" placeholder="请输入内容"></el-input>
          </div>
          <!--icon图标 -->
          <div v-if="speedShow(childScope)" class="tableIcon">
           <span v-if="redGreen(childScope.row[childScope.column.property])&&!yesNaN(childScope.row[childScope.column.property])&&childScope.row[childScope.column.property]!=0"> <img :src="Vector" alt="">  <i>{{childScope.row[childScope.column.property]}} %</i></span>
            <span v-if="!redGreen(childScope.row[childScope.column.property])&&!yesNaN(childScope.row[childScope.column.property])&&childScope.row[childScope.column.property]!=0"> <img :src="VectorGreen" alt="">  <i>{{childScope.row[childScope.column.property]}} %</i></span>
            <span v-if="yesNaN(childScope.row[childScope.column.property])&&childScope.row[childScope.column.property]!=0">-</span>
            <span v-if="childScope.row[childScope.column.property]==0">{{childScope.row[childScope.column.property]}}%</span>
          </div>
          <!-- 正常 -->
          <span >
            <span v-if="!checkedShow(childScope) && !speedShow(childScope)" >
              <span v-if="childScope.column.property!='fcst_ffr'" v-html="geshihua(childScope.row[childScope.column.property])">
              </span>
              <span v-if="childScope.column.property=='fcst_ffr'">
                <span v-if="!yesNaN(childScope.row[childScope.column.property])" 
                :style="{color:childScope.row[childScope.column.property]<100?'#DA6148':childScope.row[childScope.column.property]<300?'#EEBC59':'#4EAD8C'}">
                  {{childScope.row[childScope.column.property]}}%
                  </span>
                <span v-if="yesNaN(childScope.row[childScope.column.property])">-</span>

              </span>
            </span>
          </span>
          </template>
        </el-table-column>
        <template slot="header" slot-scope="scope">
         <span style="display:flex;text-align:center;justify-content:center">
           {{scope.column.label}}
          <el-tooltip v-if="scope.column.label=='价格/促销'" class="item" effect="light" content="预测月份的价格计划，格式：价格，天数，以分号隔开，若表示剩余天数均为某价格，则其天数用e表示（默认值为过去30天的价格计划）" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
          <el-tooltip v-if="scope.column.label=='当月实际价格'" class="item" effect="light" content="当月实际价格：预测月份已发生的价格，格式：价格，天数，以分号隔开" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
          <el-tooltip v-if="scope.column.label=='推荐发货量'" class="item" effect="light" content="调整后预测结果-实际KA库存" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
          <el-tooltip v-if="scope.column.label=='预期完成率'" class="item" effect="light" content="百事当前库存/推荐发货量" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
        </span>
      </template>
      </el-table-column>
    </el-table>
    <el-dialog title="提示" :visible.sync="tabledivshow" :lock-scroll="false" width="800px" top="20%" :close="tabledivshows" custom-class="tableDialogClass">
      <div class="tabletopdiv">
        <div v-if="priceShow">
          <p class="firstP">输入价格计划</p>
          <p class="secondP">
            <span>价格</span>
            <span>天数</span>
          </p>
        </div>
        <div v-for="(item,index) in dialodHeader" :key="index">
          <p class="firstP">
            {{item}}
            <el-tooltip v-if="index == 1" class="item" effect="light" content="向前滚动当前月天数的价格分布，如3月5日查看则显示前31天价格分布" placement="top-start">
              <i  class="iconfont icon-iconfontquestion"></i>
            </el-tooltip>
          </p>
          <p class="secondP">
            <span>价格</span>
            <span>天数</span>
          </p>
        </div>
      </div>
      <div style="display:flex;justify-content: space-between;">
        <div class="dislogDiv" v-if="priceShow">
          <div v-for="(item,index) in tableInputArr" :key="index" style="margin:5px;padding-left:10px">
            <el-input v-model="item[0]" style="width:70px" size="mini" ></el-input>
            <el-input v-model="item[1]" style="width:70px;margin-left:10px" size="mini" ></el-input>
          </div>
        </div>
        <div class="dislogDiv">
          <div v-for="(item,index) in pricetrueArr" :key="index" style="margin:5px">
            <span class="firstSpan" size="mini" >{{item[0]}}</span>
            <span class="secondSpan" size="mini" >{{item[1]}}</span>
          </div>
        </div>
        <div class="dislogDiv">
          <div v-for="(item,index) in lastpricetrueArr" :key="index" style="margin:5px">
            <span class="firstSpan" size="mini" >{{item[0]}}</span>
            <span class="secondSpan" size="mini" >{{item[1]}}</span>
          </div>
        </div>
        <div class="dislogDiv">
          <div v-for="(item,index) in pricelstyArr" :key="index" style="margin:5px">
            <span class="firstSpan" size="mini" >{{item[0]}}</span>
            <span class="secondSpan" size="mini" >{{item[1]}}</span>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button class="okBtnC" type="primary" @click="tableSubmit"  v-if="priceShow">确 定</el-button>
        <el-button @click="tabledivshows">取 消</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
export default {
  name: "newTableCompont",
  data() {
    return {
      priceShow:true,
      tabledivshow:false,
      selectionVal:[],
      model:{
        tableData:this.tableData,
      },
      dialodHeader:["当月实际价格","近期参考价格","去年同月实际价格"],
      selectId:[],
      numb:50,
      bool:false,
      tableInputArr:[],
      showChangeArr:[],
      pricetrueArr:[],
      lastpricetrueArr:[],
      pricelstyArr:[],
      loading1:false,
      mes:null,
      allSelect:false,
      arrlength:[],
      tId:"",
      Vector:require('@/assets/image/Vector.png'),
      VectorGreen:require('@/assets/image/VectorGreen.png')
    };
  },
  props: {
    showLoadMore:{
      type:Boolean,
      default(){
        return true
      }
    },
    allData:{
      type:Array,
      default(){
        return []
      }
    },
    temTableData:{
      type: Array,
      default () {
        return []
      }
    },
    tableData: {
      type: Array,
      default () {
        return []
      }
    },
    colData:{
      type:Array,
      default(){
        return []
      },
      
    },
    widthArr:{
      type:Array,
      default(){
        return []
      }
    },
    restArr:{
      type:Array,
      default(){
        return []
      }
    },
    restData:{
      type:Array,
      default(){
        return []
      }
    },
    noCloseDialog:{
      type:Object,
      default(){
        return {}
      }
    },
    idsn:{
      type:Object,
      default(){
        return {
          num:0,
          ids:[]
        }
      }
    },
    limits:{
      type:Object,
      default(){
        return {};
      }
    }
  },
  computed: {
  },
  mounted() {
  },
  beforeDestroy() {
    window.removeEventListener("resize", () => {
      clearTimeout(this.timer); 
    });
  },
  watch:{
    idsn:{
      handler(newval){
        this.tableData.forEach(item=>{
          if(newval.ids&&this.allSelect){
          // if(newval.ids&&newval.ids.indexOf(item.request_id)!=-1){
            this.$nextTick(()=>{
              if(this.checkboxInit(item)){
                this.$refs.table.toggleRowSelection(item,true)
              }
            })
          }
          if(newval.ids&&!this.allSelect&&newval.ids.indexOf(item.request_id)!=-1){
            this.$nextTick(()=>{
              this.$refs.table.toggleRowSelection(item,true)
            })
          }
        })
      },
      deep:true
    },
    noCloseDialog:{
      handler(newval){
        this.tabledivshow=newval.bol
        if(newval.bol){
          // let str = this.restData[0].price_par.split(";")
          // let at = this.fordata(str)
          // this.pushArr(at)
          // this.tableInputArr = this.pushArr(at)
        }
      },
      deep:true
    },
    tableData:{
      handler(newval){

      },
      deep:true,
      immediate:true
    },
    restArr:{
      handler(newval){
        if(newval.length!=0){
          this.restData.forEach(item=>{
            newval.forEach(it=>{
              if(it.request_id==item.request_id){
                // this.tId = item.request_id
                this.tableData.splice(it.request_id,1,item)
                let str = item.price_par.split(";")
                let at = this.fordata(str)
                this.pushArr(at)
                this.tableInputArr = this.pushArr(at)
              }
            })
          })
        }
      },
      deep:true
    }
  },
  updated(){
    this.$nextTick(()=>{
      this.$refs.table.doLayout()
    })
  },
  methods: {
    checkboxInit(row,idx){
      let limitsKey = Object.keys(this.limits)
      let citydisable = limitsKey.includes(row.main_depot_jd)
      let skudisable = this.limits[row.main_depot_jd].includes(row.sku_id_jd)
      if(citydisable && skudisable){
        if(this.arrlength.includes(row.request_id)){
          return false
        }else{
          this.arrlength.push(row.request_id)
        }
        return false
      } else {
        return true
      }
    },
    checkboxInits(row){
      let limitsKey = Object.keys(this.limits)
      let citydisable = limitsKey.includes(row.main_depot_jd)
      let skudisable = this.limits[row.main_depot_jd].includes(row.sku_id_jd)
      if(citydisable && skudisable){
        return true
      } else {
        return false
      }
    },
    showChange(val){
      if(val.toString().indexOf(":")!=-1){
        let str = val.split(";")
        let arr=[]
        str.forEach(item=>{
          arr.push(item.split(":"))
        })
        this.showChangeArr=arr
      }else{
        this.showChangeArr=[[val]]
      }
    },
    yesNaN(val){
      return val==null
    },
    geshihua(num){
      return (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
    },
    wenhaoShow(val){
      return val=="价格/促销" || val=="推荐发货量" || val=="预期完成率"
    },
    setTableData(clear) {
      if(!clear){
        this.numb+=50
        this.$emit("numChange",this.numb,{num:0,ids:this.selectId})
        if(this.allSelect){
          // this.$refs.table.clearSelection()
          // this.$refs.table.toggleAllSelection()
          this.$nextTick(()=>{
            this.tableData.forEach(item=>{
              if(this.checkboxInit(item)){
                this.$refs.table.toggleRowSelection(item,true)
              }
            })
          })
        }
      }
    },  
    redGreen(val){
      return val >= 0
    },
    fordata(str){
      let arr=[]
      str.forEach(item=>{
        arr.push(item.split(":"))
      })
      return arr
    },
    pushArr(arr){
      if(5-arr.length>0){
        arr.push(["",""])
        this.pushArr(arr)
      }else{
        return arr
      }
      
    },
    openTableDialog(scope,bol1){
      this.tabledivshow = true
      this.pricetrueArr = []
      this.lastpricetrueArr = []
      this.pricelstyArr = []
      this.temID=scope.row.request_id
      
      let str = scope.row[scope.column.property].split(";")
      let at = this.fordata(str)
      this.pushArr(at)
      this.tableInputArr = this.pushArr(at)
      if(scope.row['price_true']&&scope.row['price_true'].toString().indexOf(":")!=-1){
        this.pricetrueArr =  this.fordata(scope.row['price_true'].split(";"))
      }else{
        this.pricetrueArr = [[scope.row['price_true']]]
      }

       if(scope.row['price_lst_mth']&&scope.row['price_lst_mth'].toString().indexOf(":")!=-1){
        this.lastpricetrueArr =  this.fordata(scope.row['price_lst_mth'].split(";"))
      }

      if(scope.row['price_lst_yr']&&scope.row['price_lst_yr'].toString().indexOf(":")!=-1){
        this.pricelstyArr =  this.fordata(scope.row['price_lst_yr'].split(";"))
      }

      // this.lastpricetrueArr = scope.row['price_lst_mth']?this.fordata(scope.row['price_lst_mth'].split(";")):[]
      // this.pricelstyArr = scope.row['price_lst_yr']?this.fordata(scope.row['price_lst_yr'].split(";")):[]
      if(this.checkboxInits(scope.row)){
        this.priceShow = false
      }else{
        this.priceShow = true
      }
    },
    tabledivshows(){
      this.tabledivshow = false
       this.priceShow = true
    },
    showoverflow(child){
      let bol = true
      // if(child.prop=='price_true'||child.prop=='price_par'){
        if(child.prop=='price_par' || child.prop=='pv_par' || child.prop=='others_par'){
          bol = false
        }else{
          bol = true
        }
        return bol
    },
    tableSubmit(){
      let reg1 = /^([0-9]+[.]?[0-9]+:[0-9e]+;?)+$/g
      let arrr = []
      this.tableInputArr.forEach(item=>{
        if(item[0]==""||item[1]==""){
        }else{
          arrr.push(item.join(":"))
        }
      })
      let arr = arrr.join(";")
         if(!reg1.test(arr)){
            this.$message.error("请按正确格式输入")
            // bool=false
            return
         }else{
            if(this.allSelect){
              this.allData.forEach(item=>{
                if(this.checkboxInit(item)){
                  item["price_par"] = arr
                }
              })
              this.$emit("blurHandler",this.allData,{num:0,ids:this.selectId},true)
              if(!this.noCloseDialog.bol&&this.restArr.length==0&&this.noCloseDialog.num!=0){
                  this.tabledivshow=false
                }
            }else{
              if(this.selectionVal.length==0){
                let at = []
                this.tableData.forEach(item=>{
                  if(item.request_id==this.temID){
                    item["price_par"] = arr
                    at.push(item)
                  }
                })
                this.$emit("blurHandler",at,{num:0,ids:this.selectId},true)
                if(!this.noCloseDialog.bol&&this.restArr.length==0&&this.noCloseDialog.num!=0){
                  this.tabledivshow=false
                }
              }else{
                this.selectionVal.forEach(item=>{
                  item["price_par"] = arr
                })
                this.$emit("blurHandler",this.selectionVal,{num:0,ids:this.selectId},true)
                if(!this.noCloseDialog.bol&&this.restArr.length==0&&this.noCloseDialog.num!=0){
                  this.tabledivshow=false
                }
              }
            }
         }
      // this.$emit("blurHandler",this.tableData,{num:0,ids:this.selectId})
    },
    selectAllChange(selection){
      this.allSelect=selection.length!=0
    },
    inputBlur(scope){
      let bool=false
      let reg = /^[0-9]*$/
      let reg1 = /^([0-9]+[.]?[0-9]+:[0-9e]+;?)+$/g
      let regObj = scope.row[scope.column.property].toString()
      if(!reg.test(regObj)){
        this.$message.error("请输入数字")
        let len = regObj.length-1
       
      }else{
       
        if(this.allSelect){
          this.allData.forEach(item=>{
            item[scope.column.property] = scope.row[scope.column.property]
          })
          this.$emit("blurHandler",this.allData,{num:0,ids:this.selectId},true,true)
        }else{
          if(this.selectionVal.length==0){
            this.$emit("blurHandler",[scope.row],{num:0,ids:this.selectId},true,true)
          }else{
            this.selectionVal.forEach(item=>{
              item[scope.column.property] = scope.row[scope.column.property]
            })
            this.$emit("blurHandler",this.selectionVal,{num:0,ids:this.selectId},true,true)
          }
        }  
      }
      // if(bool)this.$emit("blurHandler",this.tableData,{num:0,ids:this.selectId})
     
    },
    selectionChange(selection){
      this.allSelect=selection.length == (this.tableData.length - this.arrlength.length)
      let arr=[]
      selection.forEach(item=>{
        arr.push(item.request_id)
      })
      this.selectionVal = selection
      this.selectId = arr
    },
    headeRrowStyle({row, column, rowIndex, columnIndex}){
      if(column.label=="件数" ||column.label=="箱数" ||column.label=="金额"||column.label=="吨数" ||column.label=="件数" || column.label=="同比增速" || column.label=="环比增速" || column.label=="浮动结果"|| column.label=="15天参考" || column.label=="7天参考")return "background:#3965C2;border:0;border-top:1px solid #fff;color:#fff"
      if(column.children)return "background:#3965C2;border:0;font-size:14px;color:#fff;font-weight:bold;padding-top:25px;"
      if(rowIndex == 0)return 'background:#3965C2;font-size:14px;color:#fff;font-weight:bold;border-bottom:0;;line-height:10px'
      if(rowIndex == 1)return 'background:#3965C2;font-size:12px;color:#fff;padding:2px 0;border:0;'
      return ""
    },
    checkedShow(scope){
      if(scope.row.checked[scope.column.property] == undefined)return false
      return true
    },
    speedShow(scope){
      return scope.column.label.toString().indexOf('速')!=-1
    },
  },
};
</script>

<style lang='less'>
#l-tableCompont {
  flex:1;
  .el-input{
    flex:1;
    .el-input__inner{
      border:0;
      border-radius:20px;
      background:#F9F3F3;
      width:100%;
      text-align: center;
      
    }
  }
  // .el-checkbox__input{
  //   // line-height:41px
  // }
  /deep/.el-icon-arrow-right:before {
    content: "\e6d9";
    font-size:14px;
    // font-weight: bold;
  }
  /deep/.el-table__expand-icon--expanded .el-icon-arrow-right:before{
    content: "\e6d8"!important;
    font-size:14px;
    // font-weight: bold;
  }
  /deep/.el-table__expand-icon--expanded {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /deep/.el-table__expand-icon {
    padding:0;
  }
  .el-table__footer-wrapper, .el-table__header-wrapper{
    border-radius:10px 10px 0 0;
  }
  .el-input--mini{
    font-size:14px
  }
  .el-table__fixed{
    border-radius:10px 0 0 0
  }
  .el-table--border, .el-table--group{
    border:0
  }
  .el-table th>.cell{
    padding:0 5px
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color:#fff
  }
  .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border-right:0
  }
  .tableIcon span{
    position:relative;
    display:inline-block;
    width:100%;
    img{
      width:7px;
      height:12px;
      line-height:1;
      position: absolute;
      top:30%;
      left:8%
    }
  }
  .tableAppend{
    display:flex;
    justify-content:center;
    border:0;
    background:#fff;
    height:20px;
    position: relative;
    z-index:9;
    .more{
      left:47.5%;
      cursor:pointer;
      font-size:14px;
      color:#606266;
      position:fixed
    }
  }
  .openShowClass{
    background:#F9F3F3;
    border-radius:16px;
    padding:5px 10px;
    display:inline-block;
    width:100%;
    overflow:hidden;
    cursor:pointer;
    white-space:nowrap;
    font-size:14px
  }
  .el-table td, .el-table th{
    padding:0
  }
  .el-table th .el-select .el-input .el-input__inner{
    background:#3965C2;
    color:#fff;
    font-size:14px
  }
  .el-table th{
    input::-webkit-input-placeholder{
          color:#fff!important;
      }
      input::-moz-placeholder{   /* Mozilla Firefox 19+ */
          color:#fff!important;
      }
      input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
          color:#fff!important;
      }
      input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
          color:#fff!important;
      }
      .el-icon-arrow-up:before{
        color:#fff
      }
  }
}
.dislogDiv{
  border-right:1px solid #F8F8F8;
  padding:17px 0;
  width:200px;
  .firstSpan{
    width:100px;
    text-align:center;
    height:28px;
    display:inline-block
  }
  .secondSpan{
    width:50px;
    text-align:center;
    height:28px;
    display:inline-block;
    margin-left:10px
  }
}
.el-table-filter__content{
  max-height:150px;
  overflow: auto;
}
.el-table__append-wrapper{
  width:2000px;
}
.tableDialogClass{
  border-radius:10px;
  .el-dialog__header{
    display:none
  }
  .el-dialog__body{
    padding:0;
    border-radius:10px 10px 0 0
  }
  .el-dialog__footer{
    background:#F8F7F7;
    border-radius:0 0 10px 10px;
    padding:10px 20px;
    .el-button{
      padding:7px 20px;
      font-size:16px
    }
  }
  .tabletopdiv{
    display:flex;
    height:68px;
    width:100%;
    background:#3965C2;
    color:#fff;
    text-align:center;
    box-sizing:border-box;
    padding:10px 0 0;
    border-radius:9px 9px 0 0;
    justify-content: space-between;
    >div{
      width:200px;
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      .firstP{
        font-size:18px
      }
      .secondP{
        font-size:14px;
        display:flex;
        justify-content:space-around
      }
    }
  }
  .el-input{
    .el-input__inner{
      background:#fff!important;
      border-radius:5px!important;
      border:1px solid #DDD8D8!important;
      padding:0!important;
      text-align:center!important
    }
  }
}
  .disabled{
    pointer-events: none;
    opacity: 0.6;
    filter: alpha(opacity=60); // 兼容IE8
    cursor:not-allowed;
  }
</style>
