
<template>
  <div id="l-tableCompontLook">
    <el-table 
    :data="tableData" 
    style="width: 100%;" 
    row-key="request_id" 
    border
    :row-class-name="rowClassName"
    v-table-scroll="setTableData"
    v-loading.lock="loadinglo"
    element-loading-background="rgba(0, 0, 0, 0.8)"
    ref="table1"
    height="100%"
    default-expand-all
    :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    :row-style="{height: '50px'}"
    :cell-style="{padding: '0'}"
    :header-cell-style="headeRrowStyle"
    :indent="20"
    :header-row-style="{'border-radius':'10px'}"
    >
    <!-- <el-table-column align="center" type="selection" width="55"></el-table-column> -->
    <slot></slot>
      <el-table-column show-overflow-tooltip :width="widthArr[index]" align="center" :prop="item.prop" :label="item.name" v-for="(item,index) in colData" :key="item.prop+''+ index">
        <el-table-column :show-overflow-tooltip="showoverflow(child)" :width="widthArr[index]" align="center" v-show="item.children" :prop="child.prop" :label="child.name" v-for="(child,cIndex) in item.children" :key="cIndex">
          <!-- 二级表头 -->
          <template slot-scope="childScope">
          <!-- 二级输入框 -->
          <!--icon图标 -->
         <div v-if="speedShow(childScope)" class="tableIcon">
           <span v-if="redGreen(childScope.row[childScope.column.property])&&!yesNaN(childScope.row[childScope.column.property])&&childScope.row[childScope.column.property]!=0"> <img :src="Vector" alt="">  <i>{{childScope.row[childScope.column.property]}} %</i></span>
            <span v-if="!redGreen(childScope.row[childScope.column.property])&&!yesNaN(childScope.row[childScope.column.property])&&childScope.row[childScope.column.property]!=0"> <img :src="VectorGreen" alt="">  <i>{{childScope.row[childScope.column.property]}} %</i></span>

            <span v-if="yesNaN(childScope.row[childScope.column.property])&&childScope.row[childScope.column.property]!=0">-</span>
            <span v-if="childScope.row[childScope.column.property]==0">{{childScope.row[childScope.column.property]}}%</span>
          </div>
          <!-- 正常 -->
          <el-popover @show="showChange(childScope.row[childScope.column.property])" 
            placement="left" width="100" trigger="hover" 
            popper-class="tablePopperClass"
            v-if="childScope.column.property=='price_par'">
            <div v-if="showChangeArr.length>0" style="text-align:center">
              <div>
              <p style="font-size:18px">价格/促销</p>
              <p style="display:flex;justify-content:space-around">
                <span>价格</span>
                <span>天数</span>
              </p>
            </div>
            <div class="botDiv">
              <div v-for="(item8,index8) in showChangeArr" :key="index8">
                <span class="botFirstSpan" size="mini" >{{item8[0]}}</span>
                <span class="botFirstSpan botSecondSpan" size="mini" >{{item8[1]}}</span>
              </div>
            </div>
            </div>
            <span slot="reference" style="white-space:nowrap">{{childScope.row[childScope.column.property]}}</span>
          </el-popover>
          <span v-if="childScope.column.property!='price_par'">
            <span v-if="!speedShow(childScope)">
            <span v-if="childScope.column.property!='fcst_ffr'" v-html="geshihua(childScope.row[childScope.column.property])">
              </span><i v-if="childScope.column.property=='pv_par'||childScope.column.property=='others_par'">%</i>
            <span v-if="childScope.column.property=='fcst_ffr'">
              <!-- {{childScope.row[childScope.column.property]}}% -->
              <span v-if="!yesNaN(childScope.row[childScope.column.property])" 
              :style="{color:childScope.row[childScope.column.property]<100?'#DA6148':childScope.row[childScope.column.property]<300?'#EEBC59':'#4EAD8C'}">
                {{childScope.row[childScope.column.property]}}%
                </span>
              <span v-if="yesNaN(childScope.row[childScope.column.property])">-</span>
            </span>
          </span>
          </span>
          </template>
        </el-table-column>
         <template slot="header" slot-scope="scope">
         <span style="display:flex;text-align:center;justify-content:center">
           {{scope.column.label}}
          <el-tooltip v-if="scope.column.label=='价格/促销'" class="item" effect="light" content="预测月份的价格计划，格式：价格，天数，以分号隔开，若表示剩余天数均为某价格，则其天数用e表示（默认值为过去30天的价格计划）" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
          <el-tooltip v-if="scope.column.label=='当月实际价格'" class="item" effect="light" content="当月实际价格：预测月份已发生的价格，格式：价格，天数，以分号隔开" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
          <el-tooltip v-if="scope.column.label=='推荐发货量'" class="item" effect="light" content="调整后预测结果-实际KA库存" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
          <el-tooltip v-if="scope.column.label=='预期完成率'" class="item" effect="light" content="百事当前库存/推荐发货量" placement="top-start">
            <i  class="iconfont icon-iconfontquestion"></i>
          </el-tooltip>
        </span>
      </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "newTableCompontLook",
  data() {
    return {
      selectionVal:[],
      model:{
        tableData:this.tableData,
      },
      numb:50,
      loading:false,
      loadinglo:false,
      Vector:require("@/assets/image/Vector.png"),
      VectorGreen:require("@/assets/image/VectorGreen.png"),
      bool:false,
      tabledivshow:false,
      tableInputArr:[],
      showChangeArr:[],
      query1:""
    };
  },
  props: {
    showLoadMore:{
      type:Boolean,
      default(){
        return true
      }
    },
    temTableData:{
      type: Array,
      default () {
        return []
      }
    },
    tableData: {
      type: Array,
      default () {
        return []
      }
    },
    colData:{
      type:Array,
      default(){
        return []
      },
      
    },
    widthArr:{
      type:Array,
      default(){
        return []
      }
    },
    stripe:{
      type:Boolean,
      default(){
        return false
      }
    }
    // numb:{
    //   type:Number,
    //   default(){
    //     return 100
    //   }
    // }
  },
  computed: {
  },
  mounted() {
    this.query1= JSON.parse(this.$route.query.para).id.length
  },
  beforeDestroy() {
    window.removeEventListener("resize", () => {
      clearTimeout(this.timer);
    });
  },
  watch:{
    tableData:{
      handler(newval){
        // console.log(newval,"555555555")
      },
      deep:true,
      immediate:true
    },
  },
  beforeUpdate(){
  },
  updated(){
    this.$nextTick(()=>{
      this.$refs.table1.doLayout()
    })
  },
  methods: {
    rowClassName({row, rowIndex}) {
      // let index = rowIndex%3
     if(this.query1==3){
        if (rowIndex%3 === 0) {
          return 'backgroundfff';
        }
        if (rowIndex%3 === 1) {
          return 'backgroundfafafa';
        }
        if (rowIndex%3 === 2){
          return 'backgroundRED';
        }
     }
     if(this.query1==2){
        if (rowIndex%2 === 0) {
          return 'backgroundfff';
        }
        if (rowIndex%2 === 1) {
          return 'backgroundfafafa';
        }
     }
     
      
    },
    showChange(val){
      let str = val.split(";")
      let arr=[]
      str.forEach(item=>{
        arr.push(item.split(":"))
      })
      // this.temID=scope.row.request_id
      this.showChangeArr=arr
    },
    showoverflow(child){
      let bol = true
        if(child.prop=='price_true'||child.prop=='price_par'){
          bol = false
        }else{
          bol = true
        }
        return bol
    },
    yesNaN(val){
      return val==null
    },
    geshihua(num){
      return (num || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
    },
    setTableData(clear) {
      // this.openFullScreen1()
      if(!clear){
          this.numb+=50
          this.$emit("numChange",this.numb)
      }
    },  
    redGreen(val){
      return val >= 0
    },
    wenhaoShow(val){
      return val=="价格/促销" || val=="当月实际价格" || val=="预期完成率"
    },
    headeRrowStyle({row, column, rowIndex, columnIndex}){
      if(column.label=="件数" ||column.label=="箱数" ||column.label=="金额"||column.label=="吨数" ||column.label=="件数" || column.label=="同比增速" || column.label=="环比增速" || column.label=="浮动结果"|| column.label=="15天参考" || column.label=="7天参考")return "background:#3965C2;border:0;border-top:1px solid #fff;color:#fff"
      if(column.children)return "background:#3965C2;border:0;font-size:14px;color:#fff;font-weight:bold;padding-top:25px"
      if(rowIndex == 0)return 'background:#3965C2;font-size:14px;color:#fff;font-weight:bold;border-bottom:0;border-right-color:#3965C2;line-height:10px'
      if(rowIndex == 1)return 'background:#3965C2;font-size:12px;color:#fff;padding:2px 0;border:0'

      return ""
    },
    checkedShow(scope){
      if(scope.row.checked[scope.column.property] == undefined)return false
      return true
    },
    speedShow(scope){
        return scope.column.label.toString().indexOf('速')!=-1
    },
  },
};
</script>

<style lang='less'>
#l-tableCompontLook {
  flex:1;
  .el-input{
    flex:1;
    .el-input__inner{
      border:0;
      border-radius:20px;
      background:#F9F3F3;
      width:100%;
      text-align: center;
    }
  }
  // .el-checkbox__input{
  //   // line-height:41px
  // }
  /deep/.el-icon-arrow-right:before {
    content: "\e6d9";
    font-size:14px;
    // font-weight: bold;
  }
  /deep/.el-table__expand-icon--expanded .el-icon-arrow-right:before{
    content: "\e6d8"!important;
    font-size:14px;
    // font-weight: bold;
  }
  /deep/.el-table__expand-icon--expanded {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  /deep/.el-table__expand-icon {
    padding:0;
  }
  .el-table__footer-wrapper, .el-table__header-wrapper{
    border-radius:10px 10px 0 0;
  }
  .el-table__fixed{
    border-radius:10px 0 0 0
  }
  .el-table th>.cell{
    padding:0 5px
  }
  .el-table--border, .el-table--group{
    border:0
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color:#fff
  }
  .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border-right:0
  }
  .tableIcon img{
    width:7px;
    height:12px;
    line-height:1
  }
  .tableAppend{
    display:flex;
    justify-content:center;
    border:0;
    background:#fff;
    height:20px;
    position: relative;
    z-index:9;
    .more{
      left:47.5%;
      cursor:pointer;
      font-size:14px;
      color:#606266;
      position:fixed
    }
  }
  .el-table__fixed-body-wrapper{
    top:73px!important
  }
  .el-table__header-wrapper{
    height:73px!important;
  }
  .el-table td, .el-table th{
    padding:0
  }
  .el-table th .el-select .el-input .el-input__inner{
    background:#3965C2;
    color:#fff;
    font-size:14px
  }
  .el-table th{
    input::-webkit-input-placeholder{
          color:#fff!important;
          text-align:center
      }
      input::-moz-placeholder{   /* Mozilla Firefox 19+ */
          color:#fff!important;
          text-align:center
      }
      input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
          color:#fff!important;
          text-align:center
      }
      input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
          color:#fff!important;
          text-align:center
      }
      .el-icon-arrow-up:before{
        color:#fff
      }
  }
}
.el-table-filter__content{
  max-height:150px;
  overflow: auto;
}
.el-table__append-wrapper{
  width:2000px;
}
.el-table .backgroundfff{
  background:#fff
}
.el-table .backgroundfafafa{
  background:#fafafa
}
.el-table .backgroundRED{
  background:rgb(240, 244, 248)
}
.tablePopperClass{
  .botDiv{
    border:1px solid #F8F8F8;
    padding:17px 14px;
    >div{
      margin:5px;
      display:flex;
      justify-content:space-between
    }
    .botFirstSpan{
      width:30px;
      text-align:center;
      height:28px;
      display:inline-block;
    }
    .botSecondSpan{
      margin-left:10px
    }
  }
}


</style>
