/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: middle;
  font-family: "Microsoft YaHei", "微软雅黑","PingFang SC","Hiragino Sans GB",Arial, sans-serif,"Helvetica Neue",Helvetica,
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}
i{
  font-style: normal;
}

.l-search{
  width:180px;
  margin-left:0;
  height:30px;
}
.l-search .el-input__inner{
height:100%
}
.l-search .el-input__icon{
  line-height:30px
}
.el-button--primary{
  background-color:#3661BF;
  border-color:#3661BF;
  box-shadow:inset 0 -2px 0 0 #1B418D;
  border-radius: 3px;
  transition: all 0.2s;
}
.el-button--primary:hover,.el-button--primary:active,.el-button--primary:focus{
  box-shadow:0 0 0 0;
}
/* .el-button--primary:active,.el-button--primary:focus{
  background:#3661BF;
  border-color:#3661BF;
} */
.el-table .el-select .el-input__inner{
  background-color:#fff;
  border:0;
  width:100px
}
/* 设置滚动条的样式*/
::-webkit-scrollbar {
  width:10px;
  height:10px;
  background-color: #fff;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
  border-radius:2px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
  border-radius:2px;
  background:#C1C1C1;
  } 

  .el-checkbox__inner{
    border-color:#A1C1FB
  }
  .el-button--mini{
    padding:3px 10px 5px;
    font-size: 14px;
  }
  .popperClass .el-select-dropdown__item{
    padding:0;
    text-align: left;
  }
  .el-scrollbar__wrap{
    overflow-x: hidden;
  }

  input::-webkit-input-placeholder {
    color: #565555 !important;
    text-align:center!important;
    font-size: 14px!important;
  }
  input::-moz-placeholder {
    color: #565555!important ;
    text-align:center!important;
    font-size: 14px!important;

  }
  input:-moz-placeholder {
    color: #565555!important;
    text-align:center!important;
    font-size: 14px!important;
  }
  input:-ms-input-placeholder {
    color: #565555!important;
    text-align:center!important;
    font-size: 14px!important;

  }
