<template>
  <div class="container">
    <div class="DStop_div" v-for="(item, index) in salesDate" :key="index">
      <div>
        <p class="word">
          <span style="font-size: 32px">{{ item.number }}</span>
          <span class="unit">{{index == 2 ? "" : unit}}</span>
          <img :src="item.src" alt class="img" v-if="index == 2 && item.src != ''"/>
        </p>
        <p class="words">{{ item.words }}</p>
      </div>
      <div>
        <img :src="picture[index]" class="imgs" style="" alt=""/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name:'CardNumber',
  props: {
    salesDate: {
      type: Array,
      default() {
        return [];
      },
    },
    unit: {
      type: String,
      default() {
        return '件';
      },
    },
    picture: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
    };
  },
};
</script>

<style lang="less" scoped>
.container{
 display: flex;
 justify-content: space-between;
 height: 100%;
 width: 100%;
}
.DStop_div {
  width: 346px;
  height: 140px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  border: 2px solid #f2f6fa;
  justify-content: space-between
}
.word{
  margin-left: 15px; margin-top: 31px
}
.words{
  margin-left: 15px;
  color: #3f4a99;
  font-weight: 700;
  font-size: 20px;
}
.unit{
  font-size: 24px; 
  padding-left: 20px; 
  color: #878787
}
.img{
  margin-right: 100px; 
  width: 20px; 
  height: 30px
}
.imgs{
  width: 78px;
  height: 78px;
  margin-top: 31px;
  margin-right: 15px;
}
</style>