<template>
  <div ref="boxChart" style="flex: 1"></div>
</template>
<script>
import echarts from "echarts";
export default {
  name: "boxChart",
  props: {
    xData: {
      type: Array,
      default() {
        return [];
      },
    },
    yData: {
      type: Object
    },
    rightVal:{
      type:Number,
      default(){
        return 57
      }
    }
  },
  data() {
    return {
      dataZoom_end: 100,
    };
  },
  watch: {
    yData: {
      handler(newval) {
        let len = newval.pieData;
        if (len.length > 12) {
          this.dataZoom_end = parseInt((12 / len.length) * 100-1);
        } else {
          this.dataZoom_end = 100;
        }
      this.$nextTick(()=>{
         setTimeout(() => {
          this.boxDraw();
        }, 900);
      })
      },
      deep: true,
    },
    xData: {
      handler(newval) {
        if (newval.length < 12) {
          this.xData.push("");
        }
      },
    },
  },
  mounted() {
    this.$nextTick(()=>{
      setTimeout(() => {
        this.boxDraw();
      }, 100);
    })
  },
  methods: {
    boxDraw() {
      let showDataZoom = this.dataZoom_end == 100 ? false : true;
      let boxChart = echarts.init(this.$refs.boxChart);
      let toolTitle = this.yData.title,
        leftName = this.yData.lineLeft.name,
        rightName = this.yData.lineRight.name;
      var option = {
        backgroundColor: "#fff",
        title: {},
        tooltip: {
          trigger: "item",
          axisPointer: {
            type: "none",
          },
          formatter: function (param, b, c, d) {
            if (param.seriesName == leftName) {
              if (param.value !== 0) {
                return `<div style="margin:-10px;border-radius:10px;padding:10px;background:#386A3C;color:#fff"> 
                  ${param.seriesName}<hr>${param.value.toFixed(0)}%
                  </div>`;
              } else {
                return "";
              }
            }
            if (param.seriesName == rightName) {
              if (param.value !== 0) {
                return `<div style="margin:-10px;border-radius:10px;padding:10px;background:#5EB1FF;color:#fff"> 
                  ${param.seriesName}<hr>${param.value.toFixed(0)}% 
                  </div>`;
              } else {
                return "";
              }
            }
            if (param.seriesType == "bar") {
              return `<div style="margin:-10px;border-radius:10px;padding:10px;background:#127CDD;color:#fff"> 
                 ${(param.value || 0)
                   .toString()
                   .replace(/(\d)(?=(?:\d{3})+$)/g, "$1,")} ${toolTitle}
                  </div>`;
            }
            return "";
          },
        },
        grid: {
          left: 80,
          top: 80,
          bottom:60,
          right:this.rightVal,
          y2: 50,
        },
        dataZoom: [
          {
            realtime: true,
            start: 0,
            show: showDataZoom,
            height: 10,
            bottom: 0,
            handleSize: "50%",
            zoomLock: true,
            showDetail: false,
            backgroundColor: "#fff",
            end: this.dataZoom_end,
            fillerColor: "#C1C1C1",
            dataBackground: {
              areaStyle: {
                color: "#fff",
              },
              lineStyle: {
                color: "#fff",
              },
            },
          },
        ],
        legend: {
          show: false,
          shadowColor: "rgba(0, 0, 0, 1)",
          shadowBlur: 10,
          borderRadius: 5,
          width: 300,
          padding: [10, 10, 10, 10],
          shadowOffsetX: 5,
          shadowOffsetY: 5,
          data: [
            {
              name: this.yData.lineLeft.name,
              textStyle: {
                fontSize: 12,
                fontWeight: "bolder",
              },
            },
            {
              name: this.yData.lineRight.name,
              textStyle: {
                fontSize: 12,
                fontWeight: "bolder",
              },
            },
          ],
          itemHeight: 2,
          right: 10,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: true,
            nameGap: 10,
            splitLine: {
              show: false,
            },

            axisLabel: {
              interval: 0,
              // color: "black",
              textStyle: {
                color: 'black',
                wordBreak: 'break-word',
                lineHeight: 14,
              },

              formatter: function (params) {
                var newParamsName = ""; // 最终拼接成的字符串
                var paramsNameNumber = params.length; // 实际标签的个数
                var provideNumber = 0;
                let reg = new RegExp("[\\u4E00-\\u9FFF]+", "g");
                if (reg.test(params)) {
                  provideNumber = 8;
                } else {
                  provideNumber = 11;
                }
                // 每行能显示的字的个数
                var rowNumber = Math.ceil(paramsNameNumber / provideNumber); // 换行的话，需要显示几行，向上取整
                // 条件等同于rowNumber>1
                if (paramsNameNumber > provideNumber) {
                  /** 循环每一行,p表示行 */
                  for (var p = 0; p < rowNumber; p++) {
                    var tempStr = ""; // 表示每一次截取的字符串
                    var start = p * provideNumber; // 开始截取的位置
                    var end = start + provideNumber; // 结束截取的位置
                    // 此处特殊处理最后一行的索引值
                    if (p == rowNumber - 1) {
                      tempStr = params.substring(start, paramsNameNumber);
                    } else {
                      // 每一次拼接字符串并换行
                      tempStr = params.substring(start, end) + "\n";
                    }
                    newParamsName += tempStr; // 最终拼成的字符串
                  }
                } else {
                  // 将旧标签的值赋给新标签
                  newParamsName = params;
                }
                return newParamsName;
              },
            
            },
            lineStyle: {
              color: "pink",
            },
            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            data: this.xData,
          },
        ],
        yAxis: [
          {
            type: "value",
            scale: true,
            name: this.yData.title,
            min: 0,
            splitNumber: 5,
            splitLine: {
              show: true,
              lineStyle: {
                color: "rgba(210, 222, 255, 0.47)",
              },
            },
            axisLine: {
              show: false, //y轴坐标线
            },
            axisTick: {
              show: false,
            },
            nameTextStyle: {
              padding: [0, 40, 0, 0],
            },
            // show:true
          },
          {
            // show:false,
            type: "value",
            // min:0,
            // max: 100,
            // interval10,
            splitNumber: 5,
            axisLabel: {
              show: true,
              interval: "auto",
              formatter: "{value} %",
            },
            splitLine: {
              show: false,
            },

            axisLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            // boundaryGap: [0.2, 0.2]
          },
        ],
        series: [
          {
            // name: "预购队列",
            type: "bar",
            barGap: "0%",
            barWidth: 16,
            // xAxisIndex: 1,
            // yAxisIndex: 1,
            itemStyle: {
              barBorderRadius: [30, 30, 30, 30],
              color: "#C1CEF9",
              emphasis: {
                color: "#127CDD",
              },
            },
            data: this.yData.pieData,
          },
          {
            name: this.yData.lineLeft.name,
            type: "line",
            smooth: true,
            symbolSize: 8,
            yAxisIndex: 1,
            connectNulls: false,
            data: this.yData.lineLeft.data,
            itemStyle: {
              normal: {
                color: "#386A3C",
              },
            },
            lineStyle: {
              color: "#386A3C",
            },
          },
          {
            name: this.yData.lineRight.name,
            type: "line",
            smooth: true,
            symbolSize: 8,
            yAxisIndex: 1,
            connectNulls: false,
            data: this.yData.lineRight.data,
            itemStyle: {
              normal: {
                color: "#5EB1FF",
              },
            },
            lineStyle: {
              color: "#5EB1FF",
            },
          },
        ],
      };
      boxChart.setOption(option); // 设置图表属性
    },
  },
};
</script>

<style>
</style>