<template>
  <div>
    <div class="choose">
      <div style="display:flex;justify-content:space-around;">
        <Lselect
          selStyle="width:76px"
          placeholder="平台"
          :treeData="plat"
          :showVal="true"
          :checkedArr="['京东自营']"
          @clearHandler="filtrate"
          @selectVal="filtrate"
          class="Lselect1"
        ></Lselect>
        <Lselect
          selStyle="width:76px"
          placeholder="品类"
          :showVal="true"
          :treeData="categoryList"
          :initSelectData="initSelectData['categoryList']"
          :selectClassName="selectClassNames[['categoryList']]"
          :checkedArr="allArr['categoryList']"
          @selectVal="filtrate"
          @clearHandler="filtrate"
          class="Lselect"
        ></Lselect>
        <Lselect
          selStyle="width:76px"
          placeholder="品牌"
          :showVal="true"
          :treeData="brandList"
          :initSelectData="initSelectData['brandList']"
          :selectClassName="selectClassNames[['brandList']]"
          :checkedArr="allArr['brandList']"
          @clearHandler="filtrate"
          @selectVal="filtrate"
          class="Lselect"
        ></Lselect>
        <Lselect
          selStyle="width:80px"
          placeholder="子品牌"
          :showVal="true"
          :treeData="subBrandList"
          :initSelectData="initSelectData['subBrandList']"
          :selectClassName="selectClassNames[['subBrandList']]"
          :checkedArr="allArr['subBrandList']"
          @clearHandler="filtrate"
          @selectVal="filtrate"
          class="Lselect"
        ></Lselect>
        <Lselect
          selStyle="width:76px"
          placeholder="规格"
          :showVal="true"
          :treeData="specsList"
          :initSelectData="initSelectData['specsList']"
          :selectClassName="selectClassNames[['specsList']]"
          :checkedArr="allArr['specsList']"
          @selectVal="filtrate"
          @clearHandler="filtrate"
          class="Lselect"
        ></Lselect>
        <Lselect
          selStyle="width:76px"
          placeholder="SKU"
          :showVal="true"
          :treeData="skuList"
          :initSelectData="initSelectData['skuList']"
          :selectClassName="selectClassNames[['skuList']]"
          :checkedArr="allArr['skuList']"
          @selectVal="filtrate"
          @clearHandler="filtrate"
          class="Lselect"
        ></Lselect>
        <Lselect
          selStyle="width:76px"
          placeholder="城市"
          :showVal="true"
          :treeData="cityList"
          :initSelectData="initSelectData['cityList']"
          :selectClassName="selectClassNames[['cityList']]"
          :checkedArr="allArr['cityList']"
          @clearHandler="filtrate"
          content="京东直送仓库"
          @selectVal="filtrate"
          class="Lselect"
        ></Lselect>
        <el-select
          size="mini"
          :label-position="labelPosition"
          :showVal="true"
          style="width: 76px;"
          @change="selectChange"
          v-model="topDate1"
          class="Dates5"
          popper-class="popperClass"
          placeholder="统计周期"
        >
          <!-- <el-option label="月" :value="0" key="0"> </el-option> -->
          <el-option label="日" :value="1" key="1"> </el-option>
          <!-- <el-option label="季度" :value="2" key="2"> </el-option> -->
        </el-select>
        <el-date-picker
          :type="daterange"
          value-format="yyyy-MM-dd"
          v-model="forms.dateRange"
          @change="dateChangeHandler"
          start-placeholder="开始日期"
          range-separator="~"
          end-placeholder="结束日期"
          :default-value="defaultData"
          :picker-options="pickerOptions"
          prefix-icon="dates"
          :clearable="false"
          class="date"
          v-if="topDate1 != '2'"
        >
        </el-date-picker>
        <quarter
          @change="dateChangeHandler($event, '季度')"
          placeholder="开始季度       ~       结束季度"
          :defaultValue="defaultValue"
          class="Season"
          v-if="topDate1 == 2"
        ></quarter>
      </div>
      <p class="skuList" :title="skuList.join('，')">
        <span class="sku_word">已选SKU：</span>
        <span class="sku">{{ skuList.join("，") }}</span
        >
      </p>
      <p class="cityList" :title="cityList.join('，')">
        <span class="city_word">已选城市：</span>
        <span class="city">{{ cityList.join("，") }}</span>
      </p>
    </div>
  </div>
</template>

<script>
import Lselect from "@/components/common/lselect";
export default {
  name:'filtrateDay',
    props:{
        //全选
        allArr:{
            type: Object,
            default() {
                return {};
            }
        },
        //初始化数据
        initSelectData:{
            type: Object,
            default() {
                return {};
          }
        },
        //下拉列表数据
        categoryList:{
            type: Array,
            default() {
            return [];
         }
       },
        brandList:{
            type: Array,
            default() {
            return [];
         }
       },
       subBrandList:{
            type: Array,
            default() {
            return [];
         }
       },
       specsList:{
            type: Array,
            default() {
            return [];
         }
       },
       skuList:{
            type: Array,
            default() {
            return [];
         }
       },
       cityList:{
            type: Array,
            default() {
            return [];
         }
       },
       subShowType:{
           type: Number,
            default() {
            return 0;
         }  
       },
    },
  components: {
    Lselect,
  },
  data() {
    return {
      pickerMinDate:'',//获取开始选择时间
      pickerMaxDate:'',//获取结束选择时间
      pickerOptions: { //时间范围选择控制
          onPick: ({ maxDate, minDate }) => {
              if(minDate){
                this.pickerMinDate = minDate.getTime()
              }                        
              if (maxDate) {
                this.pickerMinDate = ''
                this.pickerMaxDate =  maxDate.getTime()
              }
          },
          disabledDate: (time) => {
              const day30 = 31 * 24 * 3600 * 1000
              if (this.pickerMinDate !== '') {
                  let maxTime = this.pickerMinDate + day30
                  if (maxTime > new Date()) {
                      maxTime = new Date()
                  }
                  return time.getTime() > maxTime || time.getTime() > Date.now() - 24*60*60*1000
              }
              if (this.pickerMaxDate !== '' && !this.pickerMinDate) {
                  let minTime = this.pickerMaxDate - day30
                  return time.getTime() > Date.now() - 24*60*60*1000
              }
              return time.getTime() > Date.now() - 24*60*60*1000
          }
      },
      defaultData:'',
      dateStart: "",
      dateEnd: "",
      forms: {
        dateRange: [],
      },
      defaultValue: "",
      daterange: "daterange",
      topDate1: 1,
      labelPosition: "left",
      specsList1: [],
      brandList1: [],
      categoryList1: [],
      skuList1: [],
      cityList1: [],
      plat: ["京东自营"],
      stat: ["月", "日"],
      subBrandList1: [],
      specsListClass: "selectBefore",
      brandListClass: "selectBefore",
      categoryListClass: "selectBefore",
      skuListClass: "selectBefore",
      cityListClass: "selectBefore",
      subBrandListClass: "selectBefore",
      treeData: [{}],
      subShowType1:0
    //   initSelectData: {},
    //   allArr: {}, //默认全选
    };
  },
  computed: {
    params() {
      let option = {
        plat: 0,
        stat: this.topDate1,
        categoryList: this.categoryList1, //品类列表
        brandList: this.brandList1, //品牌列表
        subBrandList: this.subBrandList1, //子品牌列表
        skuList: this.skuList1, //sku列表
        cityList: this.cityList1, //城市列表
        specsList: this.specsList1, //规格
        subShowType: this.subShowType1,
        start: this.dateStart, //开始时间
        end: this.dateEnd, //结束时间
      };
      let list = {};
      for (let i in option) {
        if (
          (option[i].length && option[i].length != 0) ||
          typeof option[i] == "number"
        ) {
          list[i] = option[i];
        }
      }
      return list;
    },
    selectClassNames() {
      let param0 = {
        categoryList: this.categoryListClass,
        brandList: this.brandListClass,
        subBrandList: this.subBrandListClass,
        skuList: this.skuListClass,
        cityList: this.cityListClass,
        specsList: this.specsListClass,
      };
      return param0;
    },
  },
  watch:{
      subShowType(newval){
          this.subShowType1 = newval
      },

  },
  created(){
    this.defaultData = new Date();
    this.defaultData.setMonth(new Date().getMonth() - 1);
    this.sess = sessionStorage.getItem("turnInformation")? JSON.parse(sessionStorage.getItem("turnInformation")): "";
    if (this.sess != "") {
      this.topDate1 = this.sess.stat;
      if (this.sess.start && this.sess.stat == 0) {
        this.forms.dateRange = [
          new Date(this.sess.start),
          new Date(this.sess.end),
        ];
        this.daterange = "monthrange";
      }
      if (this.sess.start && this.sess.stat == 1) {
        this.daterange = "daterange";
        this.forms.dateRange = [
          new Date(this.sess.start),
          new Date(this.sess.end),
        ];
      }
      if (this.sess.start && this.sess.stat == 2) {
        let str = this.sess.start.replace("Q", "").split("-").join("年") + "季度";
        let end = this.sess.end.replace("Q", "").split("-").join("年") + "季度";
        this.defaultValue = str + "     ~     " + end;
      }
      if (this.sess.categoryList) {
        this.categoryList1 = this.sess.categoryList;
        this.categoryListClass = "selectAfter";
      }
      if (this.sess.brandList) {
        this.brandList1 = this.sess.brandList;
        this.brandListClass = "selectAfter";
      }
      if (this.sess.subBrandList) {
        this.subBrandList1 = this.sess.subBrandList;
        this.subBrandListClass = "selectAfter";
      }
      if (this.sess.skuList) {
        this.skuList1 = this.sess.skuList;
        this.skuListClass = "selectAfter";
      }
      if (this.sess.cityList) {
        this.cityList1 = this.sess.cityList;
        this.cityListClass = "selectAfter";
      }
      if (this.sess.specsList) {
        this.specsList1 = this.sess.specsList;
        this.specsListClass = "selectAfter";
      }
    }
  },
  methods: {
    init(){
      this.categoryListClass=this.categoryListClass1,
      this.brandListClass=this.brandListClass1,
      this.subBrandListClass=this.subBrandListClass1,
      this.skuListClass=this.skuListClass1,
      this.cityListClass=this.cityListClass1,
      this.specsListClass=this.specsListClass1

    },
    dateChangeHandler(val, str) {
      if (str) {
        let temArr = val
          .replace(/[^0-9]/gi, "-")
          .split("-")
          .filter((item) => {
            return item != "";
          });
        temArr[1] = "Q" + temArr[1];
        temArr[3] = "Q" + temArr[3];
        this.filtrate(temArr, "", "", "季度");
      } else {
        let param = val == null ? ["", ""] : val;
        param =
          this.topDate1 == 0 && val != null
            ? [val[0].substr(0, 7), val[1].substr(0, 7)]
            : param;
        this.filtrate(param, "", "", "时间");
      }
    },
    filtrate(value, a, b, c, d) {
      let temArr = d ? [] : value;
      let className = d ? "selectBefore" : "selectAfter";
      switch (c) {
        case "品类":
          if (value.length == this.initSelectData["categoryList"].length) {
            this.categoryListClass = "selectBefore";
            this.categoryList1 = [];
          } else {
            this.categoryList1 = temArr;
            this.categoryListClass = className;
          }
          break;
        case "品牌":
          if (value.length == this.initSelectData["brandList"].length) {
            this.brandListClass = "selectBefore";
            this.brandList1 = [];
          } else {
            this.brandList1 = temArr;
            this.brandListClass = className;
          }
          break;
        case "子品牌":
          if (value.length == this.initSelectData["subBrandList"].length) {
            this.subBrandListClass = "selectBefore";
            this.subBrandList1 = [];
          } else {
            this.subBrandList1 = temArr;
            this.subBrandListClass = className;
          }
          break;
        case "SKU":
          if (value.length == this.initSelectData["skuList"].length) {
            this.skuListClass = "selectBefore";
            this.skuList1 = [];
          } else {
            this.skuList1 = temArr;
            this.skuListClass = className;
          }
          break;
        case "城市":
          if (value.length == this.initSelectData["cityList"].length) {
            this.cityListClass = "selectBefore";
            this.cityList1 = [];
          } else {
            this.cityList1 = temArr;
            this.cityListClass = className;
          }
          break;
        case "规格":
          if (value.length == this.initSelectData["specsList"].length) {
            this.specsListClass = "selectBefore";
            this.specsList1 = [];
          } else {
            this.specsList1 = temArr;
            this.specsListClass = className;
          }
          break;
        case "时间":
          this.dateStart = value[0];
          this.dateEnd = value[1];
          break;
        case "季度":
          this.dateStart = value[0] + "-" + value[1];
          this.dateEnd = value[2] + "-" + value[3];
          break;
        default:
          break;
      }
      this.$emit("filtrateNumber",this.params)
    },
    selectChange(val) {
      (this.forms.dateRange = ""),
        (this.dateStart = ""),
        (this.dateEnd = ""),
        (this.topDate1 = val);
      this.daterange = val == 0 ? "monthrange" : "daterange";
       if(val == 1){
        this.pickerOptions= { //时间范围选择控制
          onPick: ({ maxDate, minDate }) => {
              if(minDate){
                this.pickerMinDate = minDate.getTime()
              }                        
              if (maxDate) {
                this.pickerMinDate = ''
                this.pickerMaxDate =  maxDate.getTime()
              }
          },
          disabledDate: (time) => {
              const day30 = 31 * 24 * 3600 * 1000
              if (this.pickerMinDate !== '') {
                  let maxTime = this.pickerMinDate + day30
                  if (maxTime > new Date()) {
                      maxTime = new Date()
                  }
                  return time.getTime() > maxTime || time.getTime() > Date.now() - 24*60*60*1000
              }
              if (this.pickerMaxDate !== '' && !this.pickerMinDate) {
                  let minTime = this.pickerMaxDate - day30
                  return time.getTime() > Date.now() - 24*60*60*1000
              }
              return time.getTime() > Date.now() - 24*60*60*1000
          }
      }
      }
    this.$emit("filtrateNumber",this.params)
    },
  },
};
</script>

<style lang="less" scoped>
.sku_word{
  color: #403f3f;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;  
}
.sku{
  color: #8d8d8d;
  font-style: Light;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.skuList{
  margin-top: 8px;
  margin-left: 20px;
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6b6a6a;
}
.city_word{
  color: #403f3f;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px; 
}
.city{
  color: #8d8d8d;
  font-style: Light;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.cityList{
  margin-left: 20px;
  margin-top: 10px;
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6b6a6a;
}
.date{
  width: 270px;
  height: 28px;
  line-height: 25px;
}
.Season{
  display: inline-block;
  margin-left: 31px;
  width: 270px; 
}
.choose /deep/ .el-date-editor .el-range-separator {
  line-height: 15px;
  margin-top: 5px;
}
.choose{
  width: 100%;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(64, 61, 61, 0.05);
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 15px;
}
//下拉框箭头
/deep/.lselectCom .el-input__suffix {
  right: -2px;
}
/deep/.lselectCom /deep/.el-icon-arrow-up:before {
  display: inline-block;
  transform: scale(0.8);
  margin-top: 2px;
}
/deep/.el-input__icon {
  line-height: 24px;
}
/deep/.el-input__inner {
  font-size: 14px;
}
</style>