
<template>
  <div class="l-table" ref="tableWrap">
    <el-table
      :data="tableData"
      style="width: 100%"
      row-key="date"
      fit
      ref="table"
      :header-cell-style="{ background: '#3965C2', color: '#FFF' }"
    >
      <el-table-column
        class="fff"
        min-width="76"
        :fixed="index==0?'left':false"
        :width="widthArr[index]"
        align="center"
        v-for="(item, index) in colData"
        :key="index"
        :prop="item.prop"
        :label="item.name"
      >
      <template slot="header" slot-scope="scope">
        <span v-if="scope.column.label.indexOf('\n') > 0">
          {{scope.column.label.substring(0,scope.column.label.indexOf('\n'))}}<br>
          {{scope.column.label.substring(scope.column.label.indexOf('\n'))}}
        </span>
        <span v-else style="word-break:break-word;white-space:pre-wrap">{{scope.column.label}}</span>
      </template>
      <!-- <template v-if="widthArr[0] == 78" slot="header2" slot-scope="scope">
        <span>{{scope.column.label}} 66</span>
      </template> -->
        <template slot-scope="scope" >
          <span class="tableImg" v-if="!noShow(scope)" style="position:relative;width:100%;display:inline-block">
              <img
              :src="redImg"
              alt=""
              v-if="showRed(scope)"
              style="width: 6.98px; height: 11.12px;position:absolute;top:30%;left:0px"
            />
            <img
              :src="greenImg"
              alt=""
              v-if="showGreen(scope)"
              style="width: 6.98px; height: 11.12px;top:30%;left:0px;position:absolute"
            />
            <i>{{ (scope.row[scope.column.property]).toFixed(0)}}%</i>
          </span>
          <span v-if="noShow(scope)&&scope.row[scope.column.property]!=''">{{(scope.row[scope.column.property]||'--').toString().replace(/(\d)(?=(?:\d{3})+$)/g, '$1,')}}</span>
          <span v-if="scope.row[scope.column.property]==''&&scope.row[scope.column.property]!='0'">--</span>
          <span v-if="scope.$index!=0 && scope.row[scope.column.property]=='0'">0%</span>

           <span v-if="scope.$index==0 && scope.row[scope.column.property]=='0'">0</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: "Table",
  data() {
    return {
      redImg: require("@/assets/image/Vector.png"),
      greenImg: require("@/assets/image/VectorGreen.png"),
    };
  },
  props: {
    tableData: {
      type: Array,
      default () {
        
      },
    },
    colData: {
      type: Array,
      default() {
        return []
      },
    },
    widthArr: {
      type: Array
    },
    noShowColumn: {
      type: String,
      default() {
        return "指标名称";
      },
    }
  },
  computed: {},
  mounted() {},
  updated(){
    this.$refs.table.doLayout()
  },
  beforeDestroy() {
    window.removeEventListener("resize", () => {
      clearTimeout(this.timer);
    });
  },
  watch: {
    tableData: {
      handler(NEWVAL) {
      },
      deep: true,
      immediate: true,
    },
    colData(NEWVAL){
      if(NEWVAL.length >= 12){
        for(let i = 19; i<32 ;i++){
          this.widthArr[i] = 94
        }
      }
    }
  },
  methods: {
    showRed(scope){
      if(scope.row[scope.column.property] === undefined){
          return false
      }
      if(scope.row.date == '销售占比'){
        return false
      }
      return (scope.row[scope.column.property]!=0 && scope.row[scope.column.property].toString().indexOf('-')===-1)
    },
    showGreen(scope){
      if(scope.row[scope.column.property] === undefined){
          return false
      }
      if(scope.row.date == '销售占比'){
        return false
      }
      return (scope.row[scope.column.property]!=0 && scope.row[scope.column.property].toString().indexOf('-')!==-1)
    },
    noShow(scope) {
      return (scope.column.label == this.noShowColumn || scope.$index===0||scope.row[scope.column.property]==undefined|| scope.row[scope.column.property]==0 || scope.row[scope.column.property]=='');
    },
  },
};
</script>

<style lang="less">
.l-table {
  flex: 1;
  .el-table__footer-wrapper,
  .el-table__header-wrapper {
    border-radius: 10px;
  }
  .el-table--border,
  .el-table--group {
    border: 0;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #fff;
  }
  .tableImg {
    img {
      width: 12px;
    }
  }
  .tableImg{
    img{
      width:12px
    }
  }
}
.l-table .el-table th > .cell {
  font-size: 12px;
}
.l-table .el-table .cell {
  font-size: 12px;
}
  .l-table /deep/.el-table__header-wrapper{
    background-color: rgb(57, 101, 194);
  }
  .l-table .el-table__footer-wrapper, .l-table .el-table__header-wrapper{
    background-color:rgb(57, 101, 194);
    border-bottom-right-radius: 0px;
  }
  .l-table .el-table td, .l-table .el-table th.is-leaf{
    border-bottom: 0px;
  }
  .el-table__fixed{
    border-radius: 10px 0 0 0;
  }
</style>
