<template>
  <el-container class="container" id="trackingReport">
    <!-- 头部 -->
    <el-header style="height:50px">
      <Header></Header>
    </el-header>
    <el-container class="w">
      <el-header style="margin-top:21px">
        <Header_1></Header_1>
      </el-header>
      <el-main style="overflow-y:auto">
        <!-- <div > -->
          <Select @filtrateNumber="filtrateNumber" :allArr="allArr" :initSelectData="initSelectData" :categoryList="categoryList" :brandList="brandList" :subBrandList="subBrandList" :specsList="specsList" :skuList="skuList" :cityList="cityList" :labelList="labelList"></Select>
        <div class="selectBotText">
          <p :title="skuList.join()">
            <span class="selectedDiv">已选SKU：</span>
            <span class="selectedContent">{{skuList.join(" , ")}}</span>
          </p>
          <p :title="cityList.join()">
            <span class="selectedDiv">已选城市：</span>
            <span class="selectedContent">{{cityList.join(" , ")}}</span>
          </p>
        </div>
        <div class="centerBtn">
          <ltabButton :btnList="btnList" @change="activeName = $event" class="fourthBtn"></ltabButton>
          <div class="toopliDiv" style="right:355px; ">
            <div class="tooplifiDiv" style="border: 1px solid #5db1ff;"></div>
            <span class="tooliSpan">预测基线</span>
          </div>
          <div class="toopliDiv" style="right:192px;">
            <div class="tooplifiDiv" style="border: 1px solid #386a3c;"></div>
            <span class="tooliSpan">预测调整结果</span>
          </div>
          <div class="toopliDiv" style="right:10px; ">
            <div class="tooplifiDiv" style="border: 1px solid #C836ED;"></div>
            <span class="tooliSpan">实际销量</span>
          </div>
          <div class="chartWrapDiv">
            <reportCharts :maxValue="maxValue" :unit="unit" :yData="topYdata" :xData="topXdata"></reportCharts>
          </div>
          <div class="chartWrapDiv">
            <correctionCharts :yData="centerYdata" :xData="centerXdata" title="预测基线与实际销量偏差"></correctionCharts>
          </div>
          <div class="chartWrapDiv">
            <correctionCharts :yData="bottomYdata" :xData="bottomXdata" title="预测修正结果与实际销量偏差"></correctionCharts>
          </div>
        </div>
      </el-main>
    </el-container>
  </el-container>
</template>
<script>
import Header from "@/components/common/Header";
import Header_1 from "@/components/common/titleHeader";
import ltabButton from "@/components/common/tabButton";
import reportCharts from "@/components/trackingReport/reportCharts";
import correctionCharts from "@/components/trackingReport/compareCorCharts";
import Select from "@/components/trackingReport/select"

import { queryReportData } from "@/api/trackingReport";
export default {
  name:'TrackingReportIndex',
  data() {
    return {
      maxValues:{},
      // topYdata:{},
      activeName: "first",
      topXdata: [],
      defaultValue: "",
      topYdatas: {},
      centerXdata: [],
      labelList: [],
      centerYdatas: {},
      bottomXdata: [],
      bottomYdatas: {},
      collaspse: false,
      allArr: [],
      params:{plat: 0,stat:0},
      btnLists: [],
      specsList: [],
      brandList: [],
      categoryList: [],
      skuList: [],
      cityList: [],
      btnLists1: [],
      specsList1: [],
      brandList1: [],
      categoryList1: [],
      subBrandList1: [],
      skuList1: [],
      cityList1: [],
      subBrandList: [],
      temSess: {},
      bool: true,
      initSelectData: {},
      btnList: [
        { label: "按件数", value: "first" },
        { label: "按箱数", value: "second" },
        { label: "按金额", value: "third" },
        { label: "按吨数", value: "fourth" },
      ],
    };
  },
  components: {
    Header,
    Header_1,
    ltabButton,
    reportCharts,
    correctionCharts,
    Select
  },
  async created(){
    let param = {plat: 0,stat:0}
    let res = await queryReportData(param);
    this.initSelectData["brandList"] = res.data.filter.brandList;
    this.initSelectData["categoryList"] = res.data.filter.categoryList;
    this.initSelectData["subBrandList"] = res.data.filter.subBrandList;
    this.initSelectData["skuList"] = res.data.filter.skuList;
    this.initSelectData["cityList"] = res.data.filter.cityList;
    this.initSelectData["specsList"] = res.data.filter.specsList;
  },
  mounted() {
    this.temSess = sessionStorage.getItem("inforList")? JSON.parse(sessionStorage.getItem("inforList")): "";
    if (this.temSess != "") {
      if (this.temSess.categoryList) {
        this.categoryList1 = this.temSess.categoryList;
      }
      if (this.temSess.brandList) {
        this.brandList1 = this.temSess.brandList;
      }
      if (this.temSess.subBrandList) {
        this.subBrandList1 = this.temSess.subBrandList;
      }
      if (this.temSess.skuList) {
        this.skuList1 = this.temSess.skuList;
      }
      if (this.temSess.cityList) {
        this.cityList1 = this.temSess.cityList;
      }
      if (this.temSess.specsList) {
        this.specsList1 = this.temSess.specsList;
      }
    }
    this.queryReportData(true)
  },
  computed: {
    maxValue(){
      return this.maxValues[this.activeName]
    },
    unit() {
      let arr = { first: "件", second: "箱", third: "元", fourth: "千克" };
      return arr[this.activeName];
    },
    topYdata() {
      let param = this.topYdatas[this.activeName];
      return param;
    },
    centerYdata() {
      let param = this.centerYdatas[this.activeName];
      return param;
    },
    bottomYdata() {
      let param = this.bottomYdatas[this.activeName];
      return param;
    },
  },
  methods: {
    filtrateNumber(val) {
      this.params = val;
      this.queryReportData();
    },
    async queryReportData(bol) {
      let param = [];
      if (bol && this.temSess != "") {
        param = this.temSess;
      } else {
        param = this.params;
        sessionStorage.removeItem("inforList");
        sessionStorage.setItem("inforList", JSON.stringify(param));
      }
      let res = await queryReportData(param);
      // if(bol){
      this.brandList = res.data.filter.brandList;
      this.categoryList = res.data.filter.categoryList;
      this.subBrandList = res.data.filter.subBrandList;
      this.skuList = res.data.filter.skuList;
      this.cityList = res.data.filter.cityList;
      this.specsList = res.data.filter.specsList;
      this.labelList = res.data.filter.labelList;
      this.maxValues={first:res.data.maxQty,second:res.data.maxCs,third:res.data.maxSdv,fourth:res.data.maxKg}
      // }
      //默认全选
      this.$set(this.allArr, "brandList", res.data.filter.brandList);
      this.$set(this.allArr, "categoryList", res.data.filter.categoryList);
      this.$set(this.allArr, "subBrandList", res.data.filter.subBrandList);
      this.$set(this.allArr, "skuList", res.data.filter.skuList);
      this.$set(this.allArr, "cityList", res.data.filter.cityList);
      this.$set(this.allArr, "specsList", res.data.filter.specsList);
      // }
      // 折线图
      let qtyxs = this.filterData("salesQty","按件数销售值",res.data.salesInfo);
      let qtyjx = this.filterData("fcQty","按件数预测基线",res.data.salesInfo);
      let qtyjg = this.filterData("fcAfQty","按件数预测修正结果",res.data.salesInfo);
      let csxs = this.filterData("salesCs", "按箱数销售值", res.data.salesInfo);
      let csjx = this.filterData("fcCs", "按箱数预测基线", res.data.salesInfo);
      let csjg = this.filterData("fcAfCs","按箱数预测修正结果",res.data.salesInfo);
      let sdvxs = this.filterData("salesSdv","按金额销售值",res.data.salesInfo);
      let sdvjx = this.filterData("fcSdv","按金额预测基线",res.data.salesInfo);
      let sdvjg = this.filterData("fcAfSdv","按金额预测修正结果",res.data.salesInfo);
      let kgxs = this.filterData("salesKg", "按箱数销售值", res.data.salesInfo);
      let kgjx = this.filterData("fcKg", "按箱数预测基线", res.data.salesInfo);
      let kgjg = this.filterData("fcAfKg","按箱数预测修正结果",res.data.salesInfo);
      this.topXdata = qtyjx[0];
      this.$set(this.topYdatas, "first", {jx: qtyjx[1],jg: qtyjg[1],sj: qtyxs[1]});
      this.$set(this.topYdatas, "second", {jx: csjx[1],jg: csjg[1],sj: csxs[1]});
      this.$set(this.topYdatas, "third", {jx: sdvjx[1],jg: sdvjg[1],sj: sdvxs[1]});
      this.$set(this.topYdatas, "fourth", {jx: kgjx[1],jg: kgjg[1],sj: kgxs[1]});

      let fcInfo = res.data.fcInfo,y = [],xt = [],ytCs = [],ytQty = [],ytSdv = [],ytKg = [],
        fcAfInfo = res.data.fcAfInfo,xb = [],x = [],yCs = [],yQty = [],ySdv = [],yKg = [];
      //center
      fcInfo.forEach((item) => {
        xt.push(item.name);
        ytQty.push(item.valueQty ? Math.round(item.valueQty * 100) : "");
        ytCs.push(item.valueCs ? Math.round(item.valueCs * 100) : "");
        ytSdv.push(item.valueSdv ? Math.round(item.valueSdv * 100) : "");
        ytKg.push(item.valueKg ? Math.round(item.valueKg * 100) : "");
      });
      // this.centerYdata = ytQty
      this.centerXdata = xt;
      // this.centerYdatas={first:ytQty,second:ytCs,third:ytSdv,fourth:ytKg}
      this.$set(this.centerYdatas, "first", ytQty);
      this.$set(this.centerYdatas, "second", ytCs);
      this.$set(this.centerYdatas, "third", ytSdv);
      this.$set(this.centerYdatas, "fourth", ytKg);
      //bottom
      fcAfInfo.forEach((item) => {
        x.push(item.name);
        yQty.push(item.valueQty ? Math.round(item.valueQty * 100) : "");
        yCs.push(item.valueCs ? Math.round(item.valueCs * 100) : "");
        ySdv.push(item.valueSdv ? Math.round(item.valueSdv * 100) : "");
        yKg.push(item.valueKg ? Math.round(item.valueKg * 100) : "");
      });
      // this.bottomYdata = yQty
      this.bottomXdata = x;
      // this.bottomYdatas={first:yQty,second:yCs,third:ySdv,fourth:yKg}
      this.$set(this.bottomYdatas, "first", yQty);
      this.$set(this.bottomYdatas, "second", yCs);
      this.$set(this.bottomYdatas, "third", ySdv);
      this.$set(this.bottomYdatas, "fourth", yKg);
      // fcAfInfo
    },
    filterData(value, title, date) {
      let arr2 = [],
        itemArr = [];
      for (let index = 0; index < date.length; index++) {
        if (date[index].timeStr) {
          let b = date[index].timeStr;
          itemArr.push(b);
          let c = 0;
          if (date[index][value] == 0) {
            c = 0;
          } else if (!date[index][value]) {
            c = "";
          } else {
            c = date[index][value];
          }
          arr2.push(c);
        }
      }
      return [itemArr, arr2];
    },
  },
};
</script>

<style lang="less">
#trackingReport {
  // height:100%;
  background-color: #e5e5e5;
  .header_ {
    width: 1181px;
    height: 30px;
    background-color: skyblue;
    margin: 0 auto;
    border-radius: 8px;
  }
  .el-date-editor .el-range__close-icon {
    line-height: 13px;
  }
  .el-range-input {
    font-size: 12px;
  }
  .el-date-editor .el-range-separator {
    line-height: 12px;
    margin-top: 5px;
  }
  .el-header {
    padding: 0;
  }
  .el-main {
    margin: 10px 0 10px 20px;
    border-radius: 10px;
    background-color: #f9fbff;
    padding: 0;
    padding-right: 20px;
  }
  .w {
    width: 1220px;
    margin: 0 auto;
    height: calc(100% - 53px);
    background-color: #f9fbff;
  }
  .l-tabButton {
    margin-left: 26px;
  }
  /deep/.el-input__inner {
    text-align: left;
    font-size: 14px;
    z-index: 100;
  }
  /deep/.Dates5 .el-input__inner {
    padding-left: 10px;
  }
  /deep/.el-range-input {
    font-size: 14px;
  }
  .centerBtn{
    background:#fff;
    border-radius:10px;
    padding:20px 0;
    position: relative;
    .fourthBtn{
      margin-top:29.25px;
      margin-left:26px
    }
  }
  .chartWrapDiv{
    width:100%;
    height:300px
  }
  .toopliDiv{
    width:130px;
    height:30px;
    background-color:white;
    position:absolute;
    z-index:10;
    margin-right:30px;
    box-shadow: 0px 4px 9px rgba(64, 63, 63, 0.05);
    border-radius:10px;
    .tooplifiDiv{
      z-index: 999;
      height: 0px;
      margin-left: 20px;
      margin-top: 14px;
      float: left;
      background-color: black;
      position:absolute;
      width: 26px;
    }
    .tooliSpan{
      float: left;
      margin-top: 6px;
      margin-left: 50px;
      font-size: 12px;
    }
  }
  .selectedDiv{
    color:#403F3F;
    font-style: Medium;
    font-weight:500;
    font-size:14px;
    line-height: 20px;
  }
  .selectedContent{
    color:#8D8D8D;
    font-style: Light;
    font-weight:400;
    font-size:14px;
    line-height: 20px;
  }
  .selectBotText{
    background:#fff;
    margin-bottom:20px;
    border-radius:0 0 10px 10px;
    padding-bottom:10px;
    p{
      margin-left:20px;
      width:calc(100% - 40px);
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      color:#6B6A6A
    }
    p:last-child{
      margin-top:10px;
    }
  }
}
</style>
