<template>
  <div id="modelPrediction" class="container">
    <!-- 头部 -->
    <el-header style="height:50px">
      <Header></Header>
    </el-header>
    <el-container class="section">
      <el-header style="margin-top:21px">
        <Header_1></Header_1>
      </el-header>
      <div :style="`display:flex;width:100%;min-height:${height}px`">
        <el-main style="padding:0;flex:1">
          <router-view></router-view>
        </el-main>
      </div>
    </el-container>
  </div>
</template>
<script>
import Header from "@/components/common/Header";
import Header_1 from "@/components/common/titleHeader";
export default {
  name:'ModelPredictionIndex',
  data() {
    return {
      collaspse: false,
      height:0
    };
  },
  components: {
    Header,
    Header_1
  },
  mounted(){
    this.height = document.body.clientHeight-125
  }
};
</script>

<style lang="less">
#modelPrediction{
  background-color: #E5E5E5;
  width:100%;
  // height:100%;
  .header_ {
    width: 1181px;
    height: 30px;
    background-color: skyblue;
    margin: 0 auto;
    border-radius: 8px;
  }
  .element.style {
    background-color: white;
  }
  .el-header {
    padding: 0;
  }
  .el-main {
    margin: 20px 0;
    width:100%;
  }
  .section {
    width: 1220px;
    // height:calc(100% - 50px);
    margin: 0 auto;
    background-color: #f9fbff;
  }
}

</style>
