<template>
  <div>
    <el-menu
      :default-active="nowRouter()"
      router
      class="el-menu-demo"
      mode="horizontal"
      @select="handleSelect"
      style="margin-left:20px;z-index:100;position:relative"
    >
      <el-menu-item index="/salesNumber" style="font-size:14px;font-weight:500;font-family:微软雅黑">产品销售数据</el-menu-item>
      <el-menu-item index="/stockNumber" style="font-size:14px;font-weight:500;font-family:微软雅黑">KA库存数据</el-menu-item>
      <el-menu-item index="/turnoverRate" style="font-size:14px;font-weight:500;font-family:微软雅黑">产品周转天数</el-menu-item>
 </el-menu>
  </div>
</template>

<script>
export default {
  data() {
    return {
    //   activeIndex: "1",
    };
  },
   methods: {
      handleSelect(key, keyPath) {
        // console.log(key, keyPath);
      },
       nowRouter(){
     return this.$route.path
    }
    }
};
</script>

<style lang="less" scoped>
/deep/#home /deep/.el-menu{
  background-color: #fff;
}
 /deep/.el-menu-demo /deep/.el-menu--horizontal /deep/.el-menu{
    z-index:1;
    position:relative
  }

</style>