<template>
  <div class="tit" id="top_top_header">
    <div class="w">
      <el-row
        class="layout-header"
        type="flex"
        align="middle"
        justify="space-between"
      >
        <el-col :span="12">
          <img class="img" src="@/assets/image/logo.png" alt="" />
          <img src="@/assets/image/logo字母.png" alt="" class="img_1" />
          <el-breadcrumb class="tab" separator="" >
            <el-breadcrumb-item 
            v-for="(item,index) in routerArr"
            :key="index"
            :to="token? item.path : '' "
            style="float:none;"
            :class="activeIndex==index?'activeIndex':'activeName'"
            >
            <span  @click="btn(index)"> {{item.name}}</span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </el-col>
        <el-col class="right" :span="5">
          <el-row
            type="flex"
            justify="end"
            align="middle"
            style="line-height: 40px"
          >
            <el-dropdown @command="handle" style="margin-left:50px">
              <!-- <span>{{ userInfo.name }}</span> -->
              <div class="infos">
              <span v-if="token" style="padding:10px">{{userName}}</span>
              <img v-if="token" class="img_2" :src="imgUrl" alt="">
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="lgout">退出</el-dropdown-item>
              </el-dropdown-menu>
              </div>
            </el-dropdown>
          </el-row>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      activeIndex:sessionStorage.getItem('activeIndex')||0,
      userName:sessionStorage.getItem('userName'),
      token:sessionStorage.getItem("token") ? true : false,
      routerArr:[{
        name:"数据看板",
        path: '/salesNumber'
      },{
        name:"模型预测",
        path: '/modelPrediction/HistorConfig'
      },{
        name:"追踪报告",
        path: '/trackingReport'
      }],
      imgUrl:require("@/assets/image/photo.png")
    }
  },
  mounted(){
  },
  methods: {
    handle(commad) {
      if (commad === "lgout") {
        sessionStorage.clear()
        this.$router.push("/login");
      }
    },
    btn(index){
      if (this.$route.path!="/login"){
        this.activeIndex=index
        sessionStorage.setItem("activeIndex",this.activeIndex)
      }
        
    }
  }
};
</script>
<style>
</style>
<style lang="less">
#top_top_header{
  background-image: url('../../assets/image/header.png');
  background-size: cover;
  height: 50px;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 999; 
  width: 100%;
  /deep/.element.style {
    height: 50px;
    // background-color: blue;
    // margin: 0;
    padding: 0;
    margin-right:26px
  }
  .el-header {
    padding: 0;
    box-shadow: 0px 0px 6px rgba(64, 61, 61, 0.09)
  }
  .el-dropdown-selfdefine {
    margin-top: 11px;
  }
  .el-breadcrumb__inner span{
    font-size:16px;
    font-style: normal;
    padding-right:33px;
    font-weight: 500;
    line-height: 22px;
    font-family: '微软雅黑';
    // font-weight: bold!important;
  }
  .w {
    width: 1220px;
    margin: 0 auto;
  }
  .el-dropdown {
    line-height: 50px;
  }

  .el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover{
    cursor:pointer!important
  }
  .activeIndex .el-breadcrumb__inner{
    color:#2C56AB
  }
  .activeName .el-breadcrumb__inner{
    color:#242424
  }
  .infos{
    margin-top:-2px;
    cursor:pointer;
  }
  .img{
    float:left;
    margin-top:6px;
    width:35.07px;
    height:36.36px
  }
  .img_1{
    float:left;
    margin-top:18px;
    margin-left:12px;
    width:106.26px;
    height:15.87px
  }
  .img_2{
    width:28px;
    height:28px;
    margin-left:3px;
    margin-right:19px
  }
  .tab{
    margin-left:30px;
    float:left;
    line-height:50px
  }
  // .tit{
  //   height: 50px; 
  //   width: 100%;
  //   z-index:999
  // }
}
</style>
