<template>
  <div style="position:relative">
<el-input size="mini" class="clcikHandlerClass z"  :placeholder="placeholder" v-model="showValue" style="width:100%;" @focus="showSeason=true">
</el-input>
<el-card
  class="box-card666 clcikHandlerClass"
  :style="`right:${right+322}px`"
  v-if="showSeason"
>
  <div slot="header" class="clearfix clcikHandlerClass" style="text-align:center;padding:0" >
    <p>开始季度</p>
    <button
      type="button"
      aria-label="前一年"
      class="el-picker-panel__icon-btn el-date-picker__prev-btn el-icon-d-arrow-left clcikHandlerClass"
      @click="prev"
    ></button>
    <span role="button" class="el-date-picker__header-label clcikHandlerClass">{{year}}年</span>
    <button
      type="button"
      aria-label="后一年"
      @click="next"
      class="el-picker-panel__icon-btn el-date-picker__next-btn el-icon-d-arrow-right clcikHandlerClass"
    ></button>
  </div>
  <div class="text item clcikHandlerClass" style="text-align:center;left:596px">
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex==0?'backgroundBlue':''"
      @click="selectSeason(0)"
    >第一季度</el-button>
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex==1?'backgroundBlue':''"
      @click="selectSeason(1)"
    >第二季度</el-button>
  </div>
  <div class="text item clcikHandlerClass" style="text-align:center;">
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex==2?'backgroundBlue':''"
      @click="selectSeason(2)"
    >第三季度</el-button>
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex==3?'backgroundBlue':''"
      @click="selectSeason(3)"
    >第四季度</el-button>
  </div>
</el-card>
<el-card
  class="box-card666 clcikHandlerClass"
  :style="`right:${right}px`"
  v-if="showSeason"
>
  <div slot="header" class="clearfix clcikHandlerClass" style="text-align:center;padding:0">
    <p>结束季度</p>
    <button
      type="button"
      aria-label="前一年"
      class="el-picker-panel__icon-btn el-date-picker__prev-btn el-icon-d-arrow-left clcikHandlerClass"
      @click="prev1"
    ></button>
    <span role="button" class="el-date-picker__header-label clcikHandlerClass">{{year1}}年</span>
    <button
      type="button"
      aria-label="后一年"
      @click="next1"
      class="el-picker-panel__icon-btn el-date-picker__next-btn el-icon-d-arrow-right clcikHandlerClass"
    ></button>
  </div>
  <div class="text item clcikHandlerClass" style="text-align:center;">
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd2?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex2==0?'backgroundBlue':''"
      @click="selectSeason(0,'btnSeason')"
    >第一季度</el-button>
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd2?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex2==1?'backgroundBlue':''"
      @click="selectSeason(1,'btnSeason')"
    >第二季度</el-button>
  </div>
  <div class="text item clcikHandlerClass" style="text-align:center;">
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd2?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex2==2?'backgroundBlue':''"
      @click="selectSeason(2,'btnSeason')"
    >第三季度</el-button>
    <el-button
      type="text"
      size="medium"
      :style="quarterDisablesd2?'pointer-events: none;width:40%;color: #999;float:left' : 'width:40%;color: #606266;float:left'"
      :class="activeIndex2==3?'backgroundBlue':''"
      @click="selectSeason(3,'btnSeason')"
    >第四季度</el-button>
  </div>
</el-card>
  </div>
</template>

<script>
export default {
  name:'Quarter',
    props: {
    valueArr: {
      default: () => {
        return ['01-03', '04-06', '07-09', '10-12']
      },
      type: Array
    },
    getValue: {
      default: () => {},
      type: Function
    },
    placeholder:{
      type:String,
      default:()=>{
        return ""
        }
    },
    defaultValue: {
      default: '',
      type: String
    }
  },
data() {
    return {
      showSeason: false,
      season: '',
      season1:"",
      right:0,
      year: new Date().getFullYear(),
      currentMonth:new Date().getMonth() + 1,
      showValue: '',
      year1:new Date().getFullYear(),
      fullWidth:document.documentElement.clientWidth,
      activeIndex:8,
      activeIndex2:8,
      quarterDisablesd: false,
      quarterDisablesd2: false
    }
  },
 created() {},
  mounted(){
    const that = this
    window.onresize = () => {
      return (() => {
        window.fullWidth = document.documentElement.clientWidth
        that.fullWidth = window.fullWidth
      })()
    }
    document.addEventListener('click',this.clickHandler.bind()) 

  },
watch: {
  fullWidth:{
    handler(newval){
      this.right = (newval-1220)/2
    },
    immediate:true
  },
  defaultValue:{
    handler(val){
      if(val!=""){
        this.showValue = val
      }
    },
    immediate:true
  }
  },
methods: {
  clickHandler(event){
    var event = event || window.event;
    let className = event.target.className
    // console.log(event.target.offsetParent,"event.offsetParent")
    let pclassName = event.target.offsetParent==null?"":event.target.offsetParent.className
    // event.stopPropagation()
    // console.log(pclassName.includes('clcikHandlerClass'),"eventeventeventevent")
    
    if((className!=""&&className.includes('clcikHandlerClass'))|| (pclassName!=""&&pclassName.includes('clcikHandlerClass'))){
      // console.log("1111111")
      this.showSeason = true
    }else{
      // console.log(this,"22222")
      this.showSeason = false
    }
      
  },
    one() {
      this.showSeason = false
    },
    prev() {
      this.activeIndex=8
      this.year = this.year * 1 - 1
      if(this.year <= new Date().getFullYear()){
        this.quarterDisablesd = false
      }
    },
    next() {
      this.activeIndex=8
      this.year = this.year * 1 + 1
      if(this.year > new Date().getFullYear()){
        this.quarterDisablesd = true
      }
    },
    prev1() {
      this.activeIndex2=8
      this.year1 = this.year1 * 1 - 1
      if(this.year1 <= new Date().getFullYear()){
        this.quarterDisablesd2 = false
      }
    },
    next1() {
      this.activeIndex2=8
      this.year1 = this.year1 * 1 + 1
       if(this.year1 > new Date().getFullYear()){
        this.quarterDisablesd2 = true
      }
    },
    selectSeason(i,str) {
      let that = this
      // let arr = that.valueArr[i].split('-')
      // that.getValue(that.year + arr[0] + '-' + that.year + arr[1])
      // that.showSeason = false
      if(str){
        that.season1 = i + 1
        // let arr = that.valueArr[i].split('-')
        if(this.season==""){
          this.$message.error("请选择开始季度")
          this.activeIndex2=8
        }else{
          // 判断选择结束季度不能大于当前季度
          if( this.year1 == new Date().getFullYear() && that.season1 > Math.floor(this.currentMonth/3) + 1){
          this.$message.error("结束季度不能大于当前季度")
          return
          }
          this.activeIndex2=i
          // 判断结束季度不能小于开始季度
          if( (this.year > this.year1) || (this.year == this.year1 && this.activeIndex > this.activeIndex2)){
             this.$message.error("结束季度不能小于开始季度")
             return
          }
          this.showValue = `${this.year}年${this.season}季度    ~    ${this.year1}年${this.season1}季度`
          this.$emit("change",this.showValue)
          this.showSeason=false
        }
      }else{
        this.activeIndex=i
        that.season = i + 1
         // 判断选择开始季度不能大于当前季度
        if( this.year == new Date().getFullYear() && that.season > Math.floor(this.currentMonth/3) + 1){
          this.$message.error("开始季度不能大于当前季度")
          return
        }
      }
    }
  }
}
</script>
<style>
  .box-card666{
    width:322px;
    padding: 0 3px 20px;
    margin-top:10px;
    position:fixed;
    z-index:11;
  }
  .backgroundBlue{
    background-color: #409EFF!important;
    color:#fff!important;
    border-radius:20px
  }
  .z .el-input__inner{
    text-align: center!important;
  }
</style>

  