<template>
    <div class="l-tabButton">
      <div style="display:inline-block" v-for="(item,index) in btnList" :key="item.value">
        <span @click="change(item,index)" :class="index==activeIndex?'activeBtn':'hoverClass'" :style="index==0?'margin-left:0':''">
          {{item.label}}
        </span>
        <i style="color:#D9D1D1" v-if="index!=btnList.length-1">|</i>
      </div>
    </div>
</template>
<script>
export default {
  name:"L-tabButton",
  data() {
    return {
      activeIndex:0
    };
  },
  props:{
    btnList:{
      type:Array,
      default(){
        return []
      }
    },
    activeIndex1:{
      type:Number,
      default(){
        return 0
      }
    }
  },
  mounted(){
    
  },
  watch:{
    activeIndex1:{
      handler(newval){
        this.activeIndex = newval
      },
      immediate:true
    }
  },
  components: {

  },
  methods:{
    change(item,index){
      this.activeIndex = index
      this.$emit('change',item.value)
    }
  }

};
</script>

<style lang="less">
.l-tabButton{
  display:inline-block;
  background:#FFF6F6;
  padding:3px;
  border-radius: 5px;
  span{
    display: inline-block;
    position: relative;
    padding:3px 15px;
    cursor:pointer;
    border-radius: 5px;
    z-index:1;
    margin:0 -2px;
    transition: all 0.5s;
    font-size: 14px;
  }
  .hoverClass:hover{
    color:#3661BF
  }
  span:active{
    background:#3661BF;
    color:#fff;
  }
  .activeBtn{
    background:#3661BF !important;
    color:#fff;
  }
  i{
    padding:5px 0px
  }
}
</style>
