<template>
  <div class="container" id="top_bottom_header">
    <div class="w">
      <div class="header">
        <el-breadcrumb :separator="$route.meta.length>1?'|':''" style="line-height: 46px; float: left">
          <!-- <el-breadcrumb-item
            style="font-weight: 500; font-size: 16px; margin-left: 22px"
            >{{ $route.meta[0] }}</el-breadcrumb-item
          > -->
          <el-breadcrumb-item
            style="margin-left: 20px; font-weight: 500; font-size: 16px"
            >{{ $route.meta[1] }}</el-breadcrumb-item
          >
        </el-breadcrumb>
        <el-button
          class="button"
          v-if="btnShow"
          type="primary"
          @click="clickHandler"
        >
          <img
            src="@/assets/image/out.png"
            alt=""
            style="
              margin-left: -48px;
              margin-top: -5px;
              width: 24.78px;
              height: 22px;
            "
          />
          {{ exportVal }}</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { download } from "@/api/modelPrediction";
import axios from "axios";
export default {
  watch: {
    $route: {
      handler(to, from) {
        if (to.path.includes("modelPrediction")) {
          if (to.fullPath.includes("look")) {
            this.btnShow = true;
          } else {
            this.btnShow = false;
          }
        } else {
          this.btnShow = true;
        }

        // if(to.path === "/modelPrediction/ForecastConfig" || to.path === "/modelPrediction/HistorConfig"){
        //   this.btnShow = false
        // }else{
        //   this.btnShow = true
        // }
        // if(to.path === "/modelPrediction/ForecastConfig"){
        //   this.exportVal = "上传百事库存"
        // }else{
        //   this.exportVal = "导出数据"
        // }
      },
      deep: true,
      immediate: true,
    },
  },
  data() {
    return {
      exportVal: "导出数据",
      btnShow: true,
    };
  },
  mounted() {
  },
  methods:{
    async clickHandler(){
      if(this.$route.path=="/modelPrediction/ForecastConfig"){
        let model_id = JSON.parse(this.$route.query.para).id
        this.downLoadFile1(process.env.VUE_APP_API_URL+'model/file',{model_id})
      }

      if(this.$route.path=="/trackingReport"){
        let par = JSON.parse(sessionStorage.getItem("inforList"))
        // console.log(par,"vdaedasdasdasdas")
        this.downLoadFile(process.env.VUE_APP_API_URL+'report/file',par)
      }

      if(this.$route.path=="/salesNumber"){
        let par = JSON.parse(sessionStorage.getItem("Information"))
        // console.log(par,"vdaedasdasdasdas")
        this.downLoadFile(process.env.VUE_APP_API_URL+'sales/file',par)
      }

      if(this.$route.path=="/stockNumber"){
        let par = JSON.parse(sessionStorage.getItem("Informations"))
        // console.log(par,"vdaedasdasdasdas")
        this.downLoadFile(process.env.VUE_APP_API_URL+'stock/file',par)
      }

       if(this.$route.path=="/turnoverRate"){
        let par = JSON.parse(sessionStorage.getItem("turnInformation"))
        // console.log(par,"vdaedasdasdasdas")
        this.downLoadFile(process.env.VUE_APP_API_URL+'turnover/file',par)
      }

    },
    downLoadFile1(url, params, fileName, fallback) {
      axios({
        url,
        method: "GET",
        responseType: "blob",
        params,
      }).then((response) => {
        let temp = response.headers["content-disposition"]
          .split(";")[1]
          .split("filename=")[1];
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", decodeURI(temp));
        document.body.appendChild(link);
        link.click();
        fallback && fallback();
      });
    },
   downLoadFile(url, data, fileName, fallback) {
      axios({
        url,
        method: 'POST',
        responseType: 'blob',
        data
      }).then(response => {
        let temp = response.headers["content-disposition"].split(";")[1].split("filename=")[1];
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download',decodeURI(temp))
        document.body.appendChild(link)
        link.click()
        fallback && fallback()
      })
    },
  }
};
</script>
<style lang="less">
#top_bottom_header {
  .header {
    width: 1181px;
    height: 49px;
    background-color: #D2E8FD;
    border-radius: 7px;
    margin: 0 auto;
    .button {
      float: right;
      width: 118px;
      height: 34px;
      border-radius: 6px;
      color: white;
      margin-top: 8px;
      margin-right: 20px;
      font-size: 14px;
      padding: 7px 11px 7px 50px;
      // border-color: #3a66c4;
    }
  }
  .el-breadcrumb__inner {
    color: #575252;
    font-size:16px;
    font-weight: 500;
    font-family:'微软雅黑'
  }
  // .el-breadcrumb__item:last-child .el-breadcrumb__inner {
  //   color: #575252;
  // }
  /deep/#top_bottom_header /deep/.el-breadcrumb__item:last-child /deep/.el-breadcrumb__inner{
    color: #575252;
    font-size:16px
;
  }
  .el-breadcrumb__separator {
    color: #575252;
    width: 27px;
    margin-left: 22px;
  }
  .el-button--push {
    background: #3a66c4;
    width: 118px;
    height: 34px;
    margin-left: 806px;
    margin-top: 8px;
  }
  .w {
    width: 1200px;
    margin: 0 auto;
  }
  .el-breadcrumb__item:last-child .el-breadcrumb__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
  .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #575252;
  }
}
// 575252
</style>

