<template>
  <div class="container">
    <el-container>
      <!-- 头部表单 -->
      <el-header style="height: 120px; position: relative">
        <Filtrate @filtrateNumber="filtrateNumber" :allArr="allArr" :initSelectData="initSelectData" :subShowType="subShowType" :categoryList="categoryList" :brandList="brandList" :subBrandList="subBrandList" :specsList="specsList" :skuList="skuList" :cityList="cityList" ></Filtrate>
      </el-header>
      <!-- 内容部分 -->
      <el-main style="margin-left: 0px; margin-top: 15px">
        <!-- 小方块 -->
        <cardNumber :salesDate="salesDate" :unit="unit" :picture="picture"></cardNumber>
        <div style="margin-top: 15px">
          <div class="Echarts">
            <ltabButton :btnList="btnList" @change="activeName = $event" class="lBtn"></ltabButton>
            <div class="tbBox">
              <div class="tbBox_1"></div>
              <span class="tb_word">同比增长</span>
            </div>
            <div v-if="statShow != 2" class="hbBox">
              <div class="hbBox_1"></div>
              <span class="hbBox_word">环比增长</span>
            </div>
            <Charts class="Echarts_1" :rightVal="57" :yData="yData" :xData="xData" :unit="unit"></Charts>
          </div>
          <div class="mainTable">
            <Table :tableData="tableData" :colData="colData1" :widthArr="[76,94,86,88,88,86,88,87,87,89,86,88,84,94,98,94,94,94,94]"></Table>
          </div>
          <div class="cityBox">
            <ltabButton :btnList="btnLists" @change="activeNameBottom = $event" :activeIndex1="activeIndex" class="childBtn"></ltabButton>
            <Charts class="Echarts_1" :rightVal="7" :unit="unit" :yItem="yItem" :xData="xDatas" :yData="bottomyData"></Charts>
          </div>
          <Table class="childTable" :tableData="tableDataBottom" :colData="colData2" :widthArr="[78,96,88,93,90,94,84,98,90,92,90,92,86,92,96,92,92,92,92]"></Table>
        </div>
      </el-main>
    </el-container>
  </div>
</template>
<script>
import Filtrate from "@/components/Home/filtrate";
import cardNumber from "@/components/Home/cardNumber";
import { querySalesData, querySalesSubData } from "@/api/salesNumber";
import echarts from "echarts";
import ltabButton from "@/components/common/tabButton";
import Table from "@/components/Home/table";
import Charts from "@/components/Home/echartCom";
export default {
  name:'SalesNumberIndex',
  components: {
    Filtrate,
    cardNumber,
    ltabButton,
    Table,
    Charts,
  },
  data() {
    return {
      specsListClass: "selectBefore",
      brandListClass: "selectBefore",
      categoryListClass: "selectBefore",
      skuListClass: "selectBefore",
      cityListClass: "selectBefore",
      subBrandListClass: "selectBefore",
      tableBottomDates: { first: [], second: [], third: [], fourth: [] },
      tableTopDates: { first: [], second: [], third: [], fourth: [] },
      Vector: require("@/assets/image/Vector.png"),
      VectorGreen: require("@/assets/image/VectorGreen.png"),
      objNumber: {},
      objNumber1: {},
      objNumber2: {},
      specsList: [],
      brandList: [],
      categoryList: [],
      skuList: [],
      cityList: [],
      plat: ["京东自营"],
      stat: ["月", "日"],
      subBrandList: [],
      allArr: {}, //全选
      initSelectData: {},
      statShow:0,
      params: {
        stat: 0,
        plat: 0,
      },
      picture: [
        require("@/assets/image/Group 145.png"),
        require("@/assets/image/Group 269.png"),
        require("@/assets/image/Group 144.png"),
      ],
      defaultValue: "",
      maxQty: "",
      maxCs: "",
      maxSdv: "",
      maxKg: "",
      topDate: "",
      dateStart: "",
      dateEnd: "",
      activeIndex: 0,
      topDate1: 0,
      daterange: "monthrange",
      brandList1: [],
      skuList1: [],
      cityList1: [],
      forms: {
        dateRange: [],
      },
      value3: [new Date(2000, 10, 10, 10, 10), new Date(2000, 10, 11, 10, 10)],
      selectData: [],
      select: "",
      activeName: "first",
      activeNameBottom: "first",
      btnList: [
        { label: "按件数", value: "first" },
        { label: "按箱数", value: "second" },
        { label: "按金额", value: "third" },
        { label: "按吨数", value: "fourth" },
      ],
      btnLists: [
        { label: "子品牌", value: "first" },
        { label: "规格", value: "second" },
        { label: "SKU", value: "third" },
        { label: "城市", value: "fourth" },
      ],
      sess: {},
    };
  },
  created() {
    let param0 = {
      plat: 0,
      stat: 0,
    };
    querySalesData(param0).then((res) => {
      this.initSelectData["brandList"] = res.data.filter.brandList;
      this.initSelectData["categoryList"] = res.data.filter.categoryList;
      this.initSelectData["subBrandList"] = res.data.filter.subBrandList;
      this.initSelectData["skuList"] = res.data.filter.skuList;
      this.initSelectData["cityList"] = res.data.filter.cityList;
      this.initSelectData["specsList"] = res.data.filter.specsList;
    });
        this.sess = sessionStorage.getItem("Information")? JSON.parse(sessionStorage.getItem("Information")): "";
    if (this.sess != "") {
      this.statShow = this.sess.stat
      if (this.sess.start && this.sess.stat == 2) {
        let str = this.sess.start.replace("Q", "").split("-").join("年") + "季度";
        let end = this.sess.end.replace("Q", "").split("-").join("年") + "季度";
        this.defaultValue = str + "    ~   " + end;
      }
      if (this.sess.categoryList) {
        this.categoryList = this.sess.categoryList;
        this.categoryListClass = "selectAfter";
      }
      if (this.sess.brandList) {
        this.brandList = this.sess.brandList;
        this.brandListClass = "selectAfter";
      }
      if (this.sess.subBrandList) {
        this.subBrandList = this.sess.subBrandList;
        this.subBrandListClass = "selectAfter";
      }
      if (this.sess.skuList) {
        this.skuList1 = this.sess.skuList;
        this.skuListClass = "selectAfter";
      }
      if (this.sess.cityList) {
        this.cityList1 = this.sess.cityList;
        this.cityListClass = "selectAfter";
      }
      if (this.sess.specsList) {
        this.specsList = this.sess.specsList;
        this.specsListClass = "selectAfter";
      }
    }
  },
  mounted() {
    this.querySalesData(true);
    this.getSalesSubData(true);
  },
  watch: {
    activeNameBottom() {
      this.getSalesSubData();
    },
  },
  computed: {
    //tab切换时单位变换
    unit() {
      let arr = { first: "件", second: "箱", third: "元", fourth: "千克" };
      return arr[this.activeName];
    },
    //小方块数据
    salesDate() {
      let arr = { first: "", second: "", third: "", fourth: "" };
      let arrs = { first: "件", second: "箱", third: "元", fourth: "千克" };
      let absNum = "",
        absNum1 = "",
        absNum2 = "",
        src = "";
      if (this.objNumber2[this.activeName] > 0) {
        src = this.Vector;
      } else if (this.objNumber2[this.activeName] < 0) {
        src = this.VectorGreen;
      } else {
        src = "";
      }
      if (this.objNumber[this.activeName] == "NaN" || this.objNumber[this.activeName] == "" || !this.objNumber[this.activeName]) {
        absNum = "--";
      } else {
        absNum = (this.objNumber[this.activeName] || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, "$1,");
      }
      if (this.objNumber1[this.activeName] == "NaN" || this.objNumber1[this.activeName] == "" || !this.objNumber1[this.activeName]) {
        absNum1 = "--";
      } else {
        absNum1 = (this.objNumber1[this.activeName] || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, "$1,");
      }
      let objtem_number = this.objNumber2[this.activeName]
      if ((objtem_number =="NaN" || objtem_number =="" || objtem_number ==undefined) && objtem_number != 0) {
        absNum2 = "--";
        src = "";
      } else {
        absNum2 =((this.objNumber2[this.activeName] * 100).toFixed(0) || 0).toString().replace(/(\d)(?=(?:\d{3})+$)/g, "$1,") + "%";
      }
      let abs = [
        {
          number: absNum,
          words: "绝对值总量",
          src: "",
        },
        {
          number: absNum1,
          words: "去年同期绝对值总量",
          src: "",
        },
        {
          number: absNum2,
          words: "总同比增速",
          src,
        },
      ];
      return abs;
    },
    tableData() {
      return this.tableTopDates[this.activeName][1];
    },
    yItem() {
      let arr = {
        first: this.maxQty,
        second: this.maxCs,
        third: this.maxSdv,
        fourth: this.maxKg,
      };
      return Number(arr[this.activeName]);
    },
    subShowType() {
      let arr = { first: 0, second: 1, third: 2, fourth: 3 };
      return arr[this.activeNameBottom];
    },
    colData1() {
      return this.tableTopDates[this.activeName][0];
    },
    xData() {
      return this.tableTopDates[this.activeName][2];
    },
    yData() {
      let param = {
        title:this.unit,
        lineLeft: {
          name: "同比增长",
          data: this.tableTopDates[this.activeName][5],
        },
        lineRight: {
          name: "环比增长",
          data: this.tableTopDates[this.activeName][4],
        },
        pieData: this.tableTopDates[this.activeName][3],
      };

      return param;
    },
    tableDataBottom() {
      return this.tableBottomDates[this.activeName][1];
    },
    colData2() {
      return this.tableBottomDates[this.activeName][0];
    },
    xDatas() {
      return this.tableBottomDates[this.activeName][2];
    },
    bottomyData() {
      let param = {
        title:this.unit,
        lineLeft: {
          name: "同比增长",
          data:[],
        },
        lineRight: {
          name: "环比增长",
          data:[],
        },
        pieData: this.tableBottomDates[this.activeName][3],
      };
      return param;
    },
  },
  methods: {
    async querySalesData(bol) {
      let param0 = {
        plat: 0,
        stat: 0,
      };
      if (bol && this.sess != "") {
        param0 = this.sess;
      } else {
        param0 = this.params;
        sessionStorage.removeItem("Information");
        sessionStorage.setItem("Information", JSON.stringify(param0));
      }
      delete param0.subShowType
      let res = await querySalesData(param0);
      this.brandList = res.data.filter.brandList;
      this.categoryList = res.data.filter.categoryList;
      this.subBrandList = res.data.filter.subBrandList;
      this.skuList = res.data.filter.skuList;
      this.cityList = res.data.filter.cityList;
      this.specsList = res.data.filter.specsList;
      //默认全选
      this.$set(this.allArr, "brandList", res.data.filter.brandList);
      this.$set(this.allArr, "categoryList", res.data.filter.categoryList);
      this.$set(this.allArr, "subBrandList", res.data.filter.subBrandList);
      this.$set(this.allArr, "skuList", res.data.filter.skuList);
      this.$set(this.allArr, "cityList", res.data.filter.cityList);
      this.$set(this.allArr, "specsList", res.data.filter.specsList);
      var date = res.data.salesInfo;
      if (date.length != 0) {
        date.forEach((item) => {
          //按件数
          item.moMIncQty = item.moMIncQty == "" ? "" : item.moMIncQty;
          item.yoYIncQty = item.yoYIncQty == "" ? "" : item.yoYIncQty;
          //按箱数
          item.moMIncCs = item.moMIncCs == "" ? "" : item.moMIncCs;
          item.yoYIncCs = item.yoYIncCs == "" ? "" : item.yoYIncCs;
          //按金额
          item.moMIncSdv = item.moMIncSdv == "" ? "" : item.moMIncSdv;
          item.yoYIncSdv = item.yoYIncSdv == "" ? "" : item.yoYIncSdv;
          //按千克
          item.moMIncKg = item.moMIncKg == "" ? "" : item.moMIncKg;
          item.yoYIncKg = item.yoYIncKg == "" ? "" : item.yoYIncKg;
        });
        (this.objNumber = {
          first: res.data.sumSalesAllQty,
          second: res.data.sumSalesAllCs,
          third: res.data.sumSalesAllSdv,
          fourth: res.data.sumSalesAllKg,
        }),
          (this.objNumber1 = {
            first: res.data.sumLstYrSalesAllQty,
            second: res.data.sumLstYrSalesAllCs,
            third: res.data.sumLstYrSalesAllSdv,
            fourth: res.data.sumLstYrSalesAllKg,
          });
        this.objNumber2 = {
          first: res.data.sumYoYIncQty,
          second: res.data.sumYoYIncCs,
          third: res.data.sumYoYIncSdv,
          fourth: res.data.sumYoYIncKg,
        };
        let itemSalesQty = this.filterData("salesQty","销售件数",date,"moMIncQty","环比增速","yoYIncQty","同比增速");
        let itemsalesCs = this.filterData("salesCs","销售箱数",date,"moMIncCs","环比增速","yoYIncCs","同比增速");
        let itemsalesSdv = this.filterData("salesSdv","销售金额",date,"moMIncSdv","环比增速","yoYIncSdv","同比增速");
        let itemsalesKg = this.filterData("salesKg","销售吨数",date,"moMIncKg","环比增速","yoYIncKg","同比增速");
        this.$set(this.tableTopDates, "first", itemSalesQty);
        this.$set(this.tableTopDates, "second", itemsalesCs);
        this.$set(this.tableTopDates, "third", itemsalesSdv);
        this.$set(this.tableTopDates, "fourth", itemsalesKg);
      } else {
        this.objNumber="",
        this.objNumber1="",
        this.objNumber2=""
        this.tableTopDates[this.activeName].forEach((item,index)=>{
          this.$set(this.tableTopDates[this.activeName],index,[])
        })
      }
    },
    //子数据
    async getSalesSubData(bol, bole) {
      let params = {
        plat: 0,
        stat: 0,
      };
      if (bol && this.sess != "") {
        if (bole) {
          params = this.params;
          sessionStorage.removeItem("Information");
          sessionStorage.setItem("Information", JSON.stringify(params));
        } else {
          params = this.sess;
        }
      } else {
        params = this.params;
        sessionStorage.removeItem("Information");
        sessionStorage.setItem("Information", JSON.stringify(params));
      }
      params["subShowType"] = this.subShowType;
      let res = await querySalesSubData(params);
      this.maxQty = res.data.maxQty; //按件数最大值
      this.maxCs = res.data.maxCs; //按箱数最大值
      this.maxSdv = res.data.maxSdv; //按金额最大值
      this.maxKg = res.data.maxKg; //按千克最大值
      let titleaaa = "";
      switch (this.activeName) {
        case "first":
          titleaaa = "销售件数";
          break;
        case "second":
          titleaaa = "销售箱数";
          break;
        case "thrid":
          titleaaa = "销售金额";
          break;
        case "fourth":
          titleaaa = "销售吨数";
          break;
        default:
          break;
      }
      var date = res.data.salesInfo;
      if (date.length != 0) {
        this.childNumber = {
          first: res.data.valueQty,
          second: res.data.valueCs,
          third: res.data.valueSdv,
          fourth: res.data.valueKg,
        };
        
        let itemSalesQty = this.filterData("valueQty","销售件数",date,"moMIncQty","环比增速","yoYIncQty","同比增速",true);
        let itemsalesCs = this.filterData("valueCs","销售箱数",date,"moMIncCs","环比增速","yoYIncCs","同比增速",true);
        let itemsalesSdv = this.filterData("valueSdv","销售金额",date,"moMIncSdv","环比增速","yoYIncSdv","同比增速",true);
        let itemsalesKg = this.filterData("valueKg","销售吨数",date,"moMIncKg","环比增速","yoYIncKg","同比增速",true);
        this.$set(this.tableBottomDates, "first", itemSalesQty);
        this.$set(this.tableBottomDates, "second", itemsalesCs);
        this.$set(this.tableBottomDates, "third", itemsalesSdv);
        this.$set(this.tableBottomDates, "fourth", itemsalesKg);
      } else {
         this.tableBottomDates[this.activeName].forEach((item,index)=>{
          this.$set(this.tableBottomDates[this.activeName],index,[])
        })
      }
    },

    //筛选时子页面传来的值
    filtrateNumber(val) {
      this.params = val;
      this.statShow = val.stat
      this.querySalesData();
      this.getSalesSubData();
    },
   
    formatNum(value,tofixedTrue){
      let d = ""
        if (value == 0) {
          d = 0;
        } else if (!value) {
          d = "";
        } else {
          d = tofixedTrue?value.toFixed(2)*100:value;
        }
        return d
    },

    //基于接口返回数据的封装
    filterData(value, title, date, HB, HBtitle, TB, TBtitle,noShowHBTB) {
      let headArr = [], //表头数据
          salesArr = [], //销售数据
          HBarr = [],  //环比增长数据
          TBarr = [],  //同比增长数据
          AbscissaArr = [], //Echarts图横坐标数据
          objFin1 = {}, //销售数据数据
          objFinHB = {}, //环比增长数据
          objFinTB = {}; //同比增长数据
      for (let index = 0; index < date.length; index++) {
        if (date[index].timeStr) {
          let Tables = {
            name: "",
            prop: "",
          };
          Tables.name = date[index].timeStr;
          Tables.prop = "month" + index;
          objFin1[Tables.prop] = "";
          headArr.push(Tables);
          AbscissaArr.push(Tables.name);
        } else if (date[index].name) {
          let cityName = date[index].name;
          let cityTables = {
            name: "",
            prop: "",
          };
          cityTables.name = cityName;
          cityTables.prop = "months" + index;
          objFin1[cityTables.prop] = "";
          headArr.push(cityTables);
          AbscissaArr.push(cityTables.name);
        }
        //环比增速数据  formatNum为处理数据格式，参数为true时保留两位小数
        HBarr.push(this.formatNum(date[index][HB],true));
        //同比增速数据  formatNum为处理数据格式
        TBarr.push(this.formatNum(date[index][TB],true));
        //销售数据  formatNum为处理数据格式
        salesArr.push(this.formatNum(date[index][value],false))

      }
      for (let i in headArr) {
        objFin1[headArr[i].prop] = salesArr[i];

        objFinHB[headArr[i].prop] = HBarr[i];
        objFinHB["date"] = HBtitle;

        objFinTB[headArr[i].prop] = TBarr[i];
        objFinTB["date"] = TBtitle;
      }
      headArr.unshift({ name: "指标名称", prop: "date" });
      objFin1["date"] = title;
      let arrFinish = noShowHBTB?[objFin1,objFinTB]:[objFin1,objFinTB, objFinHB];
      // 表头 表格 图横坐标 销售 环比 同比
      return [headArr, arrFinish, AbscissaArr, salesArr, HBarr, TBarr];
    },
  },
};
</script>

<style lang="less" scoped>
.el-main {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.Echarts {
  box-shadow: rgba(52, 52, 52, 0.1) 0px 0px 9px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}
.lBtn {
  margin-top: 15px;
  margin-left: 26px;
}
.tbBox{
  width: 100px;
  height: 30px;
  background-color: white;
  position: absolute;
  z-index: 10;
  margin-right: 30px;
  margin-left: 940px;
  box-shadow: 0px 4px 9px rgba(64, 63, 63, 0.05);
  border-radius: 10px;
}
.tbBox_1{
  width: 26px;
  border: 1px solid #386a3c;
  z-index: 999;
  height: 0px;
  margin-left: 10px;
  margin-top: 14px;
  float: left;
  background-color: black;
  position: absolute;
}
.tb_word{
  float: left;
  margin-top: 6px;
  margin-left: 43px;
  font-size: 12px;
}
.hbBox{
  width:100px;
  height:30px;
  background-color:white;
  position:absolute;
  z-index:10;
  margin-right:30px;
  margin-left:1060px;
  box-shadow: 0px 4px 9px rgba(64, 63, 63, 0.05);
  border-radius:10px;
}
.hbBox_1{
 width: 26px;
 border: 1px solid #5db1ff;
 z-index: 999;
 height: 0px;
 margin-left: 10px;
 margin-top: 14px;
 float: left;
 background-color: black;
 position: absolute;
}
.hbBox_word{
 float: left;
 margin-top: 6px;
 margin-left: 43px;
 font-size: 12px;
}
.Echarts_1{
 width: 100%; 
 height: 300px; 
 background-color: white;
}
.mainTable{
 box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
 margin-bottom: 4px;
 margin-top:15px
}
.cityBox{
 box-shadow: rgba(52, 52, 52, 0.1) 0px 0px 9px;
 margin-top: 20px;
 background-color: white;
}
.childBtn{
 margin-left: 26px; 
 margin-top: 16px
}
.childTable{
 margin-bottom: 5px;
 margin-top:15px;
 box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
}
/deep/.el-input__inner{
  height: 30px;
}
</style>
