<template>
  <div class="container" id="home">
    <!-- 头部 -->
    <el-header class="heads">
      <Header></Header>
    </el-header>
    <el-container class="section">
      <el-header class="head">
        <Header_1></Header_1>
      </el-header>
      <div class="box">
        <el-main class="main-content">
          <HeaderMenu class="menus"></HeaderMenu>
          <router-view></router-view>
        </el-main>
      </div>
    </el-container>
  </div>
</template>
<script>
import Header from "@/components/common/Header";
import HeaderMenu from "@/components/common/headerMenu"
import Header_1 from "@/components/common/titleHeader";
export default {
  name:'HomeIndex',
  data() {
    return {
      collaspse: false
    };
  },
  methods:{},
  components: {
    Header,
    HeaderMenu,
    Header_1,
  }
};
</script>

<style lang="less">
#home .section{
  height:100%
}
#home{
  width:100%;
  background-color: #e5e5e5;
  /deep/.element.style {
    background-color: white;
    height: 100%;
    // padding-right: 12px
  }
  /deep/.el-menu-demo /deep/.el-menu--horizontal /deep/.el-menu{
    z-index:100;
    position:relative
  }
  .heads{
    height:50px!important;
    width:100%
  }
  .head{
    margin-top:21px;
    background:#f9fbff
  }
  .box{
    display:flex;
    margin-top:-10px;
    height:calc(100% - 71px);
  }
  .main-content{
    padding:0;
    flex:1;
    background:#f9fbff;
    margin-right:10px;
    padding-right:1px
  }
.menus{
    margin-top:20px;
    margin-left:-18px
}
  .el-header {
    padding: 0;
    // box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07)
  }
  .el-main {
    margin: 10px 20px;
    border-radius: 10px;
    overflow-x: hidden;
  }
  .section {
    width: 1220px;
    margin: 0 auto;
    background-color: #f9fbff;
  }
  /deep/.element.style{
    box-shadow: 0px 0px 9px rgba(52, 52, 52, 0.07);
    height: 100%;
    margin-right: 10px;
  }
  /deep/.el-menu{
    width:370px;
    background-color: #3A66C4;
    color: white;
    border-radius: 10px 10px 0 0;
    height:33px;
    line-height: 30px;
    display:flex;
    .el-menu-item:focus, .el-menu-item:hover{
      color: black;
    }
  }
  /deep/.el-menu--horizontal>.el-menu-item.is-active{
    width:150px;
  background-color:white;
  color: black;
  text-align: center;
  // border-radius:8px;
  height:33px;
  line-height: 33px;
  box-shadow: 0 0 0 0;
}
.el-menu--horizontal>.el-menu-item{
  width:110px;
  height:33px;
  line-height:33px;
  border-radius: 9px 9px 0 0;
  padding:0 15px;
  color: white;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.05);
}
.el-menu.el-menu--horizontal{
  border-bottom: none;
}
/deep/#home /deep/.el-menu--horizontal > .el-menu-item{
  color:black
}
.el-menu--horizontal>.el-menu-item.is-active{
  // border-bottom: none;
  border-bottom:2px solid white
}
}
</style>
