<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: "app",
};
</script>
<style>
@import url('./assets/iconFont/iconfont.css');
#app{
  width:100%;
  height:100%;
  background:#E5E5E5
  /* overflow: hidden; */
}
body,html{
  width:100%;
  height:100%
}
</style>
