<template>
  <div class="login">
    <Header></Header>
    <div class="w">
      <img
        src="@/assets/image/image 12.png"
        alt=""
        style="float:left;margin-top:144px;margin-left:156px;width:374px;height:287px"
      />
      <el-card class="login-card">
        <div class="title">
          <p style="margin-top: 60px">用户登录</p>
          <!-- <img src="@/assets/image 12.png" alt="" /> -->
        </div>
        <el-form
          ref="myForm"
          style="margin-top: 30px"
          :model="loginForm"
          :rules="loginRules"
        >
          <el-form-item prop="mobile">
            <el-input
              v-model="loginForm.userName"
              placeHolder="请输入用户名"
            ></el-input>
          </el-form-item>
          <el-form-item prop="passwd" style="margin-top: 24px">
            <el-input v-model="loginForm.passwd" type="password" placeHolder="请输入密码" @keyup.enter.native="submitLogin">
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button
              @click="submitLogin"
              type="primary"
              style="
                width: 241px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 51px;
                background:linear-gradient(90deg, #123174 0%, #3A65C4 100%);
                border-radius: 4px;
              "
              >登录</el-button
            >
            <!-- <img src="@/assets/image/Group 147.png" alt="" style="width:241px;height:36px;margin-left:50px"> -->
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import login from "@/api/login";
import Header from "@/components/common/Header";
// import Header from "../../components/common/Header_1"
export default {
  name:'LoginIndex',
  components: {
    Header
  },
  data() {
    return {
      loginForm: {
        userName: "", // 用户名
        passwd: "" // 密码
      },
      loginRules: {
        userName: [{ required: true, message: "请输入用户名" }],
        passwd: [{ required: true, message: "请输入密码" }],
        check: [
          {
            validator: function(rule, value, callback) {
              if (value) {
                callback();
              }
            }
          }
        ]
      }
    };
  },
  methods: {
    submitLogin() {
      this.$refs.myForm.validate(isOK => {             
        if (isOK) {
          let params={
            userName:this.loginForm.userName,
            passwd:this.loginForm.passwd
          }
          login(params).then(res => {
            if (res.code ==0) {
              this.$router.push("/salesNumber");
              // sessionStorage.setItem("token", res.time);
              sessionStorage.setItem("userName", res.data.userName); 
            } else {
              this.$message.error(res.message);
            }
          }
          );
        }
      });
    }
  }
};
</script>
<style lang="less" scoped>
body {
  background-color: #e5e5e5;
}
.login {
  // background-image: url("../../");
  // background-image: url("../../assets/image/background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  background-color: #e5e5e5;
  // justify-content: center;
  // align-items: center;
  .login-card {
    width: 380px;
    height: 432px;
    margin-left: 660px;
    margin-top: 72px;
    .title {
      text-align: center;
      img {
        height: 44px;
      }
    }
  }
  .el-input {
    width: 241px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .w {
    width: 1220px;
    margin: 0 auto;
    background-color: white;
  }
  .login-card/deep/.el-form-item__error{
    margin-left:50px  !important;
    top:40px
  }
  /deep/#top_top_header .el-breadcrumb__inner span {
    color:black
  }
  /deep/input::-webkit-input-placeholder {
    color: #A1A1A1 !important;
    text-align:left!important;
  }
  /deep/input::-moz-placeholder {
    color: #A1A1A1!important ;
    text-align:left!important;

  }
  /deep/input:-moz-placeholder {
    color: #A1A1A1!important;
    text-align:left!important;
  }
  /deep/input:-ms-input-placeholder {
    color: #A1A1A1!important;
    text-align:left!important;

  }
}
</style>
